@charset "UTF-8";
@import "compass";
@import "../../../common/scss/colors";
@import "../../../common/scss/variables";
@import "../../../common/scss/mixins";

////////////////////////////////////////////////

// CAREER ~ 下層 水谷

////////////////////////////////////////////////



	////////// timeline 

.career-child{
	.timeline
	{
		// min-height: 3520px;

		///// flexbox-childの順番
		&_event{
		
			//幅が余るため。	
			&.vertical.alignRight{
				@include breakpoint( tab, min ){	
					align-items: flex-end;
				}
			}				
		}



		////////// 個別style
		&_event-1{

			@include breakpoint( tab, min ){
				width: 610px;
				margin-bottom: 75px;
				
				.timeline_event_num .icon{
					bottom: 0;
					right: 5px;
					
				}
			}  
		}

		&_event-6{
			@include breakpoint( tab, min ){
				width: 792px;
				margin-bottom: 75px;
				.timeline_event_num .icon{
					top: 0;
					left: -90px;
				}			
			}  
			
		}

		&_event-12{
			@include breakpoint( tab, min ){
				width: 797px;
				margin-bottom: 80px;
				
				.timeline_event_num .icon{
					top: 0;
					right: -90px;
				}			
			}  
		}

		&_event-17{
			@include breakpoint( tab, min ){
				width: 980px;
				margin-bottom: 60px;
				
				.timeline_event_img{
					align-self: flex-end;
				}

				.timeline_event_num{
					left: -13%;
				}
				.timeline_event_num .icon{
					top: 0;
					right: -130px;
				}			
			}  
			
			@include breakpoint( 1024 ){
				.timeline_event_num{
					left: 0;
				}
			} 
		}	


		&_event-18{
			@include breakpoint( tab, min ){
				width: 835px;
				margin-left: -100px;
				// margin-bottom: 60px;

				.timeline_event_num{
					top: 0;
					left: 65%;
				}
				.timeline_event_num .icon{
					top: 0;
					left: -120px;
				}			
			}  
			
			@include breakpoint( 1024 ){
				margin-left: 0
			} 			
		}			

		&_event-19{
			@include breakpoint( tab, min ){
				width: 552px;
				margin-top: -120px;
				margin-bottom: 0px;
	
				.timeline_event_num{
					top: 0;
					left: -20%;
				}
				.timeline_event_num .icon{
					top: 0;
					right: -200px;
				}			
			}  
		}

		&_event-24{
			@include breakpoint( tab, min ){
				width: 700px;
				margin-top: -50px;
				margin-bottom: 60px;
				
				.timeline_event_num{
					right: 0;
					top: 25%;
					align-self: center;
				}
				.timeline_event_num .icon{
					top: 0;
					right: -200px;
				}			
			}  
		}


		&_event-28{
			@include breakpoint( tab, min ){
				width: 890px;
	
				.timeline_event_num{
					right: 0;
					top: 10%;
				}
				.timeline_event_num .icon{
					top: 0;
					left: -140px;
				}			
			}  
		}

		&_future{
			@include breakpoint( 1024, min ){
				&_content_message{
					right: -130%;
				}
			} 			
		}
	}
}


	////////// timeline 
// .career-child
// {
// 	.mainvisual_name{
// 	}
// 	.timeline{
// 	}
// 	.timeline
// 	{
// 		// min-height: 3520px;

// 		&_event{
// 			/// years old　位置
// 			&.timeline_event-1 .yo{
// 				margin-left: -35px;
// 				}					
// 			}
// 			&.timeline_event-6 .yo,
// 			&.timeline_event-18 .yo,
// 			&.timeline_event-19 .yo,
// 			&.timeline_event-24 .yo,
// 			&.timeline_event-28 .yo{
// 					margin-left: -1px;
// 			}			

// 			/// 写真
			
// 			&_img{

// 				@include breakpoint( tab, min ){
			
// 					&.hasButton .button{
// 						top:  40%;
// 						bottom: auto;
// 						left: 180px;
// 					}
// 				}

// 			}

// 			/// テキスト
// 			&_text{

// 				.eventIndex{
// 				}

// 				@include breakpoint( tab ){
// 					.eventIndex{
// 					}
// 					br{
// 					}
// 				}
// 			}

// 			@include breakpoint( tab,min ){			
// 				&.vertical{
					
// 					.timeline_event_num{
// 					}

// 					.timeline_event_img{
// 					}
// 				}
// 				&.vertical-textTop{

// 					.timeline_event_img{
// 					}				
// 				}
// 			}

// 		}

// 		///// flexbox-childの順番
// 		&_event{


// 			///// 横組み
			
// 			//数字センター
// 			&.horizontal-numCenter{
// 				@include breakpoint( tab, min ){				

// 				}
// 			}

// 			//数字右
// 			&.horizontal-numRight{
// 				@include breakpoint( tab, min ){	

// 				}
// 			}

// 			//数字左
// 			&.horizontal-numLeft{
// 				@include breakpoint( tab, min ){	
// 				}
// 			}

// 			/////縦組み
// 			&.vertical{
// 				@include breakpoint( tab, min ){	
// 				}
// 			}
// 			&.vertical-textTop{
// 				@include breakpoint( tab, min ){	
// 				}
// 			}			

// 			//数字右
// 			&.vertical-numRight{
// 				@include breakpoint( tab, min ){	
// 				}
// 			}

// 			//数字左
// 			&.vertical-numLeft{
// 				@include breakpoint( tab, min ){	
// 				}
// 			}			
		
// 			//幅が余るため。	
// 			&.vertical.alignRight{
// 				@include breakpoint( tab, min ){	
// 				}
// 			}			
// 		}



// 		////////// 個別style
// 		&_event-1{

// 			@include breakpoint( tab, min ){
// 				.timeline_event_num .icon{
// 				}

// 				//align
// 				&.timeline_event{
// 					.timeline_event_text{
// 					}
// 					.timeline_event_img{
// 					}									
// 				}

// 			}  
// 		}

// 		&_event-6{
// 			@include breakpoint( tab, min ){
				
// 				// align
// 				.timeline_event_num {
// 				}
// 				.timeline_event_num .icon{
// 				}			
// 			}  
			
// 		}

// 		&_event-12{
// 			@include breakpoint( tab, min ){
				
// 				.timeline_event_num {
// 				}				
// 				.timeline_event_num .icon{
// 				}	
// 				.timeline_event_num .yo{
// 				}
				
// 				.timeline_event_img.hasButton .button{
// 				}

// 				//order
// 				&.timeline_event{
// 					.timeline_event_text{
// 					}
// 					.timeline_event_img{
// 					}									
// 				}
// 			}  
// 		}


// 		&_event-18{
// 			@include breakpoint( tab, min ){
				
// 				//align
// 				.timeline_event_num{
// 				}
// 				.timeline_event_num{
// 				}
// 				.timeline_event_num .icon{
// 				}

// 			}  
// 		}			

// 		&_event-23{
// 			@include breakpoint( tab, min ){
				
// 				.timeline_event_num{
// 				}
// 				.timeline_event_num .icon{
// 				}			
// 			}  
// 		}


// 		&_event-25{
// 			@include breakpoint( tab, min ){
	
// 				.timeline_event_num{
// 				}
// 				.timeline_event_num .icon{
// 				}			
// 			}  
// 		}

// 		&_now{

// 			@include breakpoint( tab, min ){
// 				margin-bottom: 300px;
// 			}  			
// 		}

// 		&_future{

// 			img{
// 			}

// 			&_index,
// 			&_content{

// 			}			

// 			&_index{
// 				@include breakpoint( tab ){
// 				}
// 			}

// 			&_content{
// 				margin: auto;
// 				display: table;
				
// 				&_img,
// 				&_message{
// 					display: table-cell;
// 					vertical-align: middle;
// 				}

// 				@include breakpoint( tab ){
// 					&_img,
// 					&_message{
// 						display: block;					
// 					}  		
// 				}		
// 			}

// 			&_content_message{
// 				p{
// 				}

// 				@include breakpoint( tab ){
// 				}				
// 			}

// 			&_content_img{
// 				@include breakpoint( tab ){
// 				}					
// 			}

// 			&_bg{
// 			}
			
// 		}
// 	}
	
// }