.career-child .mainvisual_name
{
    margin-top: -6.1%;
}
@media screen and (max-width: 580px)
{
    .career-child .mainvisual_name
    {
        margin-top: -7.2%;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-1
    {
        width: 693px;
        margin-right: 50px;
        margin-bottom: 40px;
    }
    .career-child .timeline_event-1 .timeline_event_num .icon
    {
        right: 20px;
        bottom: 15px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-6
    {
        width: 710px;
        margin-bottom: 85px;
    }
    .career-child .timeline_event-6 .timeline_event_text
    {
        margin-top: 50px;
    }
    .career-child .timeline_event-6 .timeline_event_num
    {
        top: 50px; 
        right: -70px;
    }
    .career-child .timeline_event-6 .timeline_event_num .icon
    {
        top: 75px;
        left: -130px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-12
    {
        width: 710px;
        margin-bottom: 120px;
    }
    .career-child .timeline_event-12 .timeline_event_num
    {
        left: -50px;

        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .career-child .timeline_event-12 .timeline_event_num .icon
    {
        top: -10px;
        right: -170px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-18
    {
        width: 890px;
        margin-bottom: 100px;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .career-child .timeline_event-18 .timeline_event_num .icon
    {
        top: -50px;
        left: 150px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-20
    {
        width: 880px;
        margin-bottom: 60px;
    }
    .career-child .timeline_event-20 .timeline_event_num
    {
        top: 75px;
        right: 0;
    }
    .career-child .timeline_event-20 .timeline_event_num .icon
    {
        top: 0;
        right: 140px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-22
    {
        width: 780px;
        margin-bottom: 76px;
    }
    .career-child .timeline_event-22 .timeline_event_num
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .career-child .timeline_event-22 .timeline_event_num .icon
    {
        top: 0;
        left: 60%;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-27
    {
        margin-bottom: 70px; 
        margin-left: 30px;
    }
    .career-child .timeline_event-27 .timeline_event_num
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .career-child .timeline_event-27 .timeline_event_num .icon
    {
        top: 0;
        left: -100px;
    }
}
@media screen and (min-width: 1024px)
{
    .career-child .timeline_future_content_message
    {
        right: -180%;
    }
}
@media screen and (max-width: 1024px)
{
    .career-child .timeline_future_content_img
    {
        -webkit-transform: translateX(-15%);
                transform: translateX(-15%);
    }
    .career-child .timeline_future_content_message
    {
        right: -150%;
    }
}
