@charset "UTF-8";
@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

////////////////////////////////////////////////

// RECRUITING

////////////////////////////////////////////////

////////////////////////

// modules

////////////////////////

.main{
	overflow: hidden
}

.section{
	padding-top: 70px;
	padding-bottom: 70px;
	
	&:nth-child( odd ){
		background-color: #f3f3f3;
	}

	@include breakpoint( tab ){
		padding-top: 40px;
		padding-bottom: 40px;			
	}
}

.careerSelectContent{
	min-height: 300px;
	display: none;
	&_content{
		transition: transition();
		// opacity: 0;
		transform-origin: 50%;
		transform: perspective($perspective) scale(1.01);
	}
	&.active{
			display: block;
		.careerSelectContent_content{
			transform: perspective($perspective) scale(1);			
		}
	}

	@include breakpoint( tab ){

	}	
}




/********************
navigation
********************/


.section-nav{
	@include liquid(980, 1400,true);
	background-color: transparent!important;
	

	&:last-child{
		padding-bottom: 0;
	}
	
	li{
		list-style: none;
	}

	a{
		color: inherit;
	}

	@include breakpoint( tab ){
		width: auto;
	}		
}

.infoNav ul,
.careerSelectNav ul{
	a{
		font-size: 1.85em;
		letter-spacing: 0.5em;
		display: block;
		
		@include mouseOver{
			
		}
	}

	@include breakpoint( tab ){
		a{
			font-size: 1em;
			letter-spacing: 0.1em;
		}
		
	}		
}


.infoNav ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	
	li{
		display: table-cell;
		vertical-align: middle;
	}

	li.active span{
		border-bottom: solid 2px $orange;
	}

	a{
		@include mouseOver{
			.icon-arrow{
				&:before{
					width: 30px;
				}	
				&:after{
					// transform: translateX(5px);
				}
			}
		}		
	}

	span{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding-right: 1em;
		padding-left: 1em;
	}

	.icon {
		height: 10px;
		margin-top: auto;
		margin-bottom: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		
	}

	li:first-child{
		padding-right: 2em;
		text-align: right;
	}
	li:last-child{
		padding-left: 2em;
		text-align: left;
	}	

	@include breakpoint( tab ){
		border-bottom : solid 1px $gray;	
	
		li.active{
			position: relative;
			
			&:after{
				content:  " ";
				width: 100%;
				line-height: 0;
				height: 1px;
				display: block;
				position: absolute;
				bottom: -1px;
				right: 0;
				left: 0;
				background-color: $orange;
			}
			
			 span{
				border-bottom: none;
			}
		}


		span{
			display: block;
			padding-top: 10px;
			padding-bottom: 10px;
		}		
		li:first-child,
		li:last-child{
			padding-left: 0;
			padding-right: 0px;
			text-align: left;
		}	
	}		
}

.careerSelectNav ul{
	width: calc( 100% + 5px );
	margin-top: 60px;
	display: table;
	table-layout: fixed;
	border-spacing: 10px 0;
	
	li{
		display: table-cell;
		vertical-align: middle;
		border: solid 1px $gray;
		text-align: center;
		a{
			padding: 0.5em;
		}

		@include mouseOver(){
			&:not(.active) a{
				background-color: $orange;
				color: #fff;
		
			}
		}

		&.active{
			a{
				background-color: $orange;
				color: #fff;
			}
		}
	}

	@include breakpoint( tab ){
		width: 100%;
		margin-top: 20px;
		border-spacing: 1px 0;
		
		li{
			border: none;
			
			&:not( active ){
				border: solid 1px $gray;
			}
		}
	}		

}

/********************
募集職種
********************/
.section-genre{
	
	.genreList{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
		
		li{
			padding-top: 1em;
			padding-bottom: 1em;
			list-style: none;
			text-align: center;
			border-bottom: solid 1px $gray;
			background-color: #fff;
			
			&:first-child{
				border-top: solid 1px $gray;
			}
		}
	}

	@include breakpoint( tab ){
		.genreList{
			font-size: 1em;
			
			li{
				padding: 1em;
				border-bottom: solid 1px $gray;
				background-color: #fff;
			}
		}
	}	

}



/********************
募集要項
********************/
.section-requirement{

	.requirementInfo
	{
		max-width: 720px;
		margin-right: auto;
		margin-left: auto;
		&_list{
			display: table;
			
			dt,
			dd{
				display: table-cell;
				vertical-align: top;
				box-sizing: border-box
			}
			>dt{
				width: 105px;
				padding-right: 2em;
				border-right: solid 2px $orange;
				font-weight: bold;
			}
			>dd{
				padding-left: 2em;
			}
			p{
				margin-top: 0;
			}
			ol{
				clear: both;
				margin: 0;
				overflow: hidden;
				li{
					float: left;
					list-style-position: inside;
					vertical-align: middle;
				}
			}

			section{
				margin-bottom: 1em;
			}

			dl{
				display: table;
				dt
				dd{
					padding: 1em;
					margin: 0;
				}
				dt{
					width: 6em;
				}
			}
			.listNum{
				margin-bottom: 5px;
			}
			.listHeader{
				font-weight: bold;
				font-size: 1.05em;
				&:before{
					content: "○";
					display: inline-block;
					vertical-align: middle;
					margin-right: 3px;
				}
			}


			.attention{
				
			}
		}	
	}

}



/********************
採用ステップ
********************/
.section-steps{

	.section_content{
		font-size: 1.15em;
		text-align: center;	
	}

	@include breakpoint( tab ){
		.section_content{
			font-size: 1em;
		}		
	}		

}



/********************
entry
********************/
.section-entry{

	@extend %gradation;
	
	.section_index{
		&_main:after{
			// background: darken( $orange, 20  );
		}
	}

	.section_content{
		font-size: 1.15em;
		text-align: center;	
		
		p{
			color: #fff;
			margin-bottom: 50px;
		}
	}

	.entryBannerList{
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;

		text-align: center;
		li{
			width: calc( 50% - 10px );
			padding-top: 30px;
			padding-bottom: 30px;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
			list-style: none;
			position: relative;
			bottom: 0;
			transition: transition();
			background-color: #fff;
			// display: table-cell;
			box-shadow: 0 3px 0 #000;
			
			&:last-child{
				margin-right: 0;
			}
			a{
				display: block;
			}

			@include mouseOver(){
				bottom: -3px;
				box-shadow: 0 0px 0 #000;;
			}
		}
	}


	@include breakpoint( tab ){

		.entryBannerList{
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;

			text-align: center;
			li{
				width: 100%;
				margin-right: 0px;
				display: block;
				
				&:first-child{
					margin-bottom: 10px;
				}
			}
		}		

	}		

}



/****************************************
求める人物像〜
****************************************/

.recruiting-walfare
{

/********************
求める人物像
********************/
.section-requirement{
	// padding-top: 0;
	// padding-bottom: 0;
	padding-bottom: 200px;
	background: url(../img/motomeru-bg.jpg) center bottom 20% no-repeat;
	background-size: cover;
	text-align: center;
	
	position: relative;
	// .wrap{
	// 	margin-top: 30px;
	// 	position: absolute;
	// 	top: 0;
	// }
	
	.requirementList{
		padding-left: 0;
		display: inline-block;

		li{
			display: table;
			margin-bottom: 70px;
			list-style: none;
			font-size: 2em;
			font-feature-settings: 'palt';
			letter-spacing: 0.25em;
			
			.num,.text{
				display: table-cell;
				vertical-align: middle;
			}

			.text{
				padding-left: 60px;
			}
		}
	}

	@include breakpoint( tab ){

		padding-bottom: 100px;

		.requirementList{

			li{
				display: table;
				margin-bottom: 20px;
				list-style: none;
				font-size: 1em;
				font-feature-settings: 'palt';
				letter-spacing: 0.25em;
				

				&:first-child .num img{ width: 44px }
				
				.num,.text{
					text-align: left;
				}				
				.num{
					width: 50px;
				}

				.text{
					padding-left: 30px;
					text-align: left
				}
			}
		}		

	}		
}


/********************
制度、福利厚生
********************/

.section-walfare{
	background-color: #f3f3f3;	
	
	.walfarePanels{
		position: relative;
		
		.row{
			margin-bottom: 10px;
			// display: table;
			display: flex;
			flex-direction: row;
			align-items: stretch;
			justify-content: space-between;
			
			.walfarePanels_child{
				transition: all 0.5s;				
				&:nth-child( even ){
					@include background-image( linear-gradient(to right, #ff431e, #ff831f) );
				}				

				&:hover{
					background-position: 100% 100%!important;
					background-size: 300%!important;
				}			
			}

			&:nth-child( even ){
				.walfarePanels_child{
					&:nth-child( even ){
						@include background-image( linear-gradient(to right, #ff8d1d, #ffb605) );
					}						
					&:nth-child( odd ){
						@include background-image( linear-gradient(to right, #ff431e, #ff831f) );
					}				
				}				
			}

			@include breakpoint( tab ){
				flex-direction: column;
				margin-bottom: 0;
				
				.walfarePanels_child{
					margin-bottom: 10px;
				}				
			
			}			
			
		}
		&_child{
			max-width: calc( 50% - 10px );
			width: calc( 50% - 10px );
			// padding: 30px;
			margin-left: 5px;
			margin-right: 5px;
			color: #fff;
			position: relative;
			bottom: 0;
			box-shadow: 0 3px 0 rgba( #000,1 );
			cursor: pointer;
			transition: transition($s:0.1s);
			@include background-image( linear-gradient(to right, #ff8d1d, #ffb605) );
			// display: table-cell;
			
			@include mouseOver(){
				bottom: -3px;
				box-shadow: 0 0px 0 rgba( #000,1 );
			}
			
			&:nth-child( even ){
				@include background-image( linear-gradient(to right, #ff431e, #ff831f) );
			}

			@include breakpoint( tab ){
				max-width: none;
				width: auto;
			}				
		}

		.icon-plus{
			margin: auto;
			position: absolute;
			top: 0;
			right: 20px;
			bottom: 0;
			border-radius: 100%;
			background-color: rgba(#fff,0.2);
		}

		.panelTable{
		    padding: 30px;
		    height: 200px;			
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
	
			///// icon
			&_icon{
				width: 100%;
				display: table;
				&_img,
				&_caption{
					display: table-cell;
					vertical-align: middle;
				}
				&_img{
					@include liquid( 180, 580 );
					text-align: center;
				}
				&_caption{
					// padding-left: liquidSpace( 50, 580 );
					text-align: center;
				}
			}

			&_text{
				// width: 50%;
				// padding-left: 10%;
				// padding-right: 10%;
				width: 0;
				white-space: nowrap;
				overflow: hidden;
			}
			@include breakpoint( tab ){
				height: 100px;
			}				
		}
	}
}


	
}