@charset "UTF-8";
@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

////////////////////////////////////////////////

// RECRUITING

////////////////////////////////////////////////

////////////////////////

// modules

////////////////////////

.main{
	overflow: hidden
}



.pageIndex_text{
	@include breakpoint( tab ){
		@include liquid(550, 800, true );
	}	
}



.section{
	padding-top: 70px;
	padding-bottom: 70px;
	
	&:nth-child( odd ){
		background-color: #f3f3f3;
	}

	@include breakpoint( tab ){
		padding-top: 40px;
		padding-bottom: 40px;			
	}
}



.careerSelectContent{
	min-height: 300px;
	display: none;
	&_content{
		transition: transition();
		// opacity: 0;
		transform-origin: 50%;
		transform: perspective($perspective) scale(1.01);
	}
	&.active{
			display: block;
		.careerSelectContent_content{
			transform: perspective($perspective) scale(1);			
		}
	}

	@include breakpoint( tab ){

	}	
}




/********************
navigation
********************/


.section-nav{
	@include liquid(980, 1400,true);
	background-color: transparent!important;
	

	&:last-child{
		padding-bottom: 0;
	}
	
	li{
		list-style: none;
	}

	a{
		color: inherit;
	}

	@include breakpoint( tab ){
		width: auto;
	}		
}

nav + nav > ul{
	margin-top: 60px;
	@include breakpoint( tab ){
		margin-top: 20px;
	}
}

.infoNav ul,
.careerSelectNav ul{
	a{
		font-size: 1.85em;
		letter-spacing: 0.5em;
		display: block;
		
		@include mouseOver{
			
		}
	}

	@include breakpoint( tab ){
		a{
			font-size: 1em;
			letter-spacing: 0.1em;
		}
	}		
}


.infoNav ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	
	li{
		display: table-cell;
		vertical-align: middle;
	}

	li.active span{
		border-bottom: solid 2px $orange;
	}

	a{
		@include mouseOver{
			.icon-arrow{
				&:before{
					width: 30px;
				}	
				&:after{
					// transform: translateX(5px);
				}
			}
		}		
	}

	span{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding-right: 1em;
		padding-left: 1em;
	}

	.icon {
		height: 10px;
		margin-top: auto;
		margin-bottom: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		
	}

	li:first-child{
		padding-right: 2em;
		text-align: right;
	}
	li:last-child{
		padding-left: 2em;
		text-align: left;
	}	

	@include breakpoint( tab ){
		border-bottom : solid 1px $gray;	
	
		li.active{
			position: relative;
			
			&:after{
				content:  " ";
				width: 100%;
				line-height: 0;
				height: 1px;
				display: block;
				position: absolute;
				bottom: -1px;
				right: 0;
				left: 0;
				background-color: $orange;
			}
			
			 span{
				border-bottom: none;
			}
		}


		span{
			display: block;
			padding-top: 10px;
			padding-bottom: 10px;
		}		
		li:first-child,
		li:last-child{
			padding-left: 0;
			padding-right: 0px;
			text-align: left;
		}	
	}		
}

.careerSelectNav ul{
	width: calc( 100% + 5px );
	display: table;
	table-layout: fixed;
	border-spacing: 10px 0;
	
	li{
		display: table-cell;
		vertical-align: middle;
		border: solid 1px $gray;
		text-align: center;
		a{
			padding: 0.5em;
		}

		@include mouseOver(){
			&:not(.active) a{
				background-color: $orange;
				color: #fff;
		
			}
		}

		&.active{
			a{
				background-color: $orange;
				color: #fff;
			}
		}
	}

	@include breakpoint( tab ){
		width: 100%;
		border-spacing: 1px 0;
		
		li{
			border: none;
			
			&:not( active ){
				border: solid 1px $gray;
			}
		}
	}		

}

/********************
募集職種
********************/
.section-genre{
	
	.genreList{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
		
		li{
			padding-top: 1em;
			padding-bottom: 1em;
			list-style: none;
			text-align: center;
			border-bottom: solid 1px $gray;
			background-color: #fff;
			
			&:first-child{
				border-top: solid 1px $gray;
			}
		}
	}

	@include breakpoint( tab ){
		.genreList{
			font-size: 1em;
			
			li{
				padding: 1em;
				border-bottom: solid 1px $gray;
				background-color: #fff;
			}
		}
	}	

}



/********************
募集要項
********************/
.section-requirement{

	.requirementInfo
	{
		max-width: 720px;
		margin-right: auto;
		margin-left: auto;
		&_list{
			width: 100%;
			display: table;
			
			dt,
			dd{
				display: table-cell;
				vertical-align: top;
				box-sizing: border-box
			}
			>dt{
				width: 105px;
				padding-right: 2em;
				border-right: solid 2px $orange;
				font-weight: bold;
				
				@include breakpoint( tab ){
					width: 95px;
					padding-right: 0.5em;
				}		

			}
			>dd{
				padding-left: 2em;
				@include breakpoint( tab ){
					padding-left: 1em;
				}					
			}
			p{
				margin-top: 0;
			}
			ol{
				clear: both;
				margin: 0;
				padding: 0;
				overflow: hidden;
				li{
					float: left;
					list-style-position: inside;
					vertical-align: middle;
					&:last-child{
						margin-left: 1em;
					}
				}
				@include breakpoint( tab ){
					li{
						float: none;
						&:last-child{
							margin-left: 0em;
						}
					}					
				}					
			}

			section{
				margin-bottom: 1em;
			}

			dl{
				margin-top: 0;
				margin-bottom: 5px;
				display: table;
				
				&:last-child{
					margin-bottom: 0;
				}
				dt
				dd{
					padding: 1em;
					margin: 0;
				}
				dt{
					width: 6em;
				}

				@include breakpoint( tab ){
					display: block;
					dt,
					dd{
						display: block;
					}					
					
					dt{
						width: auto;
						border-bottom: solid 1px $gray;
						padding{
							top: 0;
							right: 5px;
							bottom: 5px;
							left: 5px;
						}
					}
					dd{
						padding-right: 0;
						padding-left: 0;
						margin-top: 5px;
						margin-left: 0;
					}
				}					
			}

			.listNum{
				margin-bottom: 5px;
			}

			.listIndex{
				font-size: 1.15em;
				margin-bottom: 5px;
			}

			.listHeader{
					margin-bottom: 5px;
				font-weight: bold;
				font-size: 1.05em;
				&:before{
					content: "○";
					display: inline-block;
					vertical-align: middle;
					margin-right: 3px;
				}

				@include breakpoint( sp ){
					font-size: 1em;
				} 
			}


			.attention{
				
			}
		}
		&_list-school{
			li{
				display: inline-block;
				&:not(:first-child):before{
					content: "・";
				}
			}

			@include breakpoint( tab ){
				li{
					display: inline;
					&:not(:first-child):before{
						content: "/";
					}
				}
			}					
		}

		.fukurikousei > div {
			display: inline-block;
			vertical-align: top;
			
			img{
				margin-left: 20px
			}
			
			@include breakpoint( tab ){
				display: inline;
				
				img{
					margin-left: 0;
				}

			}			
		}


	}

}



/********************
採用ステップ
********************/
.section-steps{

	.section_content{
		font-size: 1.15em;
		text-align: center;	
	}

	@include breakpoint( tab ){
		.section_content{
			font-size: 1em;
		}		
	}		

}



/********************
entry
********************/
.section-entry{

	@extend %gradation;
	
	.section_index{
		&_main:after{
			// background: darken( $orange, 20  );
		}
	}

	.section_content{
		font-size: 1.15em;
		text-align: center;	
		
		p{
			color: #fff;
			margin-bottom: 50px;
		}
	}

	.entryBannerList{
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;

		text-align: center;
		li{
			width: calc( 50% - 10px );
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
			list-style: none;
			position: relative;
			bottom: 0;
			transition: transition($s:0.1s);
			background-color: #fff;
			// display: table-cell;
			box-shadow: 0 3px 0 #000;
			
			&:last-child{
				margin-right: 0;
			}
			a{
				padding-top: 30px;
				padding-bottom: 30px;				
				display: block;
			}

			&:hover,
			&:active,
			&:focus{
				bottom: -3px;
				box-shadow: 0 0px 0 #000;;
			}
		}

		&-career li a{
			letter-spacing: 0.25em;
			font-weight: bold;
			color: darken($orange, 10);
		}
	}


	@include breakpoint( tab ){

		.section_index{
			@include liquid(158, 640, true );
		}

		.section_content{
			font-size: 1em;
			
			p{
				display: none;
			}
		}		

		.entryBannerList{
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;

			text-align: center;
			li{
				width: 100%;
				padding-top: 0px;
				padding-bottom: 0px;
				margin-right: 0px;
				display: block;
				
				a{
					padding-top: 15px;
					padding-bottom: 15px;
				}
				
				a,img{
					line-height: 1;
				}
				img{
					width: 50%;
				}
				
				&:first-child{
					margin-bottom: 10px;
				}
			}
		}		

	}		

}



/****************************************
求める人物像〜
****************************************/

.recruiting-walfare
{

/********************
求める人物像
********************/
.section-requirement{
	// padding-top: 0;
	// padding-bottom: 0;
	padding-bottom: 200px;
	background: url(../img/motomeru-bg.jpg) center bottom 20% no-repeat;
	background-size: cover;
	text-align: center;
	
	position: relative;
	// .wrap{
	// 	margin-top: 30px;
	// 	position: absolute;
	// 	top: 0;
	// }
	
	.requirementList{
		padding-left: 0;
		display: inline-block;

		li{
			display: table;
			margin-bottom: 70px;
			list-style: none;
			font-size: 2em;
			font-feature-settings: 'palt';
			letter-spacing: 0.25em;
			
			.num,.text{
				display: table-cell;
				vertical-align: middle;
			}

			.text{
				padding-left: 60px;
			}
		}

	}

	@include breakpoint( tab ){

		padding-bottom: 100px;

		.requirementList{

			li{
				display: table;
				margin-bottom: 20px;
				list-style: none;
				font-size: 1em;
				font-feature-settings: 'palt';
				letter-spacing: 0.25em;
				

				&:first-child .num img{ width: 44px }
				
				.num,.text{
					text-align: left;
				}				
				.num{
					width: 50px;
				}

				.text{
					padding-left: 30px;
					text-align: left
				}
			}
		}		

	}		
}


/********************
制度、福利厚生
********************/

.section-walfare{
	background-color: #f3f3f3;		
	overflow: hidden;	
	
	// .walfarePanels{
	// 	@include liquid( 1130, 1300, true );
	// }
	.walfarePanel{
		min-height: 250px;
		margin-bottom: 20px;
		padding-right: liquidSpace( 300, 1130 );
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-direction: row;	
		
		@include breakpoint( tab ){
			display: block;
			padding-right: 0;
			background-image: none!important;

			&:after{
				content:  " ";
				display: block;
				width: auto;
				height: 0;
				margin-right: -6%;
				padding-top: 39%;
				overflow: hidden;
			}
		}
		
		&_index,
		&_content{	
				padding-top: 70px;
				padding-right: 50px;
				padding-bottom: 70px;
				padding-left: 50px;				
				box-sizing: border-box;
				
				display: flex;
				align-items: center;
				flex-direction: row;
				
			@include breakpoint( tab ){
				padding:{
					top: 15px;
					right: 2.5%;
					bottom: 15px;
					left: 2.5%;
				}
				display: block;
			}						
		}		
		
		&_index{
			// @include liquid( 350, 1130 );
			width: 300px;
			padding-right: 100px;
			flex-grow: 1;
			flex-basis: 100%;
			align-items: flex-start;
			
			font-size: 1.15em;
			color: #fff;
			
			@include background-image( linear-gradient( to left, #ff991f ,#ff3d1f) );
			
			p{
				margin: 0;
			}
			.ja{
				font-size: 1.125em;
				// margin-top: 1em;				
			}

			@include breakpoint( tab ){
				width: auto;
				margin-left: -15%;
				padding-left: 15%;
				transform: skew( -15deg );
				
				.ja{
					line-height: 1;
					font-size: 1em;
				}
				h4{
					transform: skew( 15deg );
				}				
			}				

		}

		&_content{
			width: 200%;
			flex-grow: 2;			
			margin-left: -7%;
			margin-right: -5%;
			transform: skew( -15deg );
					
			background-color: #fff;
			
			div{
				transform: skew( 15deg );
			}
			@include breakpoint( tab ){
				width: auto;
				margin-left: auto;
				margin-right: auto;
				transform: none;
				background-color: transparent;
				
				div{
					transform: none;
				}				
			}				
		}


		///////// team building
		&-teambuilding{
			background: url(../img/team-img.jpg) right center no-repeat;
			background-size: contain;
			
			@include breakpoint( tab ){
				&:after{
					background: url(../img/_sp/team-img.jpg) right center no-repeat;
					background-size: contain;					
				}
			}				
		}
		///////// education ~ 
		&-education{
			background: url(../img/education-img.jpg) right center no-repeat;
			background-size: contain;
			@include breakpoint( tab ){
				&:after{
					background: url(../img/_sp/education-img.jpg) right center no-repeat;
					background-size: contain;					
				}
			}			
		}
		///////// training for new ~ 
		&-training{
			background: url(../img/training-img.jpg) right center no-repeat;
			background-size: contain;
			@include breakpoint( tab ){
				&:after{
					background: url(../img/_sp/training-img.jpg) right center no-repeat;
					background-size: contain;					
				}
			}			
		}
		///////// highly ~ 
		&-highly{
			background: url(../img/highly-img.jpg) right center no-repeat;
			background-size: contain;
			@include breakpoint( tab ){
				&:after{
					background: url(../img/_sp/highly-img.jpg) right center no-repeat;
					background-size: contain;					
				}
			}			
		}
		///////// qualification ~ 
		&-qualification{
			background: url(../img/qualification-img.jpg) right center no-repeat;
			background-size: contain;
			@include breakpoint( tab ){
				&:after{
					background: url(../img/_sp/qualification-img.jpg) right center no-repeat;
					background-size: contain;					
				}
			}			
		}
		///////// maternity ~ 
		&-maternity{
			background: url(../img/maternity-img.jpg) right center no-repeat;
			background-size: contain;
			@include breakpoint( tab ){
				&:after{
					background: url(../img/_sp/maternity-img.jpg) right center no-repeat;
					background-size: contain;					
				}
			}			
		}
	}
}


	
}