@media screen and (min-width: 780px)
{
    .career-child .timeline_event.vertical.alignRight
    {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-1
    {
        width: 670px;
        margin-bottom: 75px;
    }
    .career-child .timeline_event-1 .timeline_event_num .icon
    {
        right: 5px; 
        bottom: 0;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-6
    {
        width: 792px;
        margin-bottom: 75px;
    }
    .career-child .timeline_event-6 .timeline_event_num .icon
    {
        top: 0;
        left: -90px;
    }
    .career-child .timeline_event-6 .timeline_event_img.hasButton .button
    {
        top: auto;
        right: -10px;
        bottom: 0;
        left: auto;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-12
    {
        width: 797px;
        margin-bottom: 80px;
    }
    .career-child .timeline_event-12 .timeline_event_num .icon
    {
        top: 0;
        right: -90px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-17
    {
        width: 980px;
        margin-bottom: 60px;
    }
    .career-child .timeline_event-17 .timeline_event_img
    {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .career-child .timeline_event-17 .timeline_event_num
    {
        left: -13%;
    }
    .career-child .timeline_event-17 .timeline_event_num .icon
    {
        top: 0;
        right: -130px;
    }
}
@media screen and (max-width: 1024px)
{
    .career-child .timeline_event-17 .timeline_event_num
    {
        left: 0;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-18
    {
        width: 850px;
        margin-left: -100px;
    }
    .career-child .timeline_event-18 .timeline_event_num
    {
        top: 0;
        left: 65%;
    }
    .career-child .timeline_event-18 .timeline_event_num .icon
    {
        top: 0;
        left: -120px;
    }
}
@media screen and (max-width: 1024px)
{
    .career-child .timeline_event-18
    {
        margin-left: 0;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-19
    {
        width: 585px;
        margin-top: -120px;
        margin-bottom: 0;
    }
    .career-child .timeline_event-19 .timeline_event_num
    {
        top: 0;
        left: -20%;
    }
    .career-child .timeline_event-19 .timeline_event_num .icon
    {
        top: 0;
        right: -200px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-24
    {
        width: 700px;
        margin-top: -80px;
        margin-bottom: 50px;
    }
    .career-child .timeline_event-24 .timeline_event_num
    {
        top: 25%;
        right: 0;

        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .career-child .timeline_event-24 .timeline_event_num .icon
    {
        top: 0;
        right: -200px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-25
    {
        width: 890px;
    }
    .career-child .timeline_event-25 .timeline_event_num
    {
        top: 10%; 
        right: 0;
    }
    .career-child .timeline_event-25 .timeline_event_num .icon
    {
        top: 0;
        left: -140px;
    }
}
@media screen and (min-width: 1024px)
{
    .career-child .timeline_future_content_message
    {
        right: -130%;
    }
}
