.person-child .personVisual_profile,
.person-child .personVisual_bg,
.person-child .personVisual_bg-back
{
    top: 0;
    bottom: 0;
    left: 16.71429%;

    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 780px)
{
    .person-child .personVisual_profile_num
    {
        width: 25.625%;
    }
}
.person-child .personVisual .name span
{
    display: inline-block;
}
.person-child .personVisual .name .ja
{
    font-size: 1.9em;

    letter-spacing: .05em;
}
.person-child .personVisual .name .en
{
    margin-top: 10px;
    margin-left: 0;
}
@media screen and (max-width: 780px)
{
    .person-child .personVisual .name .ja
    {
        font-size: 2em;
    }
}
