//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////


////base settings
$basefontColor : #3a3a3a;
$link: #12aaaf;



////project settings
$gray: #fcfcfc;

$red : #9a0000;
// $red : #ff0012;
$blue : #0069ff;

$purple : #7265b0;
$purpleDarken : #51487d;
$purpleLighten : #e2dcfc;
$purpleGraysh : #67637d;
$deeppurple : #28233d;


$baseyellow : #efff00;
$yellow : #f0e614;
$yellowDarken : #9c901a;

$gold : #BDA05F;
$baseGreen: #FAFCEF; 

$instagram: #3f729b;
$twitter: #55acee;
$facebook: #3b5998;
$hatena: #008fed;
