@charset "UTF-8";
//////////////////////////////////////////

//layout

//include by style.scss

//////////////////////////////////////////

%lastChild{
	&:last-child{
		margin-right: 0;
	}	
}


////////////////////

// header

////////////////////

//////// 固定ナビ高さ分余白
body.headerFix
{

	//media queries
	@include breakpoint( sp ){
		//ナビの高さ
		padding-top: 45px;

		.header{
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
		}	
		
	} //max 580

}