@charset "UTF-8";
//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////


////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.header
{
	&_wrap,
	&_buttons{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}

	&_wrap{
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: solid 1px $gray;
		
	}

	&_logo{
		margin-right: auto;
		
		img{
			display: inline-block;
			vertical-align: middle;
		}

		.recruiting{
			margin-left: 30px;
		}
	}

	&_buttons
	{
		
		li{
			width: 140px;
			margin-right: 10px;
			display: inline-block;
			// vertical-align: middle;
			
			&:last-child{
				margin-right: 0;
			}
		}
		a{
			line-height: 1;
			padding-top: 10px;
			padding-bottom: 10px;
			display: block;
			text-align: center;
			font-family: $roboto_cond;
			font-weight: bold;
			letter-spacing: 0.1em;
			color: #fff;
			background: $orange;
		}	
	}



	//////// media queries 
	@include breakpoint( sp ){
		z-index: 3;
		
		.header_top{
			padding-top: 0;
			padding-bottom: 0;		
			background-color: #fff;
		}

	} //max 580	
}


////////////////////

// footer

////////////////////

.footer
{

	text-align: center;
	
	// @extend %gradation;
	
	// ////フッター上部
	// &_top
	// {
	// 	padding-top: 10rem;
	// 	padding-bottom: 10em;
	// 	text-align: center;
		
	// }
	
	//copyright
	&_copyright
	{
		width: $outerWidth;
		margin-left: auto;
		margin-right: auto;
		display: table;
		border-top: solid 12px #e7e7e7;
		
		padding: {
			top:5rem;
			bottom: 5rem;
		}
		overflow: hidden;
		
		&_logo,
		&_copy{	
			line-height: 1;			
			display: table-cell;
			vertical-align: middle;
		}
		
		&_logo{
			float: left;
		}
		&_copy{
			font-size: 1rem;
			float: right;
		}
	}


	//////// media queries 
	@include breakpoint( sp ){

		.footer_top
		{
			li{
				margin-left: 0;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				padding-left: 0;
				display: block;
				border-left: 0;
				border-bottom: solid 1px #333;
			}
		}

	} //max 580
}



////////////////////

// navigation

////////////////////




////////////////////

// menu open ( overlay )

////////////////////



////////////////////

// back to top

////////////////////

.backToTop{
	line-height: 1;
	margin: 0;
	padding: 0;
	display: none;
	bottom: 0;
	right: 10px;
	position: fixed;
	z-index: 99;
	cursor: pointer;
	// opacity: 0;
	
	transition: transform 0.5s;
	
	&.moving{
		@include rotate3d( 50, 1000, 500, 360deg, 500 );
	}
}