@charset 'UTF-8';
.wjuQ_row
{
    max-width: 980px;
    margin-right: auto; 
    margin-left: auto;
}

.qaSection_yes
{
    display: inline-block;

    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;

    text-align: center;

    color: #ff6d1f; 
    border-bottom: solid 1px;
}

.pageIndex
{
    margin-bottom: 80px;
}
@media screen and (max-width: 780px)
{
    .pageIndex
    {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 780px)
{
    .pageIndex_text
    {
        width: 66.25%;
        margin-right: auto; 
        margin-left: auto;
    }
}

/**
* モーダル
*/
.wjuQ_modal
{
    display: none;

    max-width: 100%;
    margin-top: 10px;

    color: #fff;
}
.wjuQ_modal a
{
    word-wrap: break-word;
}
.wjuQ_modal_index
{
    font-size: 2em;
    font-weight: lighter;

    margin-bottom: 1em;

    text-align: center;

    color: #fff;
}
.wjuQ_modal_index span
{
    display: inline-block;

    text-align: left;
    vertical-align: middle;
}
@media screen and (max-width: 780px)
{
    .wjuQ_modal_index
    {
        font-size: 1.4em;
    }
}
.wjuQ_modal .modalNum
{
    line-height: 1;

    width: 120px;
    margin-right: 20px;
}
@media screen and (max-width: 780px)
{
    .wjuQ_modal .modalNum
    {
        display: block; 

        width: 50px;
        margin-right: auto;
        margin-left: auto;
    }
}

/**
* モーダル QA
*/
.qaSection
{
    margin-bottom: 50px; 

    text-align: center;
}
.qaSection_index
{
    font-size: 2em;
    font-weight: lighter; 

    margin-bottom: 20px;
}
.qaSection_index:before
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em; 
    font-weight: 500;
    line-height: 1;

    display: inline-block;

    margin-right: 10px;

    vertical-align: middle;
    text-transform: uppercase;
}
.qaSection_index > span
{
    display: inline-block;

    text-align: left; 
    vertical-align: middle;
}
@media screen and (max-width: 780px)
{
    .qaSection_index
    {
        font-size: 1.2em; 

        margin-bottom: 15px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .qaSection_index:before
    {
        display: block; 

        margin-right: 0;
    }
}
.qaSection_yes
{
    font-size: 1.5em; 
    font-weight: bold;
}
@media screen and (max-width: 780px)
{
    .qaSection_yes
    {
        font-size: 1em;
    }
}
.qaSection_content
{
    box-sizing: border-box;
    width: 76.53061%;
    margin-right: auto; 
    margin-left: auto;
    padding-right: 10%;
    padding-left: 10%;

    text-align: left;
}
@media screen and (max-width: 780px)
{
    .qaSection_content
    {
        width: auto; 
        padding-right: 0;
        padding-left: 0;
    }
}
.qaSection_footerImg
{
    margin-top: 30px;

    text-align: center;
}
.qaSection_footerImg a
{
    display: block;
}
.qaSection_footerImg a img
{
    border-radius: 20px;
}
.qaSection-a .qaSection_index
{
    color: #ff6d1f;
    border-color: #ff6d1f;
}
.qaSection-a .qaSection_index:before
{
    content: 'A';
}
.qaSection-q .qaSection_index
{
    padding-bottom: 0;

    color: #fff; 
    border: none;
}
.qaSection-q .qaSection_index:before
{
    content: 'Q';
}

/**
* パネル
*/
.wjuQ_row
{
    position: relative;

    overflow: hidden; 

    height: 0;
    padding-top: 30.61224%;
}
.wjuQ_row_panel
{
    line-height: 1;

    position: absolute;
    top: 0;
}
.wjuQ_row_panel image
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.wjuQ_row_panel image:hover,
.wjuQ_row_panel image:active,
.wjuQ_row_panel image:focus
{
    opacity: .8;
}
@media screen and (max-width: 1368px)
{
    .wjuQ_row
    {
        padding-top: 36.73469%;
    }
}
@media screen and (max-width: 1000px)
{
    .wjuQ_row
    {
        margin-bottom: 2%;
    }
}

.introduction
{
    font-size: 2em;
    font-weight: lighter;

    margin-bottom: 30px;

    text-align: center;
}
.introduction h3:before,
.introduction h3:after
{
    display: inline-block;

    width: 5%;
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;

    content: ' ';
    vertical-align: middle;

    background: #999;
}
@media screen and (max-width: 780px)
{
    .introduction
    {
        font-size: 1.1em;
    }
    .introduction h3:before,
    .introduction h3:after
    {
        width: 3%; 

        content: ' ';
    }
}

.mask-1
{
    // -webkit-clip-path: url(#panel1);
            clip-path: url(#panel1);
}

.mask-2
{
    // -webkit-clip-path: url(#panel2);
            clip-path: url(#panel2);
}

.mask-3
{
    // -webkit-clip-path: url(#panel3);
            clip-path: url(#panel3);
}

.mask-4
{
    // -webkit-clip-path: url(#panel4);
            clip-path: url(#panel4);
}

.mask-5
{
    // -webkit-clip-path: url(#panel5);
            clip-path: url(#panel5);
}

.mask-6
{
    // -webkit-clip-path: url(#panel6);
            clip-path: url(#panel6);
}

.mask-7
{
    // -webkit-clip-path: url(#panel7);
            clip-path: url(#panel7);
}

.mask-8
{
    // -webkit-clip-path: url(#panel8);
            clip-path: url(#panel8);
}

/**
* Q01
*/
.wjuQ_row_panel-01
{
    left: 0; 

    width: 53.46939%;
    height: auto;
}

/**
* Q02
*/
.wjuQ_row_panel-02
{
    right: 0; 

    width: 55.40816%;
    height: auto;
}

/**
* Q03
*/
.wjuQ_row_panel-03
{
    left: 0; 

    width: 38.16327%;
    height: auto;
}

/**
* Q04
*/
.wjuQ_row_panel-04
{
    right: 0; 
    left: 0;

    width: 42.55102%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/**
* Q05
*/
.wjuQ_row_panel-05
{
    right: 0; 

    width: 37.7551%;
    height: auto;
}

/**
* Q06
*/
.wjuQ_row_panel-06
{
    left: 0; 

    width: 37.7551%;
    height: auto;
}

/**
* Q07
*/
.wjuQ_row_panel-07
{
    right: 0; 
    left: 0;

    width: 39.69388%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
}

/**
* Q08
*/
.wjuQ_row_panel-08
{
    right: 0; 

    width: 32.44898%;
    height: auto;
}
