@charset 'UTF-8';
.pageIndex
{
    margin-bottom: 80px;
}
@media screen and (max-width: 780px)
{
    .pageIndex
    {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 780px)
{
    .pageIndex_text
    {
        width: 66.25%;
        margin-right: auto; 
        margin-left: auto;
    }
}

/**
* パネル
*/
.wjuQ_row
{
    position: relative;

    overflow: hidden; 

    max-width: 980px;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 36.73469%;
}
.wjuQ_row_panel
{
    position: absolute;
    top: 0;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.wjuQ_row_panel:hover,
.wjuQ_row_panel:active,
.wjuQ_row_panel:focus
{
    opacity: .8;
}

/**
* fancyBox
*/
.wjuQ_modal
{
    display: none;
}

.mask-1
{
    -webkit-clip-path: url(#panel1);
            clip-path: url(#panel1);
}

.mask-2
{
    -webkit-clip-path: url(#panel2);
            clip-path: url(#panel2);
}

.mask-3
{
    -webkit-clip-path: url(#panel3);
            clip-path: url(#panel3);
}

.mask-4
{
    -webkit-clip-path: url(#panel4);
            clip-path: url(#panel4);
}

.mask-5
{
    -webkit-clip-path: url(#panel5);
            clip-path: url(#panel5);
}

.mask-6
{
    -webkit-clip-path: url(#panel6);
            clip-path: url(#panel6);
}

.mask-7
{
    -webkit-clip-path: url(#panel7);
            clip-path: url(#panel7);
}

.mask-8
{
    -webkit-clip-path: url(#panel8);
            clip-path: url(#panel8);
}

/**
* Q01
*/
.wjuQ_row_panel-01
{
    position: absolute;
    top: 0;
    left: 0; 

    width: 53.46939%;
    height: auto;
}

/**
* Q02
*/
.wjuQ_row_panel-02
{
    position: absolute;
    top: 0;
    right: 0; 

    width: 55.40816%;
    height: auto;
}
