@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700');
::-moz-selection
{
    background-color: rgba(0, 105, 255, .3);
}
::selection
{
    background-color: rgba(0, 105, 255, .3);
}

html,
body
{
    font-family: '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    line-height: 1.75;

    position: relative;

    color: #000;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

html
{
    font-size: 10px;
}

body
{
    font-size: 1.4em;
    font-size: 1.4rem;

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: inherit; 
    font-weight: inherit;

    margin-top: 0;
    margin-bottom: 0;
}

ul
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style-position: inside;
}

dl
{
    padding-left: 0;
}

dd
{
    padding-left: 0;
}

figure
{
    margin: 0;
}

img,
iframe,
object
{
    line-height: 1;

    max-width: 100%;
    height: auto;
}

input,
textarea
{
    outline: none;
}
input:focus,
input:active,
textarea:focus,
textarea:active
{
    border: none;
}

a
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s; 
    text-decoration: none;

    color: #12aaaf;
    outline: none;
}
a,
a img
{
    border: none;
}
a button
{
    padding: 0;

    border: none; 
    background: 0;
}
a:hover,
a:active,
a:focus
{
    color: #0b676a;
}
a img
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
a img:hover,
a img:active,
a img:focus
{
    opacity: .87; 

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
}

.contain,
.inner
{
    box-sizing: border-box; 
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.wrap
{
    box-sizing: border-box; 
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 1200px)
{
    .wrap
    {
        padding-right: 25px; 
        padding-left: 25px;
    }
}
@media screen and (max-width: 580px)
{
    .wrap
    {
        padding-right: 15px; 
        padding-left: 15px;
    }
}

.clearfix
{
    *zoom: 1;
    *zoom: 1;
}
.clearfix:after
{
    display: table;
    clear: both; 

    content: '';
}

.button
{
    line-height: 1; 

    display: inline-block;

    box-sizing: border-box;
}
.button a
{
    font-family: 'Roboto Condensed', sans-serif;

    position: relative;

    display: block;

    padding: 1em;

    -webkit-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease-in-out 0s;
            transition: all .3s ease 0s; 
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: inherit;
    border: solid 1px;
    background-color: #ff6d1f;
}
.button a:hover,
.button a:active,
.button a:focus
{
    letter-spacing: .2em; 

    background-color: #eb5200;
}
.button.button-ghost a
{
    border-color: #fff;
    background-color: transparent;
}
.button.button-nav a
{
    width: auto;
}
.button.button-hasArrow a
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.button.button-hasArrow a:hover:before,
.button.button-hasArrow a:active:before,
.button.button-hasArrow a:focus:before
{
    right: 0;

    width: 15px;

    -webkit-transition-duration: .2s;
            transition-duration: .2s;
}
.button.button-hasArrow a:hover:after,
.button.button-hasArrow a:active:after,
.button.button-hasArrow a:focus:after
{
    right: 0;

    -webkit-transition-duration: .2s;
            transition-duration: .2s; 

    border-width: 5px 0 4px 0;
    border-style: solid;
}
.button.button-hasArrow a:before,
.button.button-hasArrow a:after
{
    position: absolute;
    top: 0;
    bottom: 0;

    display: block;

    margin-top: auto;
    margin-bottom: auto;

    content: ' '; 
    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.button.button-hasArrow a:before
{
    right: 16px;

    width: 10px;
    height: 1px;

    background-color: #fff;
}
.button.button-hasArrow a:after
{
    right: 5px;

    width: 0;
    height: 0;

    border-width: 5px 0 4px 11px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.spShow
{
    display: none;
}

@media screen and (max-width: 580px)
{
    .spHide
    {
        display: none !important;
    }

    .spShow
    {
        display: inherit;
    }
}
.tabShow
{
    display: none !important;
}

@media screen and (max-width: 780px)
{
    .tabHide
    {
        display: none !important;
    }

    .tabShow
    {
        display: inherit !important;
    }
}
.icon-twitter:before
{
    font-family: fontawesome;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    position: relative;
    top: 0;
    left: 0;

    display: inline-block;

    margin-right: 0;

    content: '';
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    vertical-align: middle;
    text-transform: none;

    color: inherit;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html.ie8 .icon-twitter:before
{
    font-family: inherit; 

    content: '>';
}

.icon-facebook:before
{
    font-family: fontawesome;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    position: relative;
    top: 0;
    left: 0;

    display: inline-block;

    margin-right: 0;

    content: '';
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    vertical-align: middle;
    text-transform: none;

    color: inherit;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html.ie8 .icon-facebook:before
{
    font-family: inherit; 

    content: '>';
}

.header_wrap,
.header_buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header_wrap
{
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: solid 1px #d9d9d9;
}
.header_logo
{
    margin-right: auto;
}
.header_logo img
{
    display: inline-block;

    vertical-align: middle;
}
.header_logo .recruiting
{
    margin-left: 30px;
}
.header_buttons li
{
    display: inline-block; 

    width: 140px;
    margin-right: 10px;
}
.header_buttons li:last-child
{
    margin-right: 0;
}
.header_buttons a
{
    font-weight: bold;
    line-height: 1;

    padding: 10px 0;

    letter-spacing: .1em;

    color: #fff;
}
@media screen and (max-width: 580px)
{
    .header
    {
        z-index: 3;
    }
    .header .header_top
    {
        padding-top: 0;
        padding-bottom: 0;

        background-color: #fff;
    }
}

.footer
{
    margin-top: 110px;

    text-align: center;

    border-top: solid 12px #e7e7e7;
}
.footer_copyright
{
    display: table;
    overflow: hidden; 

    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.footer_copyright_logo,
.footer_copyright_copy
{
    line-height: 1;

    display: table-cell;

    vertical-align: middle;
}
.footer_copyright_logo
{
    text-align: left;
}
.footer_copyright_copy
{
    font-size: 1rem;

    text-align: right;
}
@media screen and (max-width: 580px)
{
    .footer .footer_top li
    {
        display: block;

        margin-left: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 0;

        border-bottom: solid 1px #333; 
        border-left: 0;
    }
}

.backToTop
{
    line-height: 1;

    position: fixed;
    z-index: 99;
    right: 10px;
    bottom: 0;

    display: none;

    margin: 0;
    padding: 0;

    cursor: pointer;
    -webkit-transition: -webkit-transform .5s;
            transition: -webkit-transform .5s;
            transition:         transform .5s;
            transition:         transform .5s, -webkit-transform .5s;
}
.backToTop.moving
{
    -webkit-transform: perspective(500) rotate3d(50, 1000, 500, 360deg);
            transform: perspective(500) rotate3d(50, 1000, 500, 360deg);
}
