@charset "UTF-8";
@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

////////////////////////////////////////////////

// WHY~

////////////////////////////////////////////////

%wrap{
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

%index{
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	display: inline-block;
	border-bottom: solid 1px;
	text-align: center;
	color: $orange;
}



////////////////////////

// modules

////////////////////////


.pageIndex{
	margin-bottom: 80px;
	
	@include breakpoint( tab ){
		margin-bottom: 40px;
	}		
}
.pageIndex_text
{
	@include breakpoint( tab ){
		@include liquid(530, 800, true );
	}		
}



/**
* モーダル
*/
.wjuQ_modals{
}
.wjuQ_modal
{
	max-width: 100%;
	margin-top: 10px;
	display: none;	
	
	color: #fff;
	
	a{
		word-wrap: break-word;
	}
	
	&_index{
		margin-bottom: 1em;
		text-align: center;
		font-size: 2em;
		font-weight: lighter;
		color: #fff;
		
		span{
			text-align: left;
			display: inline-block;
			vertical-align: middle;
		}

		@include breakpoint( tab ){
			font-size: 1.4em;
		}
	}

	.modalNum{
		width: 120px;
		line-height: 1;
		margin-right: 20px;
		
		@include breakpoint( tab ){
			width: 50px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}		
	}
	
	
	&_content{
		// @include liquid( 750, 980, true );
		
		// @include breakpoint( tab ){
		// 	width: auto;
		// }				
	}
}


/**
* モーダル QA
*/
.qaSection
{
	text-align: center;
	margin-bottom: 50px;

	&_index{
		margin-bottom: 20px;


		font-size: 2em;
		font-weight: lighter;
		
		
		&:before{
			margin-right: 10px;
			line-height: 1;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			font-family: $roboto_cond;
			font-weight: 500;
			font-size: 2em;
		}

		> span{
			display: inline-block;
			vertical-align: middle;
			text-align: left;
		}

		@include breakpoint( tab ){
			margin-bottom: 15px;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 1.2em;
			
			&:before{
				margin-right: 0;
				display: block;
			}
		}				
	}

	&_yes{
		@extend %index;
		font-weight: bold;
		font-size: 1.5em;
		
		@include breakpoint( tab ){
			font-size: 1em;
		}				
	}

	&_content{
		text-align: left;
		padding-left: 10%;
		padding-right: 10%;
		box-sizing: border-box;
		
		@include liquid( 750, 980, true );		
		
		@include breakpoint( tab ){
			padding-right: 0;
			padding-left: 0;
			width: auto;	
		} 
	}

	&_footerImg{
		margin-top: 30px;
		text-align: center;
		a{
			display: block;
		}
		 a img{
			border-radius: 20px;
		}
	}

	///////// a
	&-a{
		.qaSection_index{
			color: $orange;
			border-color: $orange;
			&:before{
				content: "A";
			}
		}
	}
			
	///////// q
	
	&-q{
		.qaSection_index{
			border: none;
			padding-bottom: 0;
			color: #fff;
			&:before{
				content: "Q";
			}
		}
	}	
}


/**
* パネル
*/
.wjuQ
{
	
	&_row
	{
		height: 0px;
		padding-top: liquidSpace( 300, 980 );
		position: relative;
		overflow: hidden;
		
		@extend %wrap;		
		
		@include breakpoint( 1368 ){
			padding-top: liquidSpace( 360, 980 );			
		}
		@include breakpoint( 1000 ){
			margin-bottom: 2%;
		
		} 
		@include breakpoint( tab ){
			max-width: 90%;
			line-height: 1;
			height: auto;
			margin-bottom: 0;
			padding-top: 0;
		}		
		
		&_panel{
			line-height: 1;
			position: absolute;
			top: 0;
			
			image {
				@include mouseOver{
					opacity: 0.8;
				}
			}
			@include breakpoint( tab ){
				position: relative;
				margin-bottom: 10px;
				text-align: center;
				
				a,
				img{
					display: block;
					margin: auto;
				}
			}

			@include breakpoint( sp ){

				a{
					max-width: 290px;
				}
			}			

		}

	}
}




////////////////////////

// 個別

////////////////////////


.introduction{
	margin-bottom: 30px;
	font-size: 2em;
	font-weight: lighter;
	text-align: center;
		
	h3:before,
	h3:after{
		content: " ";
		width: 5%;
		height: 1px;
		margin-left: 10px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		background: #999;
	}

	@include breakpoint( tab ){
		font-size: 1.1em;
			
		h3:before,
		h3:after{
			content: " ";
			width: 3%;
		}		
	}
}


@for $i from 1 through 8 {
	.mask-#{$i}{
		clip-path: url( #panel#{$i});
	}
}



/**
* Q01
*/
.wjuQ_row_panel-01{
	@include breakpoint( tab, min ){
		width: percentage( 524 / 980 );
		height: auto;
		
		left: 0;
	}
}

/**
* Q02
*/
.wjuQ_row_panel-02{
	@include breakpoint( tab, min ){	
		width: percentage( 543 / 980 );
		height: auto;

		right: 0;
	}
}

/**
* Q03
*/
.wjuQ_row_panel-03{
	@include breakpoint( tab, min ){	
		width: percentage( 374 / 980 );
		height: auto;
		
		left: 0;
	}
}

/**
* Q04
*/
.wjuQ_row_panel-04{
	@include breakpoint( tab, min ){	
		width: percentage( 417 / 980 );
		height: auto;
		margin-right: auto;
		margin-left: auto;
		
		left: 0;
		right: 0;
	}	
}

/**
* Q05
*/
.wjuQ_row_panel-05{
	@include breakpoint( tab, min ){	
		width: percentage( 370 / 980 );
		height: auto;
		right: 0;
	}
}

/**
* Q06
*/
.wjuQ_row_panel-06{
	@include breakpoint( tab, min ){	
		width: percentage( 370 / 980 );
		height: auto;
		
		left: 0;
	}
}

/**
* Q07
*/
.wjuQ_row_panel-07{
	@include breakpoint( tab, min ){	
		width: percentage( 389 / 980 );
		height: auto;
		
		margin-right: auto;
		margin-left: auto;
		
		transform: translateX(-4%);
		
		left: 0;
		right: 0;
	}
}

/**
* Q08
*/
.wjuQ_row_panel-08{

	@include breakpoint( tab, min ){	
		width: percentage( 318 / 980 );
		height: auto;
		
		right: 0;
	}
}

