@charset 'UTF-8';
.wjuContent_footer .button a
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmQxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzYxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: -webkit-linear-gradient(180deg, #ff6d1f, #ffc61f);
    background-image: -webkit-linear-gradient(right, #ff6d1f, #ffc61f);
    background-image:         linear-gradient(270deg, #ff6d1f, #ffc61f); 
    background-size: 100%;
}

.pageIndex
{
    margin-bottom: 80px; 
    padding-top: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 780px)
{
    .pageIndex
    {
        margin-bottom: 40px; 
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.pageIndex_text
{
    max-width: 363px;
    margin-left: 0;
}
@media screen and (max-width: 780px)
{
    .pageIndex_text
    {
        width: 45.375%; 
        padding-left: 5%;
    }
}

.paleGradation,
.wjuContent .wjuSectionIntro
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjlkOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZTlkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9d8), color-stop(100%, #ffe9d6));
    background-image: -webkit-linear-gradient(top, #fff9d8, #ffe9d6);
    background-image:         linear-gradient(to bottom, #fff9d8, #ffe9d6); 
    background-size: 100%;
}

/**
* イントロ
*/
.wjuIndex
{
    font-weight: lighter;
    line-height: 1;

    position: relative;

    text-align: center;
    letter-spacing: .07em;

    color: #999;
}
.wjuIndex_q
{
    font-size: 2.5em;
}
.wjuIndex_q:before
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em; 
    font-weight: 500;

    content: 'Q';
    text-transform: uppercase;
}
@media screen and (max-width: 780px)
{
    .wjuIndex_q
    {
        font-size: 1.4em;
    }
    .wjuIndex_q:before
    {
        font-size: 1.5em;

        display: inline-block;

        vertical-align: middle;
    }
}
.wjuIndex_yes
{
    font-size: 1.5em; 
    font-weight: bold;

    position: relative;

    color: #ff6d1f;
}
.wjuIndex_yes span
{
    display: inline-block;

    margin-left: 1em;
    padding-right: 1em;
    padding-bottom: 20px;

    border-bottom: solid 1px #ff6d1f;
}
.wjuIndex_yes:after
{
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;

    content: ' ';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    border-right: solid 1px #ff6d1f;
    border-bottom: solid 1px #ff6d1f;
    background-color: #fff;
}
@media screen and (max-width: 780px)
{
    .wjuIndex_yes
    {
        font-size: 1.1em;
    }
    .wjuIndex_yes:after
    {
        bottom: -7px; 

        width: 15px;
        height: 15px;
    }
}
.wjuIndex_num
{
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 780px)
{
    .wjuIndex_num
    {
        position: static; 

        width: 80px;
        margin-bottom: 20px;
    }
}

/**
* 名前
*/
.wjuContent_name
{
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    color: #ff6d1f;
}
.wjuContent_name span
{
    margin-right: 10px; 
    margin-left: 10px;
}
.wjuContent_name .name
{
    font-size: 2.5em;
}
@media screen and (max-width: 780px)
{
    .wjuContent_name span
    {
        margin-right: 3px; 
        margin-left: 3px;
    }
    .wjuContent_name .name
    {
        font-size: 1.25em; 
        font-weight: bold;
    }
}

/**
* ヴィジュアル
*/
.wjuContent_mainvisual
{
    line-height: 0;

    text-align: center;
}

/**
* メインコンテンツ
*/
.wjuContent_content
{
    padding-bottom: 400px;
}
.wjuContent .wjuSectionIntro
{
    padding-top: 80px;
}
@media screen and (max-width: 780px)
{
    .wjuContent_content
    {
        padding-bottom: 0;

        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjlkOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZTlkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9d8), color-stop(100%, #ffe9d6));
        background-image: -webkit-linear-gradient(top, #fff9d8, #ffe9d6);
        background-image:         linear-gradient(to bottom, #fff9d8, #ffe9d6); 
        background-size: 100%;
    }
    .wjuContent .wjuSectionIntro
    {
        padding-top: 40px;

        background: none;
    }
}

/**
* セクション
*/
.wjuSection
{
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
}
.wjuSection-float
{
    position: relative;
    bottom: -50px; 

    margin-top: -50px;
    margin-bottom: 120px;
}
@media screen and (max-width: 780px)
{
    .wjuSection
    {
        margin-bottom: 35px;
    }
    .wjuSection-float
    {
        bottom: 0; 

        margin-top: 0;
        margin-bottom: 35px;
    }
}
.wjuSection_index
{
    font-size: 2em; 

    margin-bottom: 1em;

    text-align: center;

    color: #ff6d1f;
}
@media screen and (max-width: 780px)
{
    .wjuSection_index
    {
        font-size: 1.1em;
    }
}
.wjuSection-onBg .wjuSection_index
{
    position: relative;
}
.wjuSection-onBg .wjuSection_index span
{
    position: relative;
    z-index: 1;
}
.wjuSection-onBg .wjuSection_index .gradation
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    -webkit-transition: all .3s;
            transition: all .3s;

    opacity: .4;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTIwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNmQxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffe200), color-stop(100%, #ff6d1f));
    background-image: -webkit-linear-gradient(left, #ffe200, #ff6d1f);
    background-image:         linear-gradient(to right, #ffe200, #ff6d1f); 
    background-size: 100%;

            mix-blend-mode: screen;
    -webkit-mix-blend-mode: screen;
}
@media screen and (max-width: 780px)
{
    .wjuSection-onBg .wjuSection_index .gradation
    {
        display: none;
    }
}
.wjuSection_img
{
    text-align: center;
}
@media screen and (max-width: 780px)
{
    .wjuSection_img img
    {
        max-width: 50%;
    }
}
.wjuSection_content
{
    max-width: 50%;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 780px)
{
    .wjuSection_content
    {
        max-width: 90%;
    }
}

.wjuContent_footer
{
    text-align: center;
}
.wjuContent_footer .button
{
    font-size: 2em; 

    width: 500px;
    margin-top: 50px;

    border: none;
}
.wjuContent_footer .button a
{
    color: #fff;
}
@media screen and (max-width: 780px)
{
    .wjuContent_footer .button
    {
        font-size: initial; 

        width: 150px;
    }
}

.wju-child-test .wjuContent_content
{
    background: url(../img/bg.jpg) center bottom no-repeat;
    background-size: contain;
}
@media screen and (max-width: 780px)
{
    .wju-child-test .wjuContent_content
    {
        background: none;
    }
    .wju-child-test .wjuContent_content:after
    {
        display: block;
        overflow: hidden;

        width: 100%;
        height: 0;
        padding-top: 50%;

        content: ' ';

        background: url(../img/bg.jpg) center bottom no-repeat;
        background-size: cover;
    }
}
