.section-person .gradationBg,
.section-recruiting
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmQxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzYxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: -webkit-linear-gradient(180deg, #ff6d1f, #ffc61f);
    background-image: -webkit-linear-gradient(right, #ff6d1f, #ffc61f);
    background-image:         linear-gradient(270deg, #ff6d1f, #ffc61f); 
    background-size: 100%;
}

.section
{
    margin-top: 150px;
    margin-bottom: 200px;
}
.section_index
{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;

    position: relative; 

    margin: 0;

    text-align: center;
}
@media screen and (max-width: 780px)
{
    .section
    {
        margin-top: 50px;
        margin-bottom: 65px;
    }
    .section_index
    {
        padding-right: 5%; 
        padding-left: 5%;
    }
}

.heroPanel
{
    position: relative; 

    display: table;

    margin: auto;
}
.heroPanel.comingsoon
{
    background-color: #fff;
}
.heroPanel.comingsoon .heroPanel_bg
{
    opacity: .2;
}
.heroPanel_text,
.heroPanel_bg
{
    line-height: 1; 

    display: table-cell;

    vertical-align: middle;
}
.heroPanel_text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1em;
    margin: auto;

    text-align: center; 
    letter-spacing: .2em;
}

/********************
fancybox reset
********************/
.fancybox-slide > *,
.fancybox-iframe
{
    background-color: transparent;
}

body:-webkit-full-page-media
{
    background-color: transparent;
}

/********************
slick reset
********************/
.slick-prev:before,
.slick-next:before
{
    display: block;

    width: 0;
    height: 0;

    content: ' ' !important;
    -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s; 

    border-style: solid;
}

.slick-prev:after,
.slick-next:after
{
    position: absolute;
    top: 0;
    bottom: 0;

    display: block;

    width: 0;
    height: 1px;
    margin: auto;

    content: ' ' !important;
    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s; 

    background-color: #fff;
}

.slick-prev
{
    z-index: 2;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.slick-prev:before
{
    border-width: 8.5px 35px 8.5px 0;
    border-color: transparent #fff transparent transparent;
}
.slick-prev:after
{
    left: 0;
}
.slick-prev:hover:before,
.slick-prev:active:before,
.slick-prev:focus:before
{
    left: 0;

    border-width: 5px 20px 5px 0;
}
.slick-prev:hover:after,
.slick-prev:active:after,
.slick-prev:focus:after
{
    left: 20px; 

    width: 10px;
}
@media screen and (max-width: 780px)
{
    .slick-prev
    {
        left: 1px;
    }
    .slick-prev:before
    {
        border-width: 4px 17px 4px 0;
    }
}

.slick-next
{
    z-index: 2;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.slick-next:before
{
    border-width: 8.5px 0 8.5px 35px;
    border-color: transparent transparent transparent #fff;
}
.slick-next:after
{
    right: 0;
}
.slick-next:hover:before,
.slick-next:active:before,
.slick-next:focus:before
{
    border-width: 5px 0 5px 20px;
}
.slick-next:hover:after,
.slick-next:active:after,
.slick-next:focus:after
{
    right: 20px; 

    width: 10px;
}
@media screen and (max-width: 780px)
{
    .slick-next
    {
        right: 1px;
    }
    .slick-next:before
    {
        border-width: 4px 0 4px 17px;
    }
}

.slick-dots
{
    bottom: 5px;
}
.slick-dots li.slick-active button:before
{
    color: #ff6d1f;
}
.slick-dots li button:before
{
    color: #fff;
}

/********************
main visual
********************/
.mainvisual
{
    position: relative;
}
.mainvisual .mvArticle
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mainvisual .mvArticle_text
{
    font-size: 2.5em;

    margin-top: 0;

    -webkit-transition: all .2s;
            transition: all .2s; 
    letter-spacing: .18em;

    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);

    -webkit-font-feature-settings: 'palt';
            font-feature-settings: 'palt';
}
@media screen and (max-width: 780px)
{
    .mainvisual .mvArticle_text
    {
        font-size: 1.645	em; 

        margin-bottom: 2em;

        letter-spacing: .1em;
    }
}
.mainvisual .mvArticle .button
{
    width: 240px;

    color: #fff;
}
.mainvisual .mvArticle .button a
{
    font-weight: bold;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.mainvisual .mvArticle .button a:before,
.mainvisual .mvArticle .button a:after
{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    margin: auto;

    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.mainvisual .mvArticle .button a:before
{
    right: 0;

    width: 0;
    height: 1px;

    content: ' ';

    background-color: #ff6d1f;
}
.mainvisual .mvArticle .button a:after
{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    display: block;

    width: 0;
    height: 0;

    content: ' ';

    border-width: 5px 0 5px 22px;
    border-style: solid;
    border-color: transparent transparent transparent #ff6d1f;
}
.mainvisual .mvArticle .button a:hover:before,
.mainvisual .mvArticle .button a:active:before,
.mainvisual .mvArticle .button a:focus:before
{
    right: 10px; 

    width: 20px;

    content: ' ';
}
.mainvisual .mvArticle .button a:hover:after,
.mainvisual .mvArticle .button a:active:after,
.mainvisual .mvArticle .button a:focus:after
{
    right: 0;

    border-width: 5px 0 5px 10px;
}
@media screen and (max-width: 780px)
{
    .mainvisual .mvArticle .button
    {
        width: 50%;
    }
    .mainvisual .mvArticle .button a:before,
    .mainvisual .mvArticle .button a:after
    {
        right: 5px;
    }
    .mainvisual .mvArticle .button a:after
    {
        right: 5px;

        border-width: 3px 0 3px 11px;
    }
}
.mainvisual.black .mvArticle_text,
.mainvisual.black .button
{
    color: #000;
}
.mainvisual.black .mvArticle_text
{
    text-shadow: 0 0 5px rgba(255, 255, 255, .2);
}
.mainvisual.black .button a
{
    border-color: #000;
}

/********************
what we are
********************/
.viewWhatWeAre
{
    overflow: hidden;
}

.section-wwa
{
    overflow: hidden; 

    margin-top: 90px;
}
@media screen and (max-width: 780px)
{
    .section-wwa
    {
        margin-top: 40px;
    }
}
.section-wwa .section_index
{
    margin-bottom: 100px;
}
.section-wwa .section_index .sub
{
    margin-top: 50px;
}
@media screen and (max-width: 780px)
{
    .section-wwa .section_index
    {
        margin-bottom: 40px;
    }
    .section-wwa .section_index img
    {
        width: 75.16667%;
    }
    .section-wwa .section_index img.sub
    {
        margin-top: 20px;
    }
}
.section-wwa .poly
{
    fill: url(#gradient);
}
.section-wwa .closeWwaModalButton
{
    position: absolute; 

    width: 40px;
    height: 40px;
}
.section-wwa .closeWwaModalButton:before,
.section-wwa .closeWwaModalButton:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;
    margin: auto;

    content: ' ';

    background-color: #fff;
}
.section-wwa .closeWwaModalButton:before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.section-wwa .closeWwaModalButton:after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
@media screen and (max-width: 780px)
{
    .section-wwa .closeWwaModalButton
    {
        top: auto !important;
        right: 0 !important;
        bottom: 5px !important; 
        left: 0 !important;

        margin: auto;
    }
    .section-wwa .closeWwaModalButton:before,
    .section-wwa .closeWwaModalButton:after
    {
        background-color: #000;
    }
}
.section-wwa .notesRight .closeWwaModalButton
{
    top: 5px;
    right: -35px;
}
.section-wwa .notesLeft .closeWwaModalButton
{
    bottom: 5px;
    left: -35px;
}
.section-wwa .wwaArticles
{
    position: relative; 

    width: 85.29412%;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 41.45161%;
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwaArticles
    {
        width: auto;
        padding-top: 103%;
    }
}
.section-wwa .wwaArticles_article:not(.active)
{
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.section-wwa .wwaArticles_article:not(.active):hover,
.section-wwa .wwaArticles_article:not(.active):active,
.section-wwa .wwaArticles_article:not(.active):focus
{
    opacity: .7;
}
.section-wwa .wwaArticles_article_img,
.section-wwa .wwaArticles_article_content
{
    position: absolute;
}
.section-wwa .wwaArticles_article_img
{
    -webkit-transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
            transition: all .2s cubic-bezier(.175, .885, .32, 1.275); 
    -webkit-transform: scale(0);
            transform: scale(0);

    opacity: 0;
}
.section-wwa .wwaArticles_article_content
{
    font-size: 1.2em;
    font-weight: bold;

    z-index: -1;
    top: 0;

    min-width: 300px;
    padding: 40px;

    -webkit-transition: opacity .25s ease 0s;
            transition: opacity .25s ease 0s; 

    opacity: 0;
    color: #fff;
}
.notesRight .wwaArticles_article_content
{
    left: 100%;
}

.notesLeft .wwaArticles_article_content
{
    right: 100%;
}
.section-wwa .wwaArticles_article_content svg
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: -10%; 

    height: 100%;
    margin: auto;
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwaArticles_article_content
    {
        padding-right: 5%;
        padding-left: 5%;
    }
}
.section-wwa .wwaArticles .wwaArticleText_large
{
    font-size: 1.5em;
}
.section-wwa .wwaArticles .wwaArticleNote
{
    font-size: .5em;
}
.section-wwa .wwaArticles .wwa6 .wwaArticles_article_img
{
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
}
.section-wwa .wwaArticles .wwa16407 .wwaArticles_article_img
{
    -webkit-transition-delay: .35s;
            transition-delay: .35s;
}
.section-wwa .wwaArticles .wwa1 .wwaArticles_article_img
{
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
}
.section-wwa .wwaArticles .wwa100 .wwaArticles_article_img
{
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
}
.section-wwa .wwaArticles .wwa5 .wwaArticles_article_img
{
    -webkit-transition-delay: .52s;
            transition-delay: .52s;
}
.section-wwa.inview .wwaArticles_article_img
{
    -webkit-transform: scale(1);
            transform: scale(1);

    opacity: 1;
}
.section-wwa.inview .wwa6 .wwaArticles_article_img
{
    top: 0;
    left: 15.51724%;
}
@media screen and (max-width: 780px)
{
    .section-wwa.inview .wwa6 .wwaArticles_article_img
    {
        top: 18.90625%;
        left: 20%;
    }
}
.section-wwa.inview .wwa16407 .wwaArticles_article_img
{
    top: 50.97276%;
    left: 0;
}
@media screen and (max-width: 780px)
{
    .section-wwa.inview .wwa16407 .wwaArticles_article_img
    {
        top: 49.21875%;
        left: 6.71875%;
    }
}
.section-wwa.inview .wwa1 .wwaArticles_article_img
{
    top: 13.61868%;
    left: 36.2069%;
}
@media screen and (max-width: 780px)
{
    .section-wwa.inview .wwa1 .wwaArticles_article_img
    {
        top: 0;
        left: 39.375%;
    }
}
.section-wwa.inview .wwa100 .wwaArticles_article_img
{
    top: 0;
    left: 62.24138%;
}
@media screen and (max-width: 780px)
{
    .section-wwa.inview .wwa100 .wwaArticles_article_img
    {
        top: 35.3125%;
        left: 57.8125%;
    }
}
.section-wwa.inview .wwa5 .wwaArticles_article_img
{
    top: 42.80156%;
    left: 65.86207%;
}
@media screen and (max-width: 780px)
{
    .section-wwa.inview .wwa5 .wwaArticles_article_img
    {
        top: 62.65625%;
        left: 53.4375%;
    }
}
.section-wwa .wwa6 .wwaArticles_article_img
{
    width: 8.10345%;
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwa6 .wwaArticles_article_img
    {
        width: 12.96875%;
    }
}
.section-wwa .wwa16407 .wwaArticles_article_img
{
    width: 29.82759%;
}
.section-wwa .wwa16407 .wwaArticles_article_content
{
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwa16407 .wwaArticles_article_img
    {
        width: 39.6875%;
    }
    .section-wwa .wwa16407 .wwaArticles_article_content
    {
        -webkit-transform: none;
                transform: none;
    }
}
.section-wwa .wwa1 .wwaArticles_article_img
{
    width: 26.72414%;
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwa1 .wwaArticles_article_img
    {
        width: 27.1875%;
    }
}
.section-wwa .wwa100 .wwaArticles_article_img
{
    width: 22.06897%;
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwa100 .wwaArticles_article_img
    {
        width: 31.25%;
    }
}
.section-wwa .wwa5 .wwaArticles_article_img
{
    width: 34.31034%;
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwa5 .wwaArticles_article_img
    {
        width: 42.1875%;
    }
}
.section-wwa .wwaArticles_article.active .wwaArticles_article_img
{
    z-index: 3; 

    -webkit-transform: scale(1.5);
            transform: scale(1.5);
}
.section-wwa .wwaArticles_article.active .wwaArticles_article_content
{
    z-index: 2;

    -webkit-transition-delay: 1s;
            transition-delay: 1s; 
    -webkit-transition-duration: .3s;
            transition-duration: .3s;

    opacity: 1;
}
@media screen and (max-width: 780px)
{
    .viewWhatWeAre .wwaArticles
    {
        position: static;
    }
}
@media screen and (max-width: 780px)
{
    .viewWhatWeAre .wwaArticles_article.active
    {
        position: fixed;
        z-index: 9;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 100%;
        height: 100%;
        margin: auto;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 780px)
{
    .viewWhatWeAre .wwaArticles_article_img,
    .viewWhatWeAre .wwaArticles_article_content
    {
        position: static;
    }
}
@media screen and (max-width: 780px)
{
    .viewWhatWeAre .wwaArticles_article_content
    {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmM2QxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTkxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ff3d1f), color-stop(100%, #ff991f));
        background-image: -webkit-linear-gradient(left, #ff3d1f, #ff991f);
        background-image:         linear-gradient(to right, #ff3d1f, #ff991f); 
        background-size: 100%;
    }
}
.section-wwa .section_footer.cityView
{
    overflow: hidden; 

    height: 410px;
}
.section-wwa .section_footer.cityView img
{
    width: 100%;
}
@media screen and (max-width: 780px)
{
    .section-wwa .section_footer.cityView
    {
        height: 100px;
    }
    .section-wwa .section_footer.cityView img
    {
        width: 130%;
        max-width: none;
    }
}

/********************
business
********************/
.section-business .businessPanel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 73%;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.section-business .businessPanel_panel
{
    line-height: 1;

    max-width: 100%;

    list-style: none;

    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); 

    opacity: 0;
}
.section-business .businessPanel_panel img
{
    width: 100%;
}
.section-business .businessPanel_panel a
{
    color: inherit;
}
.section-business .businessPanel_panel:nth-child(even)
{
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}
.section-business .businessPanel_panel a:not(.comingsoon)
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.section-business .businessPanel_panel a:not(.comingsoon):hover .businessPanel_panel_index,
.section-business .businessPanel_panel a:not(.comingsoon):active .businessPanel_panel_index,
.section-business .businessPanel_panel a:not(.comingsoon):focus .businessPanel_panel_index
{
    letter-spacing: .5em;
}
.section-business .businessPanel_panel_index
{
    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.section-business .businessPanel_panel-about .businessPanel_panel_index
{
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.section-business .businessPanel_panel-about.comingsoon .businessPanel_panel_index
{
    color: #000;
    text-shadow: none;
}
@media screen and (max-width: 780px)
{
    .section-business .businessPanel
    {
            flex-direction: column;

        width: auto;
        padding-right: 5%; 
        padding-left: 5%;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
}
.section-business.inview .businessPanel_panel
{
    -webkit-transform: translateY(0px);
            transform: translateY(0px); 

    opacity: 1;
}
@media screen and (max-width: 780px)
{
    .section-business .section_index img
    {
        width: 49.58333%;
    }
}

/********************
person
********************/
.section-person
{
    position: relative;
}
.section-person .section_index span:after
{
    background-color: #fff;
}
.section-person .gradationBg
{
    display: block;

    width: 0;

    -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s;
}
.section-person .gradationBg-top
{
    position: absolute;
    z-index: -1; 
    top: 0;

    height: 100px;
}
.section-person .gradationBg-bottom
{
    height: 50px;
}
.section-person.inview .gradationBg
{
    width: 100%;
}
.section-person .personImagePanel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.section-person .personImagePanel_panel
{
    line-height: 0;

    overflow: hidden; 

    width: 33.28571%;
    max-width: 35.84615%;

    list-style: none;
}
.section-person .personImagePanel_panel img
{
    width: 100%;
}
.no-flexboxlegacy .personImagePanel
{
    display: block;
    overflow: hidden;

    *zoom: 1;
}
.no-flexboxlegacy .personImagePanel:after
{
    display: table;
    clear: both; 

    content: '';
}
.no-flexboxlegacy .personImagePanel_panel
{
    float: left;
}
.no-flexboxlegacy .personImagePanel_panel:nth-child(4)
{
    clear: both;
}
.no-flexboxlegacy .gradationBg-bottom
{
    clear: both;
}
@media screen and (max-width: 780px)
{
    .section-person .section_index img
    {
        width: 37.83333%;
    }
    .section-person .gradationBg-top
    {
        top: -10px; 

        height: 150px;
    }
    .section-person .gradationBg-bottom
    {
        height: 20px;
    }
}

/********************
career
********************/
.section-career
{
    margin-bottom: 160px;
}
.section-career .heroPanel
{
    margin: auto;
}
@media screen and (max-width: 780px)
{
    .section-career
    {
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 780px) and (max-width: 780px)
{
    .section-career .section_index img
    {
        width: 38.41667%;
    }
}

/********************
culture
********************/
.section-culture
{
    margin-bottom: 140px;
}
.section-culture .heroPanel
{
    display: block;
    overflow: hidden; 

    width: 100%;
    height: 550px;
}
.section-culture .heroPanel_bg img
{
    width: 100%;
}
@media screen and (max-width: 780px)
{
    .section-culture
    {
        margin-bottom: 70px;
    }
    .section-culture .section_index img
    {
        width: 44.16667%;
    }
    .section-culture .heroPanel
    {
        height: 180px;
    }
    .section-culture .heroPanel_bg img
    {
        width: 150%;
        max-width: none;
    }
}

/********************
recruiting
********************/
.section-recruiting
{
    margin-bottom: 0;
    padding-top: 10rem;
    padding-bottom: 10rem;

    -webkit-animation: gradationAnim 16s ease infinite;
            animation: gradationAnim 16s ease infinite; 
    text-align: center;

    background-size: 400% 400%;
}
.section-recruiting .section_index
{
    margin-bottom: 50px;
}
.section-recruiting .section_index span:after
{
    background-color: #fff;
}
.section-recruiting .button
{
    width: 210px;
}
.section-recruiting .button a
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s; 

    color: #fff;
    border-color: #fff;
    background-color: transparent;
}
.section-recruiting .button a:hover,
.section-recruiting .button a:active,
.section-recruiting .button a:focus
{
    background-color: #ff6d1f;
}
@media screen and (max-width: 780px)
{
    .section-recruiting
    {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .section-recruiting .section_index img
    {
        width: 62.66667%;
    }
}
