.cultureVisual_nav .sliderNav li.slick-current:after
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmQxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzYxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: -webkit-linear-gradient(180deg, #ff6d1f, #ffc61f);
    background-image: -webkit-linear-gradient(right, #ff6d1f, #ffc61f);
    background-image:         linear-gradient(270deg, #ff6d1f, #ffc61f); 
    background-size: 100%;
}

.footer
{
    margin-top: 0;
}

@media screen and (max-width: 780px)
{
    .pageIndex_text
    {
        width: 49.625%;
        margin-right: auto; 
        margin-left: auto;
    }
}

.introductionIndex
{
    font-size: 1.57em;
    font-weight: 200; 

    margin-top: 50px;
    margin-bottom: 50px;

    text-align: center;
    letter-spacing: .17em;
}
@media screen and (max-width: 780px)
{
    .introductionIndex
    {
        font-size: 1.15em; 

        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/**
* slick
*/
.slick-next,
.slick-prev
{
    line-height: 1;

    display: block;

    width: 55px;
    height: 55px;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s; 

    background-color: #ff6d1f;
}
.slick-next:before,
.slick-prev:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 25%;
    height: 25%;
    margin: auto;

    content: ' ';

    opacity: 1; 
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
}
.slick-next:hover,
.slick-next:active,
.slick-next:focus,
.slick-prev:hover,
.slick-prev:active,
.slick-prev:focus
{
    outline: none; 
    background-color: #ff8e52;
}
@media screen and (max-width: 780px)
{
    .slick-next,
    .slick-prev
    {
        width: 30px;
        height: 30px;
    }
    .slick-next:before,
    .slick-prev:before
    {
        border-width: 1px;
    }
}

.slick-next:before
{
    -webkit-transform: translate(-3px) rotate(45deg);
            transform: translate(-3px) rotate(45deg);
}
@media screen and (max-width: 780px)
{
    .slick-next
    {
        right: 0;
    }
    .slick-next:before
    {
        -webkit-transform: translate(-2px) rotate(45deg);
                transform: translate(-2px) rotate(45deg);
    }
}

.slick-prev:before
{
    -webkit-transform: translate(3px) rotate(-135deg);
            transform: translate(3px) rotate(-135deg);
}
@media screen and (max-width: 780px)
{
    .slick-prev
    {
        left: 0;
    }
    .slick-prev:before
    {
        -webkit-transform: translate(2px) rotate(-135deg);
                transform: translate(2px) rotate(-135deg);
    }
}

/**
* fancyBox
*/
.fancybox-controls
{
    overflow: auto;
}

.fancybox-button
{
    position: fixed;
    top: 0;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;

    -webkit-transition: all .3s;
            transition: all .3s; 

    border-radius: 100%;
    background-color: rgba(255, 109, 31, .8);
}
.fancybox-button:hover,
.fancybox-button:active
{
    background-color: #ff6d1f;
}
.fancybox-button--left
{
    left: 2%;
}
.fancybox-button--right
{
    right: 2%;
}
@media screen and (max-width: 780px)
{
    .fancybox-button--left,
    .fancybox-button--right,
    .fancybox-button button:not(.fancybox-button--close)
    {
        display: block !important;

        width: 22px;
        height: 22px;
    }
    .fancybox-button--left:after,
    .fancybox-button--right:after
    {
        top: 8px;
    }
    .fancybox-button--left:after
    {
        left: 9px;
    }
    .fancybox-button--right:after
    {
        right: 9px;
    }
}

.cultureModal
{
    display: none;
}

.fancybox-close-small:after
{
    -webkit-transition: all .3s;
            transition: all .3s;

    color: #fff;
    background-color: #ff6d1f;
}
.fancybox-close-small:hover:after,
.fancybox-close-small:active:after
{
    color: #fff;
    background-color: rgba(255, 109, 31, .8);
}

/*** instagram ***/
.cultureModal-insta
{
    box-sizing: border-box; 
    max-width: 920px;
    padding: 80px;
}
.cultureModal-insta .cultureModal-insta_img,
.cultureModal-insta .cultureModal-insta_text
{
    display: block;

    width: 60.86957%;
    margin-right: auto; 
    margin-left: auto;
}
.cultureModal-insta .cultureModal-insta_img
{
    margin-bottom: 30px;
}
.cultureModal-insta .cultureModal-insta_text
{
    position: relative;
}
.cultureModal-insta .cultureModal-insta_text .button-linkToInsta
{
    position: absolute;
    top: 0;
    right: -140px;

    width: 100px;

    text-align: center;
}
.cultureModal-insta .cultureModal-insta_text .button-linkToInsta a
{
    font-size: 1rem;

    letter-spacing: .01em !important; 

    color: #fff;
    border: none;
    background-color: #8c8c8c;
}
@media screen and (max-width: 780px)
{
    .cultureModal-insta
    {
        max-width: 90%;
        padding: 30px;
    }
    .cultureModal-insta .cultureModal-insta_img,
    .cultureModal-insta .cultureModal-insta_text
    {
        display: block;

        width: auto;
    }
    .cultureModal-insta .cultureModal-insta_text
    {
        position: relative;

        word-wrap: break-word;
    }
    .cultureModal-insta .cultureModal-insta_text .button-linkToInsta
    {
        position: static;

        display: block;

        margin-top: 20px;
    }
}

/*** style ***/
.cultureModal-style
{
    display: none;

    color: #fff;
    background-color: transparent;
}
.cultureModal-style_wrap
{
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
}
.cultureModal-style_index
{
    font-size: 2em;
    font-weight: 300;

    margin-bottom: 1em;

    letter-spacing: .26em;
}
.cultureModal-style_content
{
    margin-bottom: 100px; 

    letter-spacing: .025em;
}
.cultureModal-style_close
{
    position: static !important; 

    display: block;

    margin-right: auto;
    margin-left: auto;
}
.cultureModal-style .fancybox-close-small
{
    display: block;
}
@media screen and (max-width: 780px)
{
    .cultureModal-style_index
    {
        font-size: 1.25em; 
        line-height: 1.45;
    }
    .cultureModal-style_content
    {
        margin-bottom: 50px;
    }
}

/********************
cultureVisual
********************/
.cultureVisual
{
    position: relative;
}
.cultureVisual_slider img
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.cultureVisual_nav
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: rgba(0, 0, 0, .5);
}
.cultureVisual_nav .sliderNav
{
    max-width: 850px;
    margin-right: auto; 
    margin-left: auto;
}
.cultureVisual_nav .sliderNav .slick-track
{
    width: auto !important;

    -webkit-transform: none !important;
            transform: none !important;
}
.cultureVisual_nav .sliderNav li
{
    position: relative;

    max-width: 85px;
    margin-right: 10px;

    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s; 

    outline: none;
}
.cultureVisual_nav .sliderNav li:after
{
    display: block;

    width: 0;

    content: ' ';
    -webkit-transition: all .3s;
            transition: all .3s;
}
.cultureVisual_nav .sliderNav li.slick-current:after
{
    position: absolute;
    right: 0;
    bottom: 0; 
    left: 0;

    width: 100%;
    height: 3px;
    margin-right: 0;
    margin-left: 0;
}
.cultureVisual_nav .sliderNav li:last-child
{
    margin-right: 0;
}
.cultureVisual_nav .sliderNav li:hover,
.cultureVisual_nav .sliderNav li:active,
.cultureVisual_nav .sliderNav li:focus
{
    opacity: .8;
}
@media screen and (max-width: 780px)
{
    .cultureVisual_nav
    {
        position: static;

        padding-top: 5px;
        padding-bottom: 5px;

        background-color: #000;
    }
    .cultureVisual_nav .sliderNav li
    {
        margin-right: 1%;
    }
}

.slideImg-1 .slideImg_text
{
    top: 58.46154%;
    left: 68.57143%;
}
@media screen and (max-width: 1500px)
{
    .slideImg-1 .slideImg_text
    {
        top: 35%;
    }
}
@media screen and (max-width: 780px)
{
    .slideImg-1 .slideImg_text
    {
        right: 0; 
        left: auto;
    }
}

.slideImg-2 .slideImg_text
{
    top: 50.92308%;
    left: 17.14286%;
}
@media screen and (max-width: 1500px)
{
    .slideImg-2 .slideImg_text
    {
        top: 20%;
        left: 10%;
    }
}
@media screen and (max-width: 780px)
{
    .slideImg-2 .slideImg_text
    {
        left: 0;
    }
}

.slideImg-3 .slideImg_text
{
    top: 53.07692%;
    left: 17.57143%;
}
@media screen and (max-width: 1500px)
{
    .slideImg-3 .slideImg_text
    {
        top: 30%;
        left: 10%;
    }
}
@media screen and (max-width: 780px)
{
    .slideImg-3 .slideImg_text
    {
        left: 0;
    }
}

.slideImg-4 .slideImg_text
{
    top: 51.07692%;
    left: 18.57143%;
}
@media screen and (max-width: 1500px)
{
    .slideImg-4 .slideImg_text
    {
        top: 35%;
    }
}
@media screen and (max-width: 780px)
{
    .slideImg-4 .slideImg_text
    {
        left: 0;
    }
}

.slideImg-5 .slideImg_text
{
    top: 11.69231%;
    left: 70.35714%;

    letter-spacing: .02em;
}
@media screen and (max-width: 780px)
{
    .slideImg-5 .slideImg_text
    {
        right: 0; 
        left: auto;
    }
}

.slideImg-6 .slideImg_text
{
    top: 3.84615%;
    left: 22.14286%;
}
@media screen and (max-width: 1500px)
{
    .slideImg-6 .slideImg_text
    {
        top: 0;
    }
}
@media screen and (max-width: 1200px)
{
    .slideImg-6 .slideImg_text
    {
        top: 2.5%;
    }
}
@media screen and (max-width: 780px)
{
    .slideImg-6 .slideImg_text
    {
        left: 0;
    }
}

.slideImg-7 .slideImg_text
{
    top: 13.84615%;
    left: 20.21429%;
}
@media screen and (max-width: 780px)
{
    .slideImg-7 .slideImg_text
    {
        left: 0;
    }
}

.slideImg-8 .slideImg_text
{
    top: 52.30769%;
    left: 23.92857%;
}
@media screen and (max-width: 1400px)
{
    .slideImg-8 .slideImg_text
    {
        top: 34%;
    }
}
@media screen and (max-width: 780px)
{
    .slideImg-8 .slideImg_text
    {
        left: 0;
    }
}

.slideImg-9 .slideImg_text
{
    top: 9.23077%;
    left: 16.78571%;

    letter-spacing: .02em;
}
@media screen and (max-width: 780px)
{
    .slideImg-9 .slideImg_text
    {
        left: 0;
    }
}

.slideImg
{
    position: relative;
}
.slideImg_text
{
    font-size: 1.25em;

    position: absolute;

    display: table;

    box-sizing: border-box;
    width: 245px;
    height: 245px;
    padding: 20px 5px 20px 10px;

    letter-spacing: .05em;

    color: #ff6d1f;
    background-color: #fff;
}
.slideImg_text > span
{
    line-height: 2; 

    display: table-cell;

    vertical-align: middle;
}
@media screen and (max-width: 1200px)
{
    .slideImg_text
    {
        font-size: 1em; 

        width: 188px;
        height: 188px;
    }
}
@media screen and (max-width: 780px)
{
    .slideImg_text
    {
        font-size: .95em; 

        top: auto !important;
        bottom: 0;

        width: 25%;
        height: 80px;
        padding-top: 20px;
        padding-bottom: 20px;

        background-color: rgba(255, 255, 255, .95);
    }
    .slideImg_text > span
    {
        line-height: 1.5;
    }
}
@media screen and (max-width: 580px)
{
    .slideImg_text
    {
        font-size: .75em; 

        width: auto;
        height: 70px;
        padding-top: 5px;
        padding-right: 15px;
        padding-bottom: 5px;
    }
}

/********************
instagram
********************/
.instaBox
{
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #fafafa;
}
@media screen and (max-width: 780px)
{
    .instaBox
    {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.instaBox_logo
{
    margin-bottom: 40px;

    text-align: center;
}
@media screen and (max-width: 780px)
{
    .instaBox_logo
    {
        margin-bottom: 25px;
    }
    .instaBox_logo img
    {
        max-width: 110px;
    }
}
.instaBox_list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
        flex-direction: row;

    width: 100%;
    padding-right: 1%;
    padding-left: 1%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.instaBox_list_post
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
        flex-direction: column;

    width: calc( 33.33% - 4% );
    margin-right: 2%;
    margin-bottom: 25px;
    margin-left: 2%;

    list-style: none;

    border-radius: 20px;
    background-color: #fff; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media screen and (max-width: 780px)
{
    .instaBox_list_post
    {
        margin-bottom: 10px;
    }
}
.instaBox_image
{
    display: block; 

    cursor: pointer;
}
.instaBox_image img
{
    border-radius: 20px;
}
@media screen and (max-width: 780px)
{
    .instaBox_image img
    {
        border-radius: 5px;
    }
}
