/**
* fancyBox
*/
/**
* fancyBox
*/
.fancybox-slider-wrap .instaBox_content
{
    box-sizing: border-box; 
    max-width: 920px;
    padding: 80px;
}
.fancybox-slider-wrap .instaBox_content_img,
.fancybox-slider-wrap .instaBox_content_text
{
    display: block;

    width: 60.86957%;
    margin-right: auto; 
    margin-left: auto;
}
.fancybox-slider-wrap .instaBox_content_img
{
    margin-bottom: 30px;
}
.fancybox-slider-wrap .instaBox_content_text
{
    position: relative;
}
.fancybox-slider-wrap .instaBox_content_text .button-linkToInsta
{
    position: absolute;
    top: 0;
    right: -140px;

    width: 100px;

    text-align: center;
}
.fancybox-slider-wrap .instaBox_content_text .button-linkToInsta a
{
    font-size: 1rem;

    letter-spacing: .01em !important; 

    color: #fff;
    border: none;
    background-color: #555;
}

.instaBox
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    padding-right: 1%;
    padding-left: 1%;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.instaBox li
{
    float: left; 

    max-width: calc( 33.33% - 4% );
    margin-right: 2%;
    margin-left: 2%;

    list-style: none;
}
.instaBox_image
{
    cursor: pointer; 

    border-radius: 20px;
}
.instaBox_image figure
{
    display: table-cell;

    vertical-align: middle;
}
.instaBox_content
{
    display: none;
}
