.wwaModal_content:before,
.wwaModal_content:after,
.section-person .gradationBg,
.section-recruiting
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmQxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzYxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: -webkit-linear-gradient(180deg, #ff6d1f, #ffc61f);
    background-image: -webkit-linear-gradient(right, #ff6d1f, #ffc61f);
    background-image:         linear-gradient(270deg, #ff6d1f, #ffc61f); 
    background-size: 100%;
}

.main
{
    overflow: hidden;
}

.section
{
    margin-top: 150px;
    margin-bottom: 150px;
}
.section_index
{
    line-height: 1;

    position: relative; 

    margin: 0 0 70px;

    text-align: center;
}
.section_index_ja
{
    display: inline-block; 

    margin-top: 2.5em;

    letter-spacing: .35em;

    color: #444;

    -webkit-font-feature-settings: 'palt';
            font-feature-settings: 'palt';
}
.section .barAnim > span:after
{
    bottom: 0;
}
@media screen and (max-width: 780px)
{
    .section
    {
        margin-top: 50px;
        margin-bottom: 65px;
    }
    .section_index_ja
    {
        margin-top: 1.5em;
    }
    .section_index
    {
        margin-bottom: 45px;
        padding-right: 5%; 
        padding-left: 5%;
    }
}

.heroPanel
{
    position: relative; 

    display: table;

    margin: auto;
}
.heroPanel.comingsoon
{
    background-color: #fff;
}
.heroPanel.comingsoon .heroPanel_bg
{
    opacity: .2;
}
.heroPanel_text,
.heroPanel_bg
{
    line-height: 1; 

    display: table-cell;

    vertical-align: middle;
}
.heroPanel_text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1em;
    margin: auto;

    text-align: center; 
    letter-spacing: .2em;
}

/********************
fancybox reset
********************/
.fancybox-slide > *,
.fancybox-iframe
{
    background-color: transparent;
}

body:-webkit-full-page-media
{
    background-color: transparent;
}

/********************
slick reset
********************/
.slick-prev:before,
.slick-next:before
{
    display: block;

    width: 0;
    height: 0;

    content: ' ' !important;
    -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s; 

    border-style: solid;
}

.slick-prev:after,
.slick-next:after
{
    position: absolute;
    top: 0;
    bottom: 0;

    display: block;

    width: 0;
    height: 1px;
    margin: auto;

    content: ' ' !important;
    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s; 

    background-color: #fff;
}

.slick-prev
{
    z-index: 2;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.slick-prev:before
{
    border-width: 8.5px 35px 8.5px 0;
    border-color: transparent #fff transparent transparent;
}
.slick-prev:after
{
    left: 0;
}
.slick-prev:hover:before,
.slick-prev:active:before,
.slick-prev:focus:before
{
    left: 0;

    border-width: 5px 20px 5px 0;
}
.slick-prev:hover:after,
.slick-prev:active:after,
.slick-prev:focus:after
{
    left: 20px; 

    width: 10px;
}
@media screen and (max-width: 780px)
{
    .slick-prev
    {
        left: 1px;
    }
    .slick-prev:before
    {
        border-width: 4px 17px 4px 0;
    }
}

.slick-next
{
    z-index: 2;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.slick-next:before
{
    border-width: 8.5px 0 8.5px 35px;
    border-color: transparent transparent transparent #fff;
}
.slick-next:after
{
    right: 0;
}
.slick-next:hover:before,
.slick-next:active:before,
.slick-next:focus:before
{
    border-width: 5px 0 5px 20px;
}
.slick-next:hover:after,
.slick-next:active:after,
.slick-next:focus:after
{
    right: 20px; 

    width: 10px;
}
@media screen and (max-width: 780px)
{
    .slick-next
    {
        right: 1px;
    }
    .slick-next:before
    {
        border-width: 4px 0 4px 17px;
    }
}

.slick-dots
{
    bottom: 5px;
}
.slick-dots li.slick-active button:before
{
    color: #ff6d1f;
}
.slick-dots li button:before
{
    color: #fff;
}

/********************
main visual
********************/
.mainvisual
{
    position: relative;
}
.mainvisual .mvArticle
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mainvisual .mvArticle_text
{
    font-size: 2.5em;
    font-weight: 200; 

    margin-top: 0;

    -webkit-transition: all .1s;
            transition: all .1s;
    letter-spacing: .18em;

    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);

    -webkit-font-feature-settings: 'palt';
            font-feature-settings: 'palt';
}
.mainvisual .mvArticle_text span
{
    display: inline-block;

    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.mainvisual .mvArticle_text.willFadein span
{
    -webkit-transform: perspective(200px) translate3d(0, 5px, 1px);
            transform: perspective(200px) translate3d(0, 5px, 1px);

    opacity: 0;
}
.mainvisual .mvArticle_text.willFadeOut span
{
    -webkit-transform: perspective(200px) translate3d(0, 5px, 1px);
            transform: perspective(200px) translate3d(0, 5px, 1px);

    opacity: 0;
}
.mainvisual .mvArticle_text.fadeInDone span
{
    -webkit-transition-duration: .09s;
            transition-duration: .09s;
    -webkit-transform: perspective(200px) translate3d(0, 0px, 0);
            transform: perspective(200px) translate3d(0, 0px, 0);

    opacity: 1;
}
@media screen and (max-width: 780px)
{
    .mainvisual .mvArticle_text
    {
        font-size: 1.645em; 

        margin-bottom: 2em;

        letter-spacing: .1em;
    }
    .mainvisual .mvArticle_text .offindent
    {
        display: inline-block;

        text-indent: -1em;
    }
}
.mainvisual .mvArticle .button
{
    width: 240px;

    color: #fff;
}
.mainvisual .mvArticle .button a
{
    font-weight: bold;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.mainvisual .mvArticle .button a:before,
.mainvisual .mvArticle .button a:after
{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    margin: auto;

    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.mainvisual .mvArticle .button a:before
{
    right: 0;

    width: 0;
    height: 1px;

    content: ' ';

    background-color: #ff6d1f;
}
.mainvisual .mvArticle .button a:after
{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    display: block;

    width: 0;
    height: 0;

    content: ' ';

    border-width: 5px 0 5px 22px;
    border-style: solid;
    border-color: transparent transparent transparent #ff6d1f;
}
.mainvisual .mvArticle .button a:hover:before,
.mainvisual .mvArticle .button a:active:before,
.mainvisual .mvArticle .button a:focus:before
{
    right: 10px; 

    width: 20px;

    content: ' ';
}
.mainvisual .mvArticle .button a:hover:after,
.mainvisual .mvArticle .button a:active:after,
.mainvisual .mvArticle .button a:focus:after
{
    right: 0;

    border-width: 5px 0 5px 10px;
}
@media screen and (max-width: 780px)
{
    .mainvisual .mvArticle .button
    {
        position: absolute;
        right: 0;
        bottom: 10%; 
        left: 0;

        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    .mainvisual .mvArticle .button a:before,
    .mainvisual .mvArticle .button a:after
    {
        right: 5px;
    }
    .mainvisual .mvArticle .button a:after
    {
        right: 5px;

        border-width: 3px 0 3px 11px;
    }
}
.mainvisual.black .mvArticle_text,
.mainvisual.black .button
{
    color: #000;
}
.mainvisual.black .mvArticle_text
{
    text-shadow: 0 0 5px rgba(255, 255, 255, .2);
}
.mainvisual.black .button a
{
    border-color: #000;
}

/********************
what we are
********************/
.viewWhatWeAre
{
    overflow: hidden;
}

.section-wwa
{
    overflow: hidden; 

    margin-top: 90px;
}
@media screen and (max-width: 780px)
{
    .section-wwa
    {
        margin-top: 40px;
    }
}
.section-wwa .section_index
{
    margin-bottom: 100px;
}
.section-wwa .section_index .sub
{
    margin-top: 50px;
}
@media screen and (max-width: 780px)
{
    .section-wwa .section_index
    {
        margin-bottom: 40px;
    }
    .section-wwa .section_index img
    {
        width: 75.16667%;
    }
    .section-wwa .section_index img.sub
    {
        margin-top: 20px;
    }
}
.section-wwa .wwaArticles
{
    max-width: 980px;
    margin-right: auto;
    margin-bottom: 100px; 
    margin-left: auto;
}
.section-wwa .wwaArticles_row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    border-bottom: solid 1px #ccc; 

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.section-wwa .wwaArticles_row:first-child
{
    border-top: solid 1px #ccc;
}
@media screen and (max-width: 580px)
{
    .section-wwa .wwaArticles_row
    {
        position: relative; 

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.section-wwa .wwaArticles_row .wwaArticle:first-child
{
    border-right: solid 1px #ccc;
}
.section-wwa .wwaArticle
{
    line-height: 1;

    position: relative;

    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;

    -webkit-transition: all .15s cubic-bezier(.785, .135, .15, .86);
    -webkit-transition: all .3s ease 0s;
            transition: all .15s cubic-bezier(.785, .135, .15, .86);
            transition: all .3s ease 0s;
}
@media screen and (max-width: 580px)
{
    .section-wwa .wwaArticle
    {
        position: static;

        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}
.section-wwa .wwaArticle:after
{
    position: absolute;
    right: 10px;
    bottom: -15px;

    display: block;

    width: 20px;
    height: 20px;

    content: ' ';

    background: url(../img/icon-zoom.svg) center center no-repeat;
    background-size: 20px 20px;
}
@media screen and (max-width: 580px)
{
    .section-wwa .wwaArticle:after
    {
        right: auto;
        bottom: 5px;

        width: 14px;
        height: 14px;

        background-size: 14px 14px;
    }
}
.section-wwa .wwaArticle:hover,
.section-wwa .wwaArticle:active,
.section-wwa .wwaArticle:focus
{
    opacity: .45;
}
.section-wwa .wwaArticle:hover a,
.section-wwa .wwaArticle:active a,
.section-wwa .wwaArticle:focus a
{
    color: #000;
}
.section-wwa .wwaArticle:hover a img,
.section-wwa .wwaArticle:active a img,
.section-wwa .wwaArticle:focus a img
{
    opacity: 1;
}
.section-wwa .wwaArticle a
{
    display: block;
}
.section-wwa .wwaArticle_content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
@media screen and (max-width: 580px)
{
    .section-wwa .wwaArticle_content
    {
            flex-direction: column; 

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
}
.section-wwa .wwaArticle_img
{
    padding-right: 30px;

    -webkit-transition: all .3s cubic-bezier(.785, .135, .15, .86);
            transition: all .3s cubic-bezier(.785, .135, .15, .86);

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
@media screen and (max-width: 780px)
{
    .section-wwa .wwaArticle_img
    {
        padding-right: 15px;
    }
}
@media screen and (max-width: 580px)
{
    .section-wwa .wwaArticle_img
    {
        max-width: 80px;
        margin-bottom: 5px; 
        padding-right: 0;
    }
}
.section-wwa .wwaArticle_text
{
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.section-wwa .wwaArticle_text span
{
    font-size: 1.2em; 
    line-height: 1.4;

    display: block;

    margin-bottom: 1em;

    letter-spacing: .1em;

    color: #000;
}
@media screen and (max-width: 580px)
{
    .section-wwa .wwaArticle_text
    {
        text-align: center;
    }
    .section-wwa .wwaArticle_text span
    {
        font-size: .9em;

        margin-bottom: 5px;

        letter-spacing: .05em;
    }
}
.section-wwa .article-no1
{
    border-right: none !important;
}
@media screen and (max-width: 580px)
{
    .section-wwa .article-no1 .wwaArticle_content
    {
            flex-direction: row; 

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }
}
.section-wwa .article-no1 .wwaArticle_img
{
    padding-right: 30px;
    padding-left: 30px;

    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
@media screen and (max-width: 580px)
{
    .section-wwa .article-no1 .wwaArticle_img
    {
        max-width: none;
    }
}
.section-wwa .article-no1 .wwaArticle_text
{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
@media screen and (max-width: 580px)
{
    .section-wwa .article-no1 .wwaArticle_text
    {
        text-align: left;
    }
}
.section-wwa .article-no1 .wwaArticle_no
{
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
@media screen and (max-width: 580px)
{
    .section-wwa .article-no100 .wwaArticle_img
    {
        max-width: 30px;
    }
}
.section-wwa .article-no100 .wwaArticle_text img
{
    width: 70%;
}
.section-wwa .article-no5 .wwaArticle_text img
{
    width: 56%;
}
.section-wwa .section_footer.cityView
{
    overflow: hidden; 

    height: 410px;
}
.section-wwa .section_footer.cityView img
{
    width: 100%;
}
@media screen and (max-width: 780px)
{
    .section-wwa .section_footer.cityView
    {
        height: 100px;
    }
    .section-wwa .section_footer.cityView img
    {
        width: 130%;
        max-width: none;
    }
}

.fancybox-bg
{
    background-color: #fff;
}

.fancybox-close-small
{
    top: -50px;
    right: -20px;

    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.fancybox-close-small:hover:before,
.fancybox-close-small:hover:after,
.fancybox-close-small:active:before,
.fancybox-close-small:active:after,
.fancybox-close-small:focus:before,
.fancybox-close-small:focus:after
{
    color: transparent; 
    outline: none;
    background: #eb5200;
}
.fancybox-close-small:before,
.fancybox-close-small:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;
    margin: auto;

    content: '';
    -webkit-transition: none;
            transition: none;
    -webkit-transform-origin: center center;
            transform-origin: center center; 

    border: none;
    border-radius: 0;
    background: #ff6d1f;
}
.fancybox-close-small:before
{
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
}
.fancybox-close-small:after
{
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
            transform: translate3d(0, 0, 0) rotate(-45deg);
}

.fancybox-slide > .wwaModal
{
    overflow: visible;
}

.wwaModal
{
    display: none; 

    max-width: 800px;
    padding: 0;

    background-color: #fff;
}
@media screen and (max-width: 580px)
{
    .wwaModal
    {
        max-width: 90%;
    }
}
.wwaModal_content
{
    font-weight: 200;

    position: relative; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 50px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width: 580px)
{
    .wwaModal_content
    {
            flex-direction: column; 

        padding: 35px 20px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .wwaModal_content:before,
    .wwaModal_content:after
    {
        height: 4px;
    }
}
.wwaModal_content:before,
.wwaModal_content:after
{
    position: absolute;

    display: block;

    width: 0;
    height: 8px;

    content: ' ';
    -webkit-transition: all .3s cubic-bezier(.785, .135, .15, .86);
            transition: all .3s cubic-bezier(.785, .135, .15, .86);
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
}
.wwaModal_content:before
{
    top: 0;
    left: 0;
}
.wwaModal_content:after
{
    right: 0;
    bottom: 0;
}
.fancybox-container--ready .wwaModal_content:before
{
    width: 100%;
}
.fancybox-container--ready .wwaModal_content:after
{
    width: 100%;
}
.wwaModal_img
{
    margin-right: 40px;
}
@media screen and (max-width: 580px)
{
    .wwaModal_img
    {
        max-width: 30%;
        margin-right: auto;
        margin-left: auto;
    }
}
.wwaModal_text_content
{
    font-size: 1.15em;
}
@media screen and (max-width: 580px)
{
    .wwaModal_text_content br
    {
        display: none;
    }
}
@media screen and (max-width: 580px)
{
    .wwaModal_text_index
    {
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;

        text-align: center;
    }
}
.wwaModal_attention
{
    font-size: .6em;

    color: #717171;
}

@media screen and (max-width: 580px)
{
    #wwa100 .wwaModal_img
    {
        max-width: 15%;
    }
}
@media screen and (max-width: 580px)
{
    #wwa100 .wwaModal_text_index img
    {
        max-width: 60%;
    }
}

@media screen and (max-width: 580px)
{
    #wwa6 .wwaModal_text_index img
    {
        max-width: 90%;
    }
}

/********************
business
********************/
.section-business .businessPanel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 73%;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.section-business .businessPanel_panel
{
    line-height: 1;

    max-width: 100%;

    list-style: none;

    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); 

    opacity: 0;
}
.section-business .businessPanel_panel img
{
    width: 100%;
}
.section-business .businessPanel_panel a
{
    color: inherit;
}
.section-business .businessPanel_panel:nth-child(even)
{
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}
.section-business .businessPanel_panel a:not(.comingsoon)
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.section-business .businessPanel_panel a:not(.comingsoon):hover .businessPanel_panel_index,
.section-business .businessPanel_panel a:not(.comingsoon):active .businessPanel_panel_index,
.section-business .businessPanel_panel a:not(.comingsoon):focus .businessPanel_panel_index
{
    letter-spacing: .5em;
}
.section-business .businessPanel_panel a.comingsoon
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.section-business .businessPanel_panel a.comingsoon:hover,
.section-business .businessPanel_panel a.comingsoon:hover img,
.section-business .businessPanel_panel a.comingsoon:active,
.section-business .businessPanel_panel a.comingsoon:active img,
.section-business .businessPanel_panel a.comingsoon:focus,
.section-business .businessPanel_panel a.comingsoon:focus img
{
    opacity: 1;
}
.section-business .businessPanel_panel_index
{
    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.section-business .businessPanel_panel-about .businessPanel_panel_index
{
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.section-business .businessPanel_panel-about.comingsoon .businessPanel_panel_index
{
    color: #000;
    text-shadow: none;
}
@media screen and (max-width: 780px)
{
    .section-business .businessPanel
    {
            flex-direction: column;

        width: auto;
        padding-right: 5%; 
        padding-left: 5%;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
}
.section-business.inview .businessPanel_panel
{
    -webkit-transform: translateY(0px);
            transform: translateY(0px); 

    opacity: 1;
}
@media screen and (max-width: 780px)
{
    .section-business .section_index img
    {
        width: 49.58333%;
    }
}

/********************
person
********************/
.section-person
{
    position: relative;
}
.section-person .section_index
{
    margin-bottom: 1em;
}
.section-person .section_index span
{
    color: #fff;
}
.section-person .section_index span:after
{
    background-color: #fff;
}
.section-person .gradationBg
{
    display: block;

    width: 0;

    -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s;
}
.section-person .gradationBg-top
{
    position: absolute;
    z-index: -1; 
    top: -20px;

    height: 200px;
}
.section-person .gradationBg-bottom
{
    height: 50px;
}
.section-person.inview .gradationBg
{
    width: 100%;
}
.section-person .persons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;

    background-color: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.section-person .person
{
    line-height: 1;

    overflow: hidden; 

    width: 33.28571%;
    margin: 0 0 -1px 0;

    list-style: none;
}
@media screen and (max-width: 780px)
{
    .section-person .person
    {
        width: 50%;
    }
}
.section-person .person img
{
    width: 100%;
}
.section-person .person:hover .person_content,
.section-person .person:focus .person_content
{
    -webkit-transform: scale(1);
            transform: scale(1); 

    opacity: 1;
}
.section-person .person:hover .person_img,
.section-person .person:focus .person_img
{
    -webkit-transform: scale(1.025);
            transform: scale(1.025); 

    -webkit-filter: glayscale(100%);
            filter: glayscale(100%);
}
.section-person .person a
{
    position: relative;

    display: block;

    color: #fff;
}
.section-person .person .arrow
{
    position: absolute;
    right: 0; 
    bottom: 0;

    display: block;

    width: 15%;

    border-radius: 100%;
}
@media screen and (max-width: 1300px)
{
    .section-person .person .arrow
    {
        top: auto; 

        width: 10%;
        height: auto;
    }
}
@media screen and (max-width: 780px)
{
    .section-person .person .arrow
    {
        display: none;
    }
}
.section-person .person .article_img,
.section-person .person_content
{
    -webkit-transition: all .25s cubic-bezier(.785, .135, .15, .86) 0s;
            transition: all .25s cubic-bezier(.785, .135, .15, .86) 0s;
}
.section-person .person_content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20% 10% 20% 10%;

    -webkit-transform: scale(1.1);
            transform: scale(1.1);

    opacity: 0;
    background-color: rgba(255, 109, 31, .85); 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media screen and (max-width: 1300px)
{
    .section-person .person_content
    {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}
@media screen and (max-width: 780px)
{
    .section-person .person_content
    {
        padding-top: 10.36269%;
        padding-right: 6.42398%;
        padding-bottom: 5.18135%;
        padding-left: 6.42398%;
    }
}
.section-person .person_content > div
{
    width: 100%;
}
.section-person .person .personNum
{
    margin-bottom: 25%;

    text-align: center;
}
.section-person .person .personNum img
{
    width: 50%;
}
@media screen and (max-width: 1300px)
{
    .section-person .person .personNum
    {
        margin-bottom: 15%;
    }
}
@media screen and (max-width: 780px)
{
    .section-person .person .personNum
    {
        margin-bottom: 5%;
    }
    .section-person .person .personNum img
    {
        width: 30%;
    }
}
.section-person .person .personInfo
{
    position: relative;
}
.section-person .person .profileTop
{
    font-size: 11px; 

    letter-spacing: .22em;
}
.section-person .person .profileTop .ja
{
    font-size: 2em;
}
.section-person .person .profileTop .en
{
    font-family: 'Roboto', sans-serif;

    margin-left: 1em;
}
@media screen and (max-width: 1300px)
{
    .section-person .person .profileTop .ja
    {
        font-size: 1.3em;
    }
    .section-person .person .profileTop .en
    {
        display: block; 

        margin-top: 5px;
        margin-left: 0;
    }
}
@media screen and (max-width: 780px)
{
    .section-person .person .profileTop
    {
        font-size: 10px;
    }
    .section-person .person .profileTop .ja
    {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 1300px)
{
    .section-person .person .profileText
    {
        font-size: 10px;
    }
}
.no-flexboxlegacy .personImagePanel
{
    display: block;
    overflow: hidden;

    *zoom: 1;
}
.no-flexboxlegacy .personImagePanel:after
{
    display: table;
    clear: both; 

    content: '';
}
.no-flexboxlegacy .personImagePanel_panel
{
    float: left;
}
.no-flexboxlegacy .personImagePanel_panel:nth-child(4)
{
    clear: both;
}
.no-flexboxlegacy .gradationBg-bottom
{
    clear: both;
}
@media screen and (max-width: 780px)
{
    .section-person .section_index img
    {
        width: 37.83333%;
    }
    .section-person .gradationBg-top
    {
        top: -10px; 

        height: 150px;
    }
    .section-person .gradationBg-bottom
    {
        height: 20px;
    }
}

/********************
career
********************/
.section-career .heroPanel
{
    margin: auto;
}
@media screen and (max-width: 780px)
{
    .section-career .section_index img
    {
        width: 38.41667%;
    }
}

/********************
culture
********************/
.section-culture
{
    margin-bottom: 140px;
}
.section-culture .heroPanel
{
    display: block;
    overflow: hidden; 

    width: 100%;
    height: 550px;
}
.section-culture .heroPanel_bg img
{
    width: 100%;
}
@media screen and (max-width: 1200px)
{
    .section-culture .heroPanel
    {
        height: 350px;
    }
}
@media screen and (max-width: 780px)
{
    .section-culture
    {
        margin-bottom: 70px;
    }
    .section-culture .section_index img
    {
        width: 44.16667%;
    }
    .section-culture .heroPanel
    {
        height: 180px;
    }
    .section-culture .heroPanel_bg img
    {
        width: 150%;
        max-width: none;
    }
}

/********************
wki
********************/
.section-wju
{
    margin-bottom: 180px;
}
@media screen and (max-width: 780px)
{
    .section-wju
    {
        margin-bottom: 70px;
    }
    .section-wju .section_index img
    {
        width: 55.91667%;
    }
}

/********************
recruiting
********************/
.section-recruiting
{
    margin-bottom: 0;
    padding-top: 85px;
    padding-bottom: 85px;

    -webkit-animation: gradationAnim 16s ease infinite;
            animation: gradationAnim 16s ease infinite; 
    text-align: center;

    background-size: 400% 400%;
}
.section-recruiting .section_index
{
    margin-bottom: 50px;
}
.section-recruiting .section_index_ja
{
    color: #fff;
}
.section-recruiting .section_index span:after
{
    background-color: #fff;
}
.section-recruiting .button
{
    width: 210px;
}
.section-recruiting .button a
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s; 

    color: #fff;
    border-color: #fff;
    background-color: transparent;
}
.section-recruiting .button a:hover,
.section-recruiting .button a:active,
.section-recruiting .button a:focus
{
    background-color: #ff6d1f;
}
@media screen and (max-width: 780px)
{
    .section-recruiting
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-recruiting .section_index img
    {
        width: 62.66667%;
    }
}
