@charset "UTF-8";
@import "compass";
@import "../common/scss/colors";
@import "../common/scss/variables";
@import "../common/scss/mixins";

////////////////////////

// modules

////////////////////////

.section{
	margin-top: 150px;
	margin-bottom: 150px;
	&_index{
		text-align: center;
		line-height: 1;
		margin: 0 0 70px;
		position: relative;
	}

	&_index_ja{
		margin-top: 2.5em;
		letter-spacing: 0.35em;
		color: #444;
		font-feature-settings: 'palt';
		display: inline-block;
	}

	.barAnim > span:after{
		bottom: 0;
	}

	@include breakpoint( tab ){
		margin-top: 50px;
		margin-bottom: 65px;
		
		&_index_ja{
			margin-top: 1.5em;
		}		

		&_index{
			margin-bottom: 45px;
			padding-left: 5%;
			padding-right: 5%;
		}		
		
	}
}


.heroPanel{
	margin: auto;	
	display: table;
	position: relative;
	
	&.comingsoon{
		background-color: #fff;
		.heroPanel_bg{
			opacity: 0.2;
		}			
	}		
	
	&_text,
	&_bg{
		display: table-cell;
		vertical-align: middle;
		line-height: 1;
	}
	&_text{
		height: 1em;
		margin: auto;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-family: $roboto_cond;
		font-weight: bold;
		letter-spacing: 0.2em;
		text-align: center;
	}
}




/********************
fancybox reset
********************/

.fancybox-slide>*,
.fancybox-iframe{
	background-color: transparent;
}
body:-webkit-full-page-media{
	background-color: transparent;
}


/********************
slick reset
********************/

.slick-prev:before, .slick-next:before { 
	content: " "!important;
	width: 0;
	height: 0;
	border-style: solid;
	display: block;
	transition: transition($s:0.2s);
}
.slick-prev:after, .slick-next:after { 
	content: " "!important;
	width: 0px;
	height: 1px;
	margin: auto;
	display: block;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	transition: transition();
}
.slick-prev{
	z-index: 2;
	&:before{
		border-width: 8.5px 35px 8.5px 0;
		border-color: transparent #ffffff transparent transparent;
	}
	&:after{
		left: 0;
	}

	@include mouseOver(){
		&:before{
			left: 0;
			border-width: 5px 20px 5px 0;
			// opacity: 0!important;
		}
		&:after{
			width: 10px;
			left:20px;
		}		
	}

	@include breakpoint( tab ){
		left: 1px;
		&:before{
			border-width: 4px 17px 4px 0;
		}
	}	
}

 .slick-next{
 	z-index: 2;
 	&:before { 
	 	border-width: 8.5px 0 8.5px 35px;
	 	border-color: transparent transparent transparent #ffffff;
	 }
	&:after{
		right: 0;
	}	

 	@include mouseOver(){

		&:before{
			border-width: 5px 0px 5px 20px;
			// opacity: 0!important;
		}
		&:after{
			width: 10px;
			right: 20px;
		}		
	}

	@include breakpoint( tab ){
		right: 1px;
		&:before{
			border-width: 4px 0px 4px 17px;
		}
	}	
}

.slick-dots{
	bottom: 5px;
	li{
		&.slick-active{
			button:before{
				color: $orange;
			}			
		}
		button:before{
			color: #fff
		}
	} 
}


/********************
main visual
********************/

.mainvisual{
	position: relative;
	
	.mvArticle{
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		
		&_text{
			margin-top: 0;
			font-size: 2.5em;
			font-feature-settings: 'palt';
			letter-spacing: 0.18em;
			color: #fff;
			text-shadow: 0 0 5px rgba(#000, 0.2);
			transition: all 0.1s;
			font-weight: 200;
			
			span{
				display: inline-block;
				transition: transition();
			}
			
			&.willFadein span{
				transform: perspective(200px) translate3d(0,5px,1px);
				opacity: 0;
				
			}
			&.willFadeOut span{
				transform: perspective(200px) translate3d(0,5px,1px);
				opacity: 0;
			}
			&.fadeInDone span{				
				// transition-delay: 0.2s;
				transition-duration: 0.09s;
				transform: perspective(200px) translate3d(0,0px,0);
				opacity: 1;
			}

			@include breakpoint( tab ){
				margin-bottom: 2em;
				letter-spacing: 0.1em;
				font-size: 1.645em;
				
				.offindent{
					display: inline-block;
					text-indent: -1em;
				}
			}				
		}


		.button{
			width: 240px;
			color: #fff;
			
			a{
				font-weight: bold;
				&:before,
				&:after{
					margin: auto;
					position: absolute;
					top: 0;
					right: 10px;
					bottom: 0;
					transition: transition();
				}
				&:before{
					content:  " ";
					width: 0;
					height: 1px;
					right: 0px;
					background-color: $orange;
				}
				&:after{
					content: " ";
					display: block;
					width: 0;
					height: 0;
					position: absolute;
					top: 0;
					right: 10px;
					bottom: 0;			
					border-style: solid;
					border-width: 5px 0 5px 22px;
					border-color: transparent transparent transparent $orange;	
				}

				@include mouseOver{
					&:before{
						content:  " ";
						width: 20px;
						right: 10px;
					}
					&:after{
						right: 0px;
						border-width: 5px 0 5px 10px;
					}					
				}
			}
			@include breakpoint( tab ){
				width: 50%;
				margin-right: auto;
				margin-left: auto;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 10%;
				
				a{
					&:before,
					&:after{
						right: 5px;
					}
					&:after{

						right: 5px;
						border-width: 3px 0 3px 11px;
					}	
				}			
			}			
		}

	}
	&.black{
		.mvArticle_text,
		.button
		{
			color: #000
		}

		.mvArticle_text{
			text-shadow: 0 0 5px rgba(#fff, 0.2);			
		}
		.button a{
			border-color: #000;
		}
	}
}



////////////////////////

// 個別

////////////////////////
// ※1ラッパー要素ごとに位置指定する場合（テキスト領域の幅が縮んでしまった
/********************
what we are
********************/

.viewWhatWeAre{
	overflow: hidden;	
}

.section-wwa{
	margin-top: 90px;
	overflow: hidden;
	
	@include breakpoint( tab ){
		margin-top: 40px;
	}	

	.section_index{
		margin-bottom: 100px;
		
		.sub{
			margin-top: 50px
		}
		

		@include breakpoint( tab ){
			margin-bottom: 40px;
						
			img{
				@include liquid( 902, 1200 );
			}			
			img.sub{
				margin-top: 20px;
				// @include liquid( 660, 1200 );
			}
		}		

	}
	
	$boxWrap : 1160;
	$boxHeight : 514;
	
	/////ポリゴン
	.poly{
		fill: url(#gradient);
	}

	/////閉じるボタン
	.closeWwaModalButton{
		width: 25px;
		height: 25px;
		position: absolute;

		&:before,
		&:after{
			content: " ";
			width: 100%;
			height: 1px;
			margin: auto;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #fff;
		}
		&:before{
			transform: rotate(45deg)
		}		
		&:after{
			transform: rotate(-45deg)
		}

		@include breakpoint( tab ){
			margin: auto;
			top: auto!important;
			right: 0 !important;
			left: 0 !important;
			bottom: 5px!important;
			&:before,
			&:after{
				background-color: #000;
			}			
		}			
	}
	.notesRight .closeWwaModalButton,
	.notesTop .closeWwaModalButton{	

		top: 5px;
		right: 20px;	
	}
	.notesLeft .closeWwaModalButton{
		bottom: 5px;
		left: -5px;			
	}		
	
	/////ラッパー
	.wwaArticles
	{
		height: 0;
		padding-top: liquidSpace( 514, 1240 );
		@include liquid($boxWrap, 1360, true );
		position: relative;
		
		@include breakpoint( tab ){
			width: auto;
			padding-top: 103%;
		}		
		
		&_article:not(.active){
			cursor: pointer;
			@include mouseOver(){
				opacity: 0.7;
			}
		}

		&_article{
			// position: absolute; ※1
			
		}
		&_article_img,
		&_article_content{
			position: absolute;			
		}


		&_article_img{
			transform:scale(0);
			opacity: 0;
			transition: easeOutBack($s:0.2s);
		}

		&_article_content{
			width: 50%;
			min-width: 300px;
			padding: 40px;			
			top: 0;
			z-index: -1;
			opacity: 0;
			box-sizing: border-box;
			font-size: 1.14em;
			font-weight: bold;
			color: #fff;
			transition: opacity 0.25s ease 0s;
			
			@at-root{
				//記事右側表示
				.notesRight .wwaArticles_article_content{
					left: 100%;
				}
				//記事左側表示
				.notesLeft .wwaArticles_article_content{
					right: 100%;
				}		
			}

			svg{
				height: 100%;
				margin: auto;
				position: absolute;
				z-index: -1;
				top: 0;
				right: 0;
				bottom: 0;
				left: -5%;
			}

			@include breakpoint( tab ){
				width: 80%;
				padding-right: 5%;
				padding-left: 5%;
				font-size: 0.9em;
			}				

		}

		.wwaArticleText{
			font-size: 1.5em;
			line-height: 1.2;
			&_large{
				font-size: 1.25em;
			}
		}
		.wwaArticleInfo{
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.wwaArticleNote{
			font-size: 0.75em;
			
			@include breakpoint( tab ){
				margin-top: 2em;
			}		
		}		
	}

	//////トランジション設定
	.wwaArticles
	{
		.wwa6 .wwaArticles_article_img{
			transition-delay: 0.45s;
		}
		.wwa16407 .wwaArticles_article_img{
			transition-delay: 0.35s;
		}

		.wwa1 .wwaArticles_article_img{
			transition-delay: 0.3s;
		}
		.wwa100 .wwaArticles_article_img{
			transition-delay: 0.5s;
		}
		.wwa5 .wwaArticles_article_img{
			transition-delay: 0.52s;	
		}
	}


	//////////////////
	//位置設定
	//////////////////
	&.inview{
		.wwaArticles_article_img{
			transform:scale(1) ;
			opacity: 1;
		}
		.wwa6{
				// top: 0;
				// left: liquidSpace(180, $boxWrap);※1
			.wwaArticles_article_img{
				top: 0;
				left: liquidSpace(180, $boxWrap);
			}
			@include breakpoint( tab ){
				.wwaArticles_article_img{
					top: liquidSpace(121,640);					
					left: liquidSpace(128,640);					
				}
			}				
		}
		.wwa16407{
				// top: liquidSpace(262,$boxHeight);
				// left: 0;※1
			.wwaArticles_article_img{
				top: liquidSpace(262,$boxHeight);
				left: 0;
			}
			@include breakpoint( tab ){
				.wwaArticles_article_img{
					top: liquidSpace(315,640);					
					left: liquidSpace(43,640);					
				}
			}				
		}
		.wwa1{
				// top: liquidSpace(70, $boxHeight);
				// left: liquidSpace(420, $boxWrap);※1
			.wwaArticles_article_img{
				top: liquidSpace(70, $boxHeight);
				left: liquidSpace(420, $boxWrap);
			}

			@include breakpoint( tab ){
				.wwaArticles_article_img{
					top: 0;
					left: liquidSpace(252, 640);
				}				
			}			
			
		}
		.wwa100{
				// top: 0;
				// left: liquidSpace(722, $boxWrap);※1
			.wwaArticles_article_img{
				top: 0;
				left: liquidSpace(722, $boxWrap);
			}

			@include breakpoint( tab ){
				.wwaArticles_article_img{
					top: liquidSpace(226, 640);
					left: liquidSpace(370, 640);					
				}
			}	
		}
		.wwa5{
				// top: liquidSpace(220, $boxHeight);
				// left: liquidSpace(764, $boxWrap);※1
			.wwaArticles_article_img{
				top: liquidSpace(220, $boxHeight);
				left: liquidSpace(764, $boxWrap);
			}	
			@include breakpoint( tab ){
				.wwaArticles_article_img{
					top: liquidSpace(401,640);					
					left: liquidSpace(342,640);					
				}
			}	
		}

	}

	//////////////////
	//幅設定
	//////////////////

	.wwa6{
			// @include liquid( 94, $boxWrap );※1
		.wwaArticles_article_img{
			@include liquid( 94, $boxWrap );
		}
		@include breakpoint( tab ){
			.wwaArticles_article_img{
				@include liquid( 83, 640 );
			}	
		}	
		
	}
	.wwa16407{
		
			// @include liquid( 346, $boxWrap );※1
		.wwaArticles_article_img{
			@include liquid( 346, $boxWrap );
		}
		@include breakpoint( tab ){
			.wwaArticles_article_img{
				@include liquid( 254, 640 );
			}	
			.wwaArticles_article_content{
				transform: none;
			}			
		}			
	}
	.wwa1{
			// @include liquid( 310, $boxWrap );※1
		.wwaArticles_article_img{
			@include liquid( 310, $boxWrap );
		}
		@include breakpoint( tab ){
			.wwaArticles_article_img{
				@include liquid( 174, 640 );
			}	
		}		
		
	}
	.wwa100{
			// @include liquid( 256, $boxWrap );※1
		.wwaArticles_article_img{
			@include liquid( 256, $boxWrap );
		}	
		@include breakpoint( tab ){
			.wwaArticles_article_img{
				@include liquid(200, 640 );
			}	
		}	
	}
	.wwa5{
			// @include liquid( 398, $boxWrap );※1
		.wwaArticles_article_img{
			@include liquid( 398, $boxWrap );
		}	

		@include breakpoint( tab ){
			.wwaArticles_article_img{
				@include liquid( 270, 640 );
			}	
		}	
	}

	////////////////
	//アクティブ時
	////////////////
	.wwaArticles
	{
		&_article.active{
			.wwaArticles_article_img{
				transform:scale(1.25);
				z-index: 3;
			}		
			.wwaArticles_article_content{
				z-index: 2;
				opacity: 1;
				transition-duration: 0.3s;
				transition-delay: 1s;
			}		

			&.wwa1{
				@include breakpoint( tab,min ){
					.wwaArticles_article_img{
						left: liquidSpace(420, $boxWrap)/1.25;
					}
					.wwaArticles_article_content{
						transform: translateX(-5%);
					}
				}
					
			}
		}
	}

	@at-root .viewWhatWeAre{
		.wwaArticles{

			@include breakpoint( tab ){
				position: static;
			}		

			&_article.active{
				@include breakpoint( tab ){
					width: 100%;
					height: 100%;
					margin: auto;
					position: fixed;
					z-index: 9;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}				
				
			}
			&_article_img,
			&_article_content{
				@include breakpoint( tab ){
					position: static;
				}	
			}
			&_article_content{
				@include breakpoint( tab ){
					@include background-image(linear-gradient(to right, #ff3d1f, #ff991f));
				}
			}
		}
		
	}


	.section_footer.cityView{
		height: 410px;
		overflow: hidden;
		
		
		img{
			width: 100%;
			
		}

		@include breakpoint( tab ){
			height: 100px;
			
			
			img{
				width: 130%;
				max-width: none;
			}			
		}		
		
	}

}


/********************
business
********************/
.section-business{

	.businessPanel{
		@include liquid( 1022, 1400, true );
		display: flex;
		flex-direction: row;
		align-items: stretch;	
		
		// display: table;
		// table-layout: fixed;
		
		&_panel{
			max-width: 100%;
			line-height: 1;
			list-style: none;
			opacity: 0;
			transition: transition();
			transition-delay: 0.25s;
			transform: translateY(20px);
			
			// display: table-cell;
			// vertical-align: middle;
			
			img{width: 100%}

			a{
				color: inherit;
			}		
			&:nth-child(even){
				transition-delay:1s;
			}		
		}
		&_panel a:not(.comingsoon){
			@include mouseOver(){
				.businessPanel_panel_index{
					letter-spacing: 0.5em;
				}	
			}
		}
		&_panel a.comingsoon{
			@include mouseOver(){
				&,img{opacity: 1;}
			}
		}

		&_panel_index{
			transition: transition();
		}

		&_panel-about{
			.businessPanel_panel_index{
				color: #fff;
				text-shadow: 0 0 5px rgba(#000, 0.5)
			}

			&.comingsoon .businessPanel_panel_index{
				color: #000;
				text-shadow: none;				
			}
		}

		&_panel-vision{
			.businessPanel_panel_index{
			}
		}

		@include breakpoint( tab ){
			width: auto;
			flex-direction: column;
			padding-left: 5%;
			padding-right: 5%;
		}		

	}

	&.inview .businessPanel{

		&_panel{
			opacity: 1;
			transform: translateY(0px);			
		}
		// &_panel_index,
		// &_img{
		// 	opacity: 1;
		// 	transform: translateY(0px);			
		// }
	}	

	@include breakpoint( tab ){
		.section_index{
			img{
				@include liquid( 595, 1200 );
			}			
		}
	}		
}



/********************
person
********************/
.section-person{

	position: relative;
	
	.section_index{
		margin-bottom: 1em;
		span{
			color: #fff;
			&:after{
				background-color: #fff;
			}
		}
	}

	.gradationBg{
		width: 0%;
		display: block;
		transition: transition($s:0.2s);
		@extend %gradation;
		
		
		&-top{
			height: 200px;
			position: absolute;
			top: -20px;
			z-index: -1;
		}

		&-bottom{
			height: 50px
		}
	}

	&.inview {
		.gradationBg{
			width: 100%;		
		}
	}

	.persons{
		width: 100%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;	
	}

	.person
	{
		@include liquid( 466, 1400 );
		margin: 0 0 -1px 0;		
		line-height: 1;
		list-style: none;
		overflow: hidden;
		
		@include breakpoint( tab ){
			width: 50%;
		}
		img{
			width: 100%;
		}


		/////// mouse over
		&:hover,
		&:focus{
			.person_content{
				opacity: 1;
				transform: scale(1);
			}
			.person_img{
				filter: glayscale( 100% );
				transform: scale(1.025);	
			}		
		}

		a{
			position: relative;
			display: block;
			color: #fff;
		}

		.arrow{
			width: 15%;
			display: table;
			border-radius: 100%;			
			position: absolute;
			bottom: 0;
			right: 0;

			
			img{
				display: table-cell;
				vertical-align: middle;
			}

			@include breakpoint( 1300 ){
				width: 10%;
				height: auto;
				top: auto;
			}		
			@include breakpoint( tab ){
				display: none;
			}	

		}

		.article_img,
		&_content{
			transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;		
		}

		
		&_content{
			height: 100%;
			width: 100%;
			// display: table;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;			
			margin: 0;
			box-sizing: border-box;
			padding: 20% 10% 20% 10%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			transform: scale(1.1);		
			background-color: rgba( $orange, 0.85 );
			
			@include breakpoint( 1300 ){
				padding-top: 15%;
				padding-bottom: 15%;
			}			
				
			@include breakpoint( tab ){
				padding-top: percentage( 40 / 386 );
				padding-right: percentage( 30 / 467 );
				padding-bottom: percentage( 20 / 386 );
				padding-left: percentage( 30 / 467 );
			}			
			
			&>div{
				width: 100%;
				// display: table-cell;
				// vertical-align: middle;
			}
			
		}


		.personNum
		{
			margin-bottom: 25%;
			text-align: center;
			img{
				width: 50%;
			}

			@include breakpoint( 1300 ){
				margin-bottom: 15%;
			}

			@include breakpoint( tab ){
				margin-bottom: 5%;
				
				img{
					width: 30%;
				}				
			}
		}

		.personInfo{
			position: relative
		}

		.profileTop
		{
			letter-spacing: 0.22em;
			font-size: 11px;
			
			.ja{
				font-size: 2em;
			}
			.en{
				font-family: $roboto;
				margin-left: 1em;
			}

			@include breakpoint( 1300 ){
				.ja{
					font-size: 1.3em;
				}
				.en{
					margin-top: 5px;
					margin-left: 0;
					display: block;
				}
			}
			@include breakpoint( tab ){
				font-size: 10px;
				.ja{
					font-size: 1.1em;
				}			
			}
		}

		.profileText{
			@include breakpoint( 1300 ){
				font-size: 10px;
			}		
		}

	}		

	@at-root .no-flexboxlegacy{

		.personImagePanel{
			overflow: hidden;
			display: block;
			
			@include clearfix;
			
			&_panel{
				float: left;
				
				&:nth-child(4){
					clear: both;
				}				
			}
		}

		.gradationBg-bottom{
			clear: both;
		}

	}	


	@include breakpoint( tab ){
		.section_index{
			img{
				@include liquid( 454, 1200 );
			}			
		}

		.gradationBg{			
			
			&-top{
				height: 150px;
				top: -10px;
			}

			&-bottom{
				height: 20px
			}
		}		
	}		

}



/********************
career
********************/
.section-career{

	.heroPanel{
		margin: auto;	
	}


	@include breakpoint( tab ){
		.section_index{
			img{
				@include liquid( 461, 1200 );
			}			
		}		
	}		
}



/********************
culture
********************/
.section-culture{
	margin-bottom: 140px;
	
	.heroPanel
	{
		width: 100%;
		height: 550px;
		display: block;
		overflow: hidden;
		
		&_bg{
			img{
				width: 100%;			
			}
		}
	}
	@include breakpoint( pc ){
	
		.heroPanel
		{
			height: 350px;
		}		
	}
	@include breakpoint( tab ){
		margin-bottom: 70px;
		
		.section_index{
			img{
				@include liquid( 530, 1200 );
			}			
		}

		.heroPanel
		{
			height: 180px;
			
			&_bg{
				img{
					width: 150%;
					max-width: none;
				}
			}
		}
	}		
}



/********************
wki
********************/
.section-wju{
	margin-bottom: 180px;

	
	@include breakpoint( tab ){
		margin-bottom: 70px;
		
		.section_index{
			img{
				@include liquid( 671, 1200 );
			}			
		}
	}		
}



/********************
recruiting
********************/
.section-recruiting{
	margin-bottom: 0;
	padding-top: 85px;
	padding-bottom: 85px;
	@extend %gradation;
	text-align: center;
	
	background-size: 400% 400%;
	-webkit-animation: gradationAnim 16s ease infinite;
	-moz-animation: gradationAnim 16s ease infinite;
	animation: gradationAnim 16s ease infinite;		
	
	.section_index{
		margin-bottom: 50px;
		
		&_ja{
			color: #fff;
		}
		span{
			&:after{
				background-color: #fff;
			}
		}
	}


	.button{
		width: 210px;
		a{
			color: #fff;
			border-color: #fff;
			background-color: transparent;
			
			@include mouseOver{
				background-color: $orange;
			}
		}
	}

	@include breakpoint( tab ){
		padding-top: 50px;
		padding-bottom: 50px;
		
		.section_index{
			img{
				@include liquid( 752,1200 );
			}
		}
	}	



}