@charset "UTF-8";
@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

////////////////////////////////////////////////

// RECRUITING

////////////////////////////////////////////////

////////////////////////

// modules

////////////////////////

%dlStyle{
	display: table;
	
	dt,
	dd{
		display: table-cell;
		vertical-align: top;
		box-sizing: border-box
	}
	dt{
		width: 150px;
		padding-right: 2em;
		font-weight: bold;
	}
	dd{
		padding-left: 2em;
	}
	p{
		margin-top: 0;
	}
	.attention{
		
	}	
}



.pageIndex_text
{
	@include breakpoint( tab ){
		@include liquid(442, 800, true );
	}		
}



.section{
	padding-top: 70px;
	padding-bottom: 70px;
	

	.contentArticle{
		@include liquid(980,1400, true);
		
		&_index{
			font-size: 2em;
			margin-bottom: 1.5em;
			font-weight: bold;
			letter-spacing: 0.24em;
		}

		p{
			margin-top: 2em;
			margin-bottom: 2em;
			line-height: 2;
			letter-spacing: 0.05em;
		}
	}

	@include breakpoint( tab ){
		padding-top: 40px;
		padding-bottom: 40px;	
		
		.contentArticle{
			width: 90%;
		
			&_index{
				font-size: 1.3em;
				margin-bottom: 1.5em;
				font-weight: bold;
				letter-spacing: 0.24em;
			}

			p{
				margin-top: 2em;
				margin-bottom: 2em;
				line-height: 2;
				letter-spacing: 0.05em;
			}
		}
	}	
}

.careerSelectContent{
	min-height: 300px;	
	display: none;
	&_content{
		transition: transition();
		// opacity: 0;
		transform-origin: 50%;
		transform: perspective($perspective) scale(1.01) translate3d(0,0,2px);
	}
	&.active{
			display: block;
		.careerSelectContent_content{
			transform: perspective($perspective) scale(1) translate3d(0,0,0);			
		}
	}
}




/********************
navigation
********************/


.section-nav{
	@include liquid(980, 1400,true);
	background-color: transparent!important;
	

	&:last-child{
		padding-bottom: 0;
	}
	
	li{
		list-style: none;
	}

	a{
		color: inherit;
	}

	@include breakpoint( tab ){
		width: auto;		
	}	

}

.infoNav ul,
.careerSelectNav ul{
	a{
		font-size: 1.85em;
		letter-spacing: 0.5em;
		display: block;
		
		@include mouseOver{
			
		}
	}

	@include breakpoint( tab ){
		a{
			font-size: 1em;
			letter-spacing: 0.1em;
		}
	}		
}


.careerSelectNav ul{
	width: calc( 100% + 5px );
	margin-top: 60px;
	display: table;
	table-layout: fixed;
	border-spacing: 10px 0;
	
	li{
		display: table-cell;
		vertical-align: middle;
		border: solid 1px $gray;
		text-align: center;
		a{
			padding: 0.5em;
		}

		@include mouseOver(){
			&:not(.active) a{
				background-color: $orange;
				color: #fff;
			}
		}

		&.active{
			border: none;
			a{
				background-color: $orange;
				color: #fff;
			}
		}

		&.comingsoon{
			opacity: 0.35;
			@include mouseOver(){
				a{
					cursor: default;
					color: inherit;
					background-color: transparent
				}
			}			
		}
	}

	@include breakpoint( tab ){
		width: 100%;
		margin-top: 20px;
		border-spacing: 1px 0;
		
		li{
			border: none;
			
			&:not( active ){
				border: solid 1px $gray;
			}
		}
	}		
}


////////////////////////

// 個別

////////////////////////


/********************
mission
********************/
.section-mission{
	
	.wrap{
		max-width: none;
		padding: 0;
	}

	.contentArticle
	{
		max-width: $outerWidth;
		
		&_wrap
		{
			@include liquid(980,1400, true);		
		
			@include breakpoint( tab ){
				width: 90%;
			}			
		}

	}

	.contentArticle-bullet{
		width: auto;
		max-width: 100%;
		margin-top: liquidSpace(105,1400);
		background-color: rgba(#fff, 0.7);
		
		&_wrap{	
 			@include liquid(980, 1400,true);		
			padding-top: 20px;
			padding-bottom: 20px;
			display: table;
			table-layout: fixed;
			// display: flex;
			// flex-direction: row;
			// justify-content: space-between;
			// align-items: stretch;
			
			@include breakpoint( tab ){
				width: auto;
				display: block;
			}				
		}
		
		.bullet
		{
			width: 200px;
			display: table-cell;
			vertical-align: top;
			padding-right: 30px;
			padding-left: 30px;
			position: relative;
			
			&_num{
				margin-top: -7em;				
				display: block;
				text-align: center;
			}
			
			&_index{
				width: 100%;
				margin-top: 1em;
				margin-bottom: 1em;
				display: table;
				position: relative;
				font-weight: bold;
				color: $orange;
				text-align: center;
				
				span{
					height: 200px;
					display: table-cell;
					vertical-align: middle;
					position: relative;
					z-index: 2;
					font-size: 1.15em;
				}

				&:after{
					content:  " ";
					display: block;
					width: 200px;
					height: 200px;
					margin: auto;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					
					border-radius: 100%;
					@include background-image(linear-gradient( to right bottom, #eaeaea, #fafafa));
					box-shadow: 2px 3px 0 rgba($gray,0.8), -1px -1px 1px rgba($gray,0.2);
				}
				
			}

			&_content{
				font-size: .95em;
			}	

			@include breakpoint( tab ){
				width: auto;
				margin-bottom: 2em;
				padding-right: 0;
				padding-left: 0;
				display: table;
				
				&_num{
					display: none;
				}	

				&_index,
				&_content{
					display: table-cell;
					vertical-align: top;
				}				

				&_index{
					width: 110px;
					margin-top: 0em;
					margin-bottom: 0em;
					text-align: left;
					
					span{
						height: auto;
						font-size: 1em;
					}


					&:after{
						display: none;
					}
				
				}

				&_content{
					font-size: .95em;
					padding-left: 1em;
				}	
			}				
		}
		
	}
}


/********************
会社概要
********************/
.section-company{
	.requirementInfo
	{
		max-width: 700px;
		margin-right: auto;
		margin-left: auto;
		&_list{
			@extend %dlStyle;			
			dt{
				border-right: solid 2px $orange;
			}
		}	
	}
}



/********************
アクセス
********************/
.section-access{
	background-color:  #f3f3f3;
	.accessDetail
	{
		max-width: 700px;
		margin-right: auto;
		margin-left: auto;		
		
		&_map iframe{
			max-width: 700px;
			min-height: 400px;
			margin-right: auto;
			margin-bottom: 30px;
			margin-left: auto;
			display: block;
		}
		&_data{
			
			@extend %dlStyle;
			dd{
				padding-left: 0
			}
		}	
	}

	@include breakpoint( tab ){
		.accessDetail
		{
			
			&_map iframe{
				max-width: 100%;
				min-height: 0px;
			}
			&_data{
							}	
		}
	}		
}