@charset "UTF-8";
@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

////////////////////////////////////////////////

// CULTURE

////////////////////////////////////////////////

////////////////////////

// modules

////////////////////////

.footer{
	margin-top: 0;
}

.pageIndex_text
{
	@include breakpoint( tab ){
		@include liquid(397, 800, true );
	}		
}


.introductionIndex{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 1.57em;
	letter-spacing: 0.17em;
	font-weight: 200;
	
		@include breakpoint( tab ){
			margin-top: 25px;
			margin-bottom: 25px;
			font-size: 1.15em;
		}		
}


/**
* slick
*/

.slick-next,
.slick-prev{
	width: 55px;
	height: 55px;
	display: block;
	background-color: $orange;
	
	&:before
	{
		content:  " ";
		display: block;
		width: 25%;
		height: 25%;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		opacity: 1;
	}

	@include mouseOver(){
		background-color: lighten( $orange, 10 );
	}

	@include breakpoint( tab ){
		width: 25px;
		height: 25px;
		
		&:before
		{
			border-width: 1px;
		}		
	}		
}

.slick-next{
	&:before{
		transform: rotate(45deg );
	}

	@include breakpoint( tab ){
		right: 0px;
	}		
}
.slick-prev{
	&:before{
		transform: rotate(-135deg );
	}

	@include breakpoint( tab ){
		left: 0px;
	}		
}



/**
* fancyBox
*/

.fancybox-controls{
	overflow: auto;
}

.fancybox-button{
	margin-top: auto;
	margin-bottom: auto;
	position: fixed;	
	top: 0;
	bottom: 0;
	background-color: rgba( $orange, 0.8 );
	border-radius: 100%;
	transition: all 0.3s;
	
	&:hover,
	&:active{
		background-color: $orange;
	}
	
	&--left{
		left: 2%;
	}
	&--right{
		right: 2%;
	}


	@include breakpoint( tab ){
		&--left, &--right, & button:not(.fancybox-button--close) {
	   		display: block!important;
	   		width: 22px;
	   		height: 22px;
	   	}

		&--left,
		&--right{
			&:after{
				top: 8px;			
			}
		}
		&--left{
			&:after{
				left:9px;
			}			
			
		}
		&--right{
			&:after{
				right:9px;
			}			
			
		}
	}	
}



.cultureModal{
	display: none;
}


.fancybox-close-small{
	// top: -20px;
	// right: -20px;
	
	&:after{
		transition: all 0.3s;		
		color: #fff;
		background-color: $orange;	
	}

	&:hover:after,
	&:active:after{
		color: #fff;
		background-color: rgba( $orange, 0.8 );			
	}	

}


/*** instagram ***/
.cultureModal-insta{

	max-width: 920px;
	padding: 80px;
	box-sizing: border-box;

	.cultureModal-insta_img,
	.cultureModal-insta_text{
		display: block;
		@include liquid( 560, 920, true );
	}

	.cultureModal-insta_img{
		margin-bottom: 30px;
	}

	.cultureModal-insta_text{
		position: relative;
		

		.button-linkToInsta{
			width: 100px;
			position: absolute;
			top: 0;
			right: -140px;
			text-align: center;
			a{
				font-size: 1rem;
				color: #fff;
				background-color: #8c8c8c;
				border: none;
				letter-spacing: 0.01em!important;		
			}
		}			
	}

	@include breakpoint( tab ){
		
		max-width: 90%;
		padding: 30px;

		.cultureModal-insta_img,
		.cultureModal-insta_text{
			display: block;
			width: auto;
		}		
		
		.cultureModal-insta_text{
			position: relative;
			word-wrap: break-word;
			

			.button-linkToInsta{
				display: block;
				position: static;
				margin-top: 20px;
			}			
		}		
	}		
}


/*** style ***/

.cultureModal-style{
	display: none;
	color: #fff;
	background-color: transparent;
	
	&_wrap{
		max-width: 550px;
		margin-right: auto;
		margin-left: auto;
	}

	&_index{
		margin-bottom: 1em;
		font-size: 2em;
		font-weight: 300;
		letter-spacing: 0.26em;
	}

	&_content{
		letter-spacing: 0.025em;
		margin-bottom: 100px;
	}
	
	
	&_close{
		display: block;
		margin-right: auto;
		margin-left: auto;
		position: static!important;
	}

	.fancybox-close-small{
		display: block
	}

	@include breakpoint( tab ){

		&_index{
			line-height: 1.45;
			font-size: 1.25em;
		}
		&_content{
			margin-bottom: 50px;
		}		
	}		
}




/********************
cultureVisual
********************/

.cultureVisual{
    position: relative;
    
    &_slider img{
    	width: 100%;
    	margin-right: auto;
    	margin-left: auto;
    }

    &_nav{
		width: 100%;
		padding-top: 25px;
		padding-bottom: 25px;
		display: block;
    	position: absolute;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-color: rgba( #000, 0.5 );
    	
    	.wrap{
    		
    	}
    	.sliderNav{
    		max-width: 850px;
    		margin-left: auto;
    		margin-right: auto;
    		
    		.slick-track {
    			width: auto!important;
    			transform: none!important;
    		}
	    	li{
	    		max-width: 85px;
	    		margin-right: 10px;
	    		cursor: pointer;
	    		position: relative;
	    		&:after{
	    			content: " ";
	    			width: 0;
	    			display: block;
	    			transition: all 0.3s;
	    		}
	    		&.slick-current:after{
	    			width: 100%;
	    			height: 3px;
	    			margin-right: 0;
	    			margin-left: 0;
	    			position: absolute;
	    			right: 0;
	    			left: 0;
	    			bottom: 0px;
	    			@extend %gradation;
	    		}
	    		
	    		&:last-child{
	    			margin-right: 0;
	    		}
	    		
	    		@include mouseOver(){
	    			opacity: 0.8;
	    		}

    		}
    	}
		@include breakpoint( tab ){
			padding-top: 5px;
			padding-bottom: 5px;
			position: static;
	    	
	    	.sliderNav{
		    	li{
					margin-right: 4px;	    			
	    		}
	    	}			
		}
    }
 
}
    
.button-cultureStyle{
	width: 270px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	right: 0;
	bottom: 50px;
	left: 0;	
	z-index: 2;
	
	a{
		font-weight: 400;
		border: none;
    	color: #fff;
    	@extend %gradation;
	}

	@include breakpoint( tab ){
		width: 150px;
		bottom: 2.5%;
	}	
}


/////////text

.slideImg{
	
	position: relative;

	&_text
	{
		width: 250px;
		height: 250px;
		margin: auto;
		padding: 20px;
		box-sizing: border-box;
		display: table;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 10%;
		color: $orange;
		background-color: #fff;
		
		>span{
			display: table-cell;
			vertical-align: middle;
			line-height: 2;
		}
	}

	@include breakpoint( tab ){
		&_text{
			width: auto;
			height: auto;
			display: block;
			position: static;
			
			>span{
				text-align: center;
				display: block;
				line-height: 1.5;
			}			
		}	

	}
}



/********************
instagram
********************/

.instaLogo{
}

.instaBox
{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fafafa;	
	
	@include breakpoint( tab ){
		padding-top: 25px;
		padding-bottom: 25px;
	}		
	
	&_logo
	{
		margin-bottom: 40px;
		text-align: center;
		
		@include breakpoint( tab ){
			margin-bottom: 25px;
			img{
				max-width: 110px;
			}
		}		
	}

	&_list{

		width: 100%;

		padding-right: 1%;

		padding-left: 1%;
		overflow: hidden;
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items:center;
		
		&_post{
			width: calc( 33.33% - 4% );
			margin-right: 2%;
			margin-bottom: 25px;
			margin-left: 2%;
			list-style: none; 
			float: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 20px;				
			background-color: #fff;
		}	

		@include breakpoint( tab ){	
			&_post{
				margin-bottom: 10px;
			}			
		}


	}

	&_image{
		cursor: pointer;
		display: block;
		
		img{
			border-radius: 20px;		
		}

		@include breakpoint( tab ){	
			img{
				border-radius: 5px;		
			}			
		}			
	}
}



////////////////////////

// 個別

////////////////////////
