@charset "UTF-8";
@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

////////////////////////////////////////////////

// CULTURE

////////////////////////////////////////////////

////////////////////////

// modules

////////////////////////


/**
* fancyBox
*/

.fancybox-slide>*{
	
}
/**
* fancyBox
*/
.fancybox-slider-wrap .instaBox{

	&_content{
		padding: 80px;
		max-width: 920px;
		box-sizing: border-box;
	}
	&_content_img,
	&_content_text{
		display: block;
		@include liquid( 560, 920, true );
	}
	&_content_img{
		margin-bottom: 30px;
	}
	&_content_text{
		position: relative;
		

		.button-linkToInsta{
			width: 100px;
			position: absolute;
			top: 0;
			right: -140px;
			text-align: center;
			a{
				font-size: 1rem;
				color: #fff;
				background-color: #555;
				border: none;
				letter-spacing: 0.01em!important;		
			}
		}			
	}


}


.instaBox
{
	padding-left: 1%;
	padding-right: 1%;
	overflow: hidden;
	
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: center;
	
	li{
		max-width: calc( 33.33% - 4% );
		margin-left: 2%;
		margin-right: 2%;
		list-style: none; 
		float: left;
		
	}	

	&_image{
		border-radius: 20px;
		cursor: pointer;
		
		figure{
			display: table-cell;
			vertical-align: middle;
		}
	}

	&_content{
		display: none;
	}
}



////////////////////////

// 個別

////////////////////////
