.person-child .personVisual_profile,
.person-child .personVisual_bg,
.person-child .personVisual_bg-back
{
    top: 0;
    right: 14.28571%;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 780px)
{
    .person-child .personVisual_profile_num
    {
        width: 25.625%;
    }
}
@media screen and (max-width: 780px)
{
    .person-child .section-fullImg .section_img img
    {
        left: -65%;
    }
}
