.career-child .button a,
.career-child .mainvisual_name,
.career-child .timeline_future_bg
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmQxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzYxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: -webkit-linear-gradient(180deg, #ff6d1f, #ffc61f);
    background-image: -webkit-linear-gradient(right, #ff6d1f, #ffc61f);
    background-image:         linear-gradient(270deg, #ff6d1f, #ffc61f); 
    background-size: 100%;
}

.pageIndex
{
    margin-bottom: 80px;
}
@media screen and (max-width: 780px)
{
    .pageIndex
    {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 780px)
{
    .pageIndex_text
    {
        width: 42.625%;
        margin-right: auto; 
        margin-left: auto;
    }
}

.careerPerson_num
{
    font-size: 5em;
    line-height: 1;

    margin-bottom: 20px;

    text-align: center; 

    color: #bcb5ab;
}
.careerPerson_num span,
.careerPerson_num .story
{
    display: inline-block;

    vertical-align: middle;
}
.careerPerson_num span
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    line-height: 1;
}
.careerPerson_num .story
{
    position: relative;

    margin-right: -40px;
}
@media screen and (max-width: 780px)
{
    .careerPerson_num
    {
        margin-bottom: 5px;
    }
}

/***********
index
***********/
.career-index .introductionIndex
{
    font-size: 1.57em;
    font-weight: 200; 

    margin-bottom: 50px;

    text-align: center;
    letter-spacing: .17em;
}
@media screen and (max-width: 780px)
{
    .career-index .introductionIndex
    {
        font-size: 1.15em;

        margin-bottom: 10px;
    }
}
.career-index .careerPerson
{
    display: table;

    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;

    border-spacing: 80px 0;
}
@media screen and (max-width: 780px)
{
    .career-index .careerPerson
    {
        display: block;
    }
}
.career-index .careerPerson_list
{
    display: table-cell;

    text-align: center;
    vertical-align: top;
}
.career-index .careerPerson_list.comingsoon .careerPerson_img img,
.career-index .careerPerson_list.comingsoon .careerPerson_footer
{
    opacity: .2;
}
.career-index .careerPerson_list.comingsoon .comingsoonText
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    position: absolute;
    top: 0;
    bottom: 0; 

    display: block;

    width: 100%;
    height: 1em;
    margin: auto;

    text-align: center;
}
.career-index .careerPerson_list.comingsoon a
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s; 
    pointer-events: none;
}
.career-index .careerPerson_list.comingsoon a:hover .comingsoonText,
.career-index .careerPerson_list.comingsoon a:active .comingsoonText,
.career-index .careerPerson_list.comingsoon a:focus .comingsoonText
{
    color: #777;
}
.career-index .careerPerson_list:not(.comingsoon)
{
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
}
.career-index .careerPerson_list:not(.comingsoon):hover .careerPerson_img:before,
.career-index .careerPerson_list:not(.comingsoon):hover .careerPerson_img figure:before,
.career-index .careerPerson_list:not(.comingsoon):active .careerPerson_img:before,
.career-index .careerPerson_list:not(.comingsoon):active .careerPerson_img figure:before,
.career-index .careerPerson_list:not(.comingsoon):focus .careerPerson_img:before,
.career-index .careerPerson_list:not(.comingsoon):focus .careerPerson_img figure:before
{
    width: 100%;
}
.career-index .careerPerson_list:not(.comingsoon):hover .careerPerson_img:after,
.career-index .careerPerson_list:not(.comingsoon):hover .careerPerson_img figure:after,
.career-index .careerPerson_list:not(.comingsoon):active .careerPerson_img:after,
.career-index .careerPerson_list:not(.comingsoon):active .careerPerson_img figure:after,
.career-index .careerPerson_list:not(.comingsoon):focus .careerPerson_img:after,
.career-index .careerPerson_list:not(.comingsoon):focus .careerPerson_img figure:after
{
    height: 100%;
}
@media screen and (max-width: 780px)
{
    .career-index .careerPerson_list
    {
        display: block; 

        padding-bottom: 20px;
    }
    .career-index .careerPerson_list:not(:first-child)
    {
        padding-top: 20px;

        border-top: solid 1px #d9d9d9;
    }
}
.career-index .careerPerson_img
{
    position: relative;
}
.career-index .careerPerson_img figure
{
    line-height: 0;
}
@media screen and (min-width: 780px)
{
    .career-index .careerPerson_img:before,
    .career-index .careerPerson_img:after,
    .career-index .careerPerson_img figure:before,
    .career-index .careerPerson_img figure:after
    {
        position: absolute;
        z-index: 1;

        display: block;

        content: ' ';
        -webkit-transition: all .3s;
                transition: all .3s;

        background-color: #ff6d1f;

        mix-blend-mode: overlay;
    }
    .career-index .careerPerson_img:before,
    .career-index .careerPerson_img figure:before
    {
        width: 0;
        height: 15px;
    }
    .career-index .careerPerson_img:after,
    .career-index .careerPerson_img figure:after
    {
        width: 15px;
        height: 0;
    }
    .career-index .careerPerson_img:before
    {
        top: 0;
        left: 0;
    }
    .career-index .careerPerson_img:after
    {
        top: 0;
        right: 0;
    }
    .career-index .careerPerson_img figure:before
    {
        right: 0; 
        bottom: 0;
    }
    .career-index .careerPerson_img figure:after
    {
        bottom: 0; 
        left: 0;
    }
}
.career-index .careerPerson_footer_name
{
    line-height: 1;

    margin: 20px 0;

    color: inherit;
}
.career-index .careerPerson_footer_name .ja
{
    font-size: 2.1em;
    font-weight: 200;

    display: block;

    letter-spacing: .05em;

    color: #999;
}
.career-index .careerPerson_footer_name .en
{
    font-family: 'Roboto', sans-serif;

    display: block;

    margin-top: 1em;
    margin-bottom: 1em;

    letter-spacing: .15em;

    color: #ff6d1f;
}
@media screen and (max-width: 780px)
{
    .career-index .careerPerson_footer_name
    {
        margin: 10px 0;
    }
    .career-index .careerPerson_footer_name .ja
    {
        font-size: 1.5em;
    }
}

/***********
child
***********/
.career-child .button
{
    width: 150px;
}
.career-child .button a
{
    color: #fff; 
    border: none;
}
.career-child .wrap
{
    max-width: 980px;
    padding-right: 0;
    padding-left: 0;
}
.career-child .careerPerson_num
{
    font-size: 8em;

    position: relative; 

    margin-bottom: -30px;
}
.career-child .mainvisual
{
    position: relative;
    top: -233.33333px;

    margin-top: 280px;
    margin-bottom: -233.33333px;
}
.career-child .mainvisual_name
{
    margin-top: -15px;
    padding: 20px 30px;

    color: #fff;
}
.career-child .mainvisual_name .ja
{
    font-size: 2.5em;
    font-weight: 300;

    letter-spacing: .1em;
}
.career-child .mainvisual_name .en
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;

    margin-left: 1em;

    letter-spacing: .17em;
}
@media screen and (max-width: 780px)
{
    .career-child .mainvisual
    {
        top: -90px;

        margin-top: 95px;
        margin-bottom: -95px;
    }
    .career-child .mainvisual_name .ja
    {
        font-size: 2em;
    }
}
.career-child .timeline
{
    min-height: 3520px;
    margin-top: 60px;

    background: url(../img/timelineBg.png) center top no-repeat;
    background-size: auto 100%;
}
.career-child .timeline .mobileTimeline
{
    display: none;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline
    {
        position: relative;

        min-height: 0;
        margin-top: 0;
        padding-top: 30px;

        background-image: none;
    }
    .career-child .timeline .mobileTimeline
    {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;

        display: block;

        width: 5%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;

        opacity: .2;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmQxZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzYxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6d1f), color-stop(100%, #ffc61f));
        background-image: -webkit-linear-gradient(top, #ff6d1f, #ffc61f);
        background-image:         linear-gradient(to bottom, #ff6d1f, #ffc61f); 
        background-size: 100%;
    }
}
.career-child .timeline_event
{
    position: relative; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_event
    {
        z-index: 1; 

        margin-bottom: 40px;
        padding-right: 5%;
        padding-left: 5%;

        text-align: center;
    }
}
.career-child .timeline_event_num
{
    line-height: 1;

    position: relative;
}
.career-child .timeline_event_num span
{
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 12.5em;

    letter-spacing: -.05em;

    color: #ff6d1f;
}
.career-child .timeline_event_num span,
.career-child .timeline_event_num .yo
{
    position: relative;
    z-index: 2; 

    display: inline-block;

    vertical-align: middle;
}
.career-child .timeline_event_num .yo
{
    margin-left: -15px;
}
.career-child .timeline_event_num .icon
{
    position: absolute;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_event_num .yo
    {
        margin-left: 0;
    }
    .career-child .timeline_event_num span
    {
        font-size: 4em;
    }
    .career-child .timeline_event_num .icon
    {
        display: none;
    }
}
.career-child .timeline_event.timeline_event-1 .yo
{
    margin-left: -35px;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_event.timeline_event-1 .yo
    {
        margin-left: 0;
    }
}
.career-child .timeline_event.timeline_event-6 .yo,
.career-child .timeline_event.timeline_event-18 .yo,
.career-child .timeline_event.timeline_event-19 .yo,
.career-child .timeline_event.timeline_event-24 .yo,
.career-child .timeline_event.timeline_event-28 .yo
{
    margin-left: -1px;
}
.career-child .timeline_event_img img
{
    line-height: 0;
}
.career-child .timeline_event_img.hasButton
{
    position: relative;
}
.career-child .timeline_event_img.hasButton .button
{
    position: absolute;
    right: 0;
    bottom: 0;
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event_img img
    {
        box-shadow: 5px 5px 0 #ff6d1f;
    }
    .career-child .timeline_event_img.hasButton .button
    {
        top: 40%;
        bottom: auto;
        left: 180px;
    }
}
.career-child .timeline_event_text
{
    font-size: 1.5em;
    font-weight: 200;

    color: #766753;
}
.career-child .timeline_event_text .eventIndex
{
    font-size: 1.42em;

    margin-bottom: 10px;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_event_text
    {
        font-size: 1.1em;
    }
    .career-child .timeline_event_text .eventIndex
    {
        margin-bottom: 5px;
    }
    .career-child .timeline_event_text br
    {
        display: none;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.vertical .timeline_event_num
    {
        position: absolute;
    }
    .career-child .timeline_event.vertical .timeline_event_img
    {
        margin-bottom: 20px;
    }
    .career-child .timeline_event.vertical-textTop .timeline_event_img
    {
        margin-top: 20px;
    }
}
.career-child .timeline_event.alignRight
{
    margin-left: auto;
}
.career-child .timeline_event.alignLeft
{
    margin-right: auto;
}
.career-child .timeline_event.alignCenter
{
    margin-right: auto; 
    margin-left: auto;
}
.career-child .timeline_event
{
        flex-direction: row; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_event
    {
            flex-direction: column; 

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.horizontal-numCenter .timeline_event_num
    {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .career-child .timeline_event.horizontal-numCenter .timeline_event_text
    {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .career-child .timeline_event.horizontal-numCenter .timeline_event_img
    {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.horizontal-numRight .timeline_event_num
    {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .career-child .timeline_event.horizontal-numRight .timeline_event_text
    {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .career-child .timeline_event.horizontal-numRight .timeline_event_img
    {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.horizontal-numLeft .timeline_event_num
    {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .career-child .timeline_event.horizontal-numLeft .timeline_event_text
    {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .career-child .timeline_event.horizontal-numLeft .timeline_event_img
    {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.vertical
    {
            flex-direction: column; 

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.vertical-textTop
    {
            flex-direction: column-reverse; 

        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.vertical-numRight .timeline_event_num
    {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.vertical-numLeft .timeline_event_num
    {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event.vertical.alignRight
    {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}
.career-child .timeline_event .eventIndex,
.career-child .timeline_event .eventInfo,
.career-child .timeline_event_img
{
    -webkit-transition: all .7s ease-in-out 0s;
            transition: all .7s ease-in-out 0s;
    -webkit-transform: translateY(5px) scale(.99);
            transform: translateY(5px) scale(.99); 

    opacity: 0;
}
.career-child .timeline_event .eventIndex
{
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
}
.career-child .timeline_event .eventInfo
{
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
}
.career-child .timeline_event_img
{
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
}
.career-child .timeline_event.fade
{
    -webkit-transform: none;
            transform: none; 

    opacity: 1;
}
.career-child .timeline_event.fadeIn .eventIndex,
.career-child .timeline_event.fadeIn .eventInfo,
.career-child .timeline_event.fadeIn .timeline_event_img
{
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1); 

    opacity: 1;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_event .eventIndex
    {
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
    }
    .career-child .timeline_event .eventInfo
    {
        -webkit-transition-delay: .7s;
                transition-delay: .7s;
    }
    .career-child .timeline_event_img
    {
        -webkit-transition-delay: .3s;
                transition-delay: .3s;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-1
    {
        width: 610px;
        margin-bottom: 75px;
    }
    .career-child .timeline_event-1 .timeline_event_num .icon
    {
        right: 5px; 
        bottom: 0;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-6
    {
        width: 792px;
        margin-bottom: 75px;
    }
    .career-child .timeline_event-6 .timeline_event_num .icon
    {
        top: 0;
        left: -90px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-12
    {
        width: 797px;
        margin-bottom: 80px;
    }
    .career-child .timeline_event-12 .timeline_event_num .icon
    {
        top: 0;
        right: -90px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-17
    {
        width: 980px;
        margin-bottom: 60px;
    }
    .career-child .timeline_event-17 .timeline_event_img
    {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .career-child .timeline_event-17 .timeline_event_num
    {
        left: -13%;
    }
    .career-child .timeline_event-17 .timeline_event_num .icon
    {
        top: 0;
        right: -130px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-18
    {
        width: 735px;
        margin-left: -100px;
    }
    .career-child .timeline_event-18 .timeline_event_num
    {
        top: 0;
        left: 63%;
    }
    .career-child .timeline_event-18 .timeline_event_num .icon
    {
        top: 0;
        left: -120px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-19
    {
        width: 552px;
        margin-top: -120px;
        margin-bottom: 0;
    }
    .career-child .timeline_event-19 .timeline_event_num
    {
        top: 0;
        left: -20%;
    }
    .career-child .timeline_event-19 .timeline_event_num .icon
    {
        top: 0;
        right: -200px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-24
    {
        width: 700px;
        margin-top: -50px;
        margin-bottom: 60px;
    }
    .career-child .timeline_event-24 .timeline_event_num
    {
        top: 25%;
        right: 0;

        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .career-child .timeline_event-24 .timeline_event_num .icon
    {
        top: 0;
        right: -200px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-28
    {
        width: 890px;
    }
    .career-child .timeline_event-28 .timeline_event_num
    {
        top: 10%; 
        right: 0;
    }
    .career-child .timeline_event-28 .timeline_event_num .icon
    {
        top: 0;
        left: -140px;
    }
}
.career-child .timeline_now
{
    font-family: 'Roboto', sans-serif; 
    font-size: 5em;
    font-weight: 700;
    line-height: 1;

    margin-top: .5em;
    margin-bottom: 1em;

    text-align: center;
    letter-spacing: -.1em;

    color: #fff;
}
.career-child .timeline_now span
{
    display: inline-block;

    -webkit-transition: all .4s;
            transition: all .4s;
}
.career-child .timeline_now span.fade
{
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
}
.career-child .timeline_now span.fade.fadeIn
{
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}
.career-child .timeline_now span:nth-child(1)
{
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
}
.career-child .timeline_now span:nth-child(2)
{
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
}
.career-child .timeline_now span:nth-child(3)
{
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_now
    {
        font-size: 3.5em;

        position: relative;
        z-index: 1;
    }
}
.career-child .timeline_future
{
    position: relative; 

    padding-top: 25px;
}
.career-child .timeline_future.fade
{
    -webkit-transform: none;
            transform: none;

    opacity: 1;
}
.career-child .timeline_future img
{
    line-height: 0;

    display: block; 

    margin-right: auto;
    margin-left: auto;
}
.career-child .timeline_future_index,
.career-child .timeline_future_content
{
    position: relative;
    z-index: 1;
}
.career-child .timeline_future_index
{
    font-family: 'Roboto', sans-serif;
    font-size: 8em;
    font-weight: 700;
    line-height: 1;

    margin-bottom: -.5em;

    text-align: center;
    letter-spacing: -.125em;

    color: #eb5200;
}
.career-child .timeline_future_index span
{
    display: inline-block;

    -webkit-transition: all .4s;
            transition: all .4s;
}
.career-child .timeline_future_index span.fade
{
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
}
.career-child .timeline_future_index span.fade.fadeIn
{
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}
.career-child .timeline_future_index span:nth-child(1)
{
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
}
.career-child .timeline_future_index span:nth-child(2)
{
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
}
.career-child .timeline_future_index span:nth-child(3)
{
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
}
.career-child .timeline_future_index span:nth-child(4)
{
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
}
.career-child .timeline_future_index span:nth-child(5)
{
    -webkit-transition-delay: .75s;
            transition-delay: .75s;
}
.career-child .timeline_future_index span:nth-child(6)
{
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_future_index
    {
        font-size: 4em;
    }
}
.career-child .timeline_future_content
{
    display: table; 

    margin: auto;
}
.career-child .timeline_future_content_img,
.career-child .timeline_future_content_message
{
    display: table-cell;

    vertical-align: middle;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_future_content_img,
    .career-child .timeline_future_content_message
    {
        display: block;
    }
}
.career-child .timeline_future_content_message
{
    position: absolute;
    top: 25%;
    right: -130%;

    text-align: center;
}
.career-child .timeline_future_content_message p
{
    font-size: 2em;

    text-align: left;

    color: #ff6d1f;
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_future_content_message
    {
        position: static;

        margin-bottom: 20px;
    }
    .career-child .timeline_future_content_message p
    {
        text-align: center;
    }
}
@media screen and (max-width: 780px)
{
    .career-child .timeline_future_content_img
    {
        max-width: 50%;
    }
}
.career-child .timeline_future_bg
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    opacity: .2;
}
.career-child .timeline_future_content_message
{
    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s; 
    -webkit-transform: translateX(20px);
            transform: translateX(20px);

    opacity: 0;
}
.career-child .timeline_future_bg
{
    width: 0;

    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
    -webkit-transition-delay: 1.35s;
            transition-delay: 1.35s;
}
.career-child .timeline_future.fadeIn .timeline_future_bg
{
    width: 100%;
}
.career-child .timeline_future.fadeIn .timeline_future_content_message
{
    -webkit-transform: translateX(0px);
            transform: translateX(0px); 

    opacity: 1;
}
.career-child .otherStory
{
    padding-top: 100px;
    padding-bottom: 50px;

    background-color: #ebebeb;
}
@media screen and (max-width: 780px)
{
    .career-child .otherStory
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.career-child .otherStory_index
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.15em;
    font-weight: 100;
    line-height: 1;

    position: relative;

    text-align: center; 
    letter-spacing: .44em;
}
.career-child .otherStory_index:after
{
    display: block;

    width: 50px;
    height: 2px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    content: ' ';

    background-color: #ff6d1f;
}
@media screen and (max-width: 780px)
{
    .career-child .otherStory_index
    {
        font-size: 1.4em;
    }
    .career-child .otherStory_index:after
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.career-child .otherStory_nav ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 730px;
    margin-right: auto;
    margin-left: auto;

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.career-child .otherStory_nav ul li
{
    width: 190px;

    list-style: none;
}
.career-child .otherStory_nav ul .current a
{
    pointer-events: none;
}
.career-child .otherStory_nav ul .current a:before,
.career-child .otherStory_nav ul .current a:after
{
    opacity: 1;
}
.career-child .otherStory_nav ul .current a:before
{
    top: 41%; 

    content: 'NOW';
}
.career-child .otherStory_nav ul .current a:after
{
    bottom: 41%;

    content: 'READING';
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
}
.career-child .otherStory_nav ul .current a img
{
    opacity: .3;
}
.career-child .otherStory_nav ul li a
{
    line-height: 0;

    position: relative;

    display: block;

    background: #ff6d1f;
}
.career-child .otherStory_nav ul li a:before,
.career-child .otherStory_nav ul li a:after
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;

    position: absolute;

    display: block;

    width: 100%;

    -webkit-transition: all .5s;
            transition: all .5s; 
    text-align: center;

    opacity: 0;
    color: #fff;
}
.career-child .otherStory_nav ul li a:before
{
    top: 41%; 

    content: 'READ';
}
.career-child .otherStory_nav ul li a:hover:before,
.career-child .otherStory_nav ul li a:focus:before
{
    top: 42.5%;

    opacity: 1;
}
.career-child .otherStory_nav ul li a:hover img,
.career-child .otherStory_nav ul li a:focus img
{
    opacity: .3;
}
.career-child .otherStory_nav ul li img
{
    width: 100%;

    -webkit-transition: all .3s;
            transition: all .3s;
}
@media screen and (max-width: 780px)
{
    .career-child .otherStory_nav ul
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .career-child .otherStory_nav ul li
    {
        width: 33.33%;
    }
    .career-child .otherStory_nav ul li a:before,
    .career-child .otherStory_nav ul li a:after
    {
        font-size: 1em;
    }
}
