.career-child .mainvisual_name
{
    margin-top: -18px;
}
@media screen and (min-width: 780px)
{
    .career-child .timeline
    {
        background-image: url(../../img/timelineBg-reverse.png);
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-1
    {
        width: 830px;
        margin-bottom: 175px;
        padding-top: 40px;
    }
    .career-child .timeline_event-1 .timeline_event_num .icon
    {
        right: -40px; 
        bottom: -65px;
    }
    .career-child .timeline_event-1.timeline_event .timeline_event_text
    {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .career-child .timeline_event-1.timeline_event .timeline_event_img
    {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-6
    {
        width: 700px;
        margin-bottom: 120px;
    }
    .career-child .timeline_event-6 .timeline_event_num
    {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .career-child .timeline_event-6 .timeline_event_num .icon
    {
        top: 25px;
        left: 120px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-12
    {
        width: 817px;
        margin-bottom: 120px;
        margin-left: 30px;
    }
    .career-child .timeline_event-12 .timeline_event_num
    {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .career-child .timeline_event-12 .timeline_event_num .icon
    {
        top: 20px;
        right: -20px;
    }
    .career-child .timeline_event-12 .timeline_event_num .yo
    {
        margin-left: 10px; 
        padding-bottom: 20px;

        vertical-align: bottom;
    }
    .career-child .timeline_event-12 .timeline_event_img.hasButton .button
    {
        top: 57%;
        left: 100px;
    }
    .career-child .timeline_event-12.timeline_event .timeline_event_text
    {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .career-child .timeline_event-12.timeline_event .timeline_event_img
    {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-18
    {
        width: 890px;
        margin-bottom: 100px;
    }
    .career-child .timeline_event-18 .timeline_event_num
    {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .career-child .timeline_event-18 .timeline_event_num
    {
        bottom: 0;
        left: 53%;
    }
    .career-child .timeline_event-18 .timeline_event_num .icon
    {
        bottom: 0; 
        left: -140px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-23
    {
        width: 500px;
        margin-bottom: 360px;
    }
    .career-child .timeline_event-23 .timeline_event_num
    {
        top: 25%;
        left: -100%;

        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .career-child .timeline_event-23 .timeline_event_num .icon
    {
        top: 0;
        right: -150px;
    }
}
@media screen and (min-width: 780px)
{
    .career-child .timeline_event-25
    {
        width: 780px;
        margin-bottom: 85px;
    }
    .career-child .timeline_event-25 .timeline_event_num
    {
        position: absolute;
        top: -130%;
        right: auto;
        left: 0;
    }
    .career-child .timeline_event-25 .timeline_event_num .icon
    {
        top: 0;
        left: 60%;
    }
}
