@charset "UTF-8";
@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";


////////////////////////////////////////////////

// CAREER

////////////////////////////////////////////////

////////////////////////

// modules

////////////////////////
.pageIndex{
	margin-bottom: 80px;
	
	@include breakpoint( tab ){
		margin-bottom: 40px;
	}		
}
.pageIndex_text
{
	@include breakpoint( tab ){
		@include liquid(341, 800, true );
	}		
}


.careerPerson
{
	&_num{
		line-height: 1;
		margin-bottom: 20px;
		font-size: 5em;
		color: #bcb5ab;
		text-align: center;
		
		span,.story{
			display: inline-block;
			vertical-align: middle;
		}
		span{
			line-height: 1;
			font-family: $roboto;
			font-weight: 300;
		}
		.story{
			position: relative;
			margin-right: -40px;
		}
		@include breakpoint( tab ){
			margin-bottom: 5px;
		}			
	}
}



////////////////////////

// 個別

////////////////////////

/***********
index
***********/
.career-index
{

.introductionIndex{
	margin-bottom: 50px;
	text-align: center;
	font-size: 1.57em;
	letter-spacing: 0.17em;
	font-weight: 200;
	
		@include breakpoint( tab ){
			font-size: 1.15em;
			margin-bottom: 10px;
		}		
}

	
.careerPerson
{
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
	display: table;
	border-spacing: 80px 0;
	
	@include breakpoint( tab ){
		display: block;
	}

	
	&_list{
		display: table-cell;
		text-align: center;
		vertical-align: top;
		
		&.comingsoon {
			.careerPerson_img img,
			.careerPerson_footer{
				opacity: 0.2;
			}

			.comingsoonText{
				width: 100%;
				height: 1em;
				margin: auto;
				display: block;
				text-align: center;
				font-family: $roboto;
				font-weight: bold;
				position: absolute;
				top: 0;
				bottom: 0;
			}

			a {
				pointer-events: none;				
				@include mouseOver{	
					.comingsoonText{
						color: #777;
					}				
				}
			}
	
		}

		&:not(.comingsoon){
			@include mouseOver{	
				.careerPerson_img:before,
				.careerPerson_img figure:before{
					width: calc( 100% - 15px );
				}
				.careerPerson_img:after,
				.careerPerson_img figure:after{
					height: calc( 100% - 15px );
				}				
			}
		}


		@include breakpoint( tab ){
			padding-bottom: 20px;
			display: block;
			
			&:not(:first-child){
				padding-top: 20px;
				border-top: solid 1px $gray;			
			}
		}			
	}


	&_img{
		position: relative;
		
		figure{
			line-height: 0
		}

		@include breakpoint( tab, min ){
			//画像の囲み線
			&:before,
			&:after,
			figure:before,
			figure:after{
				content: " ";
				display: block;
				position: absolute;
				background-color: $orange;
				transition: all 0.3s;
				z-index: 1;
				opacity: 0.85;
				// mix-blend-mode: overlay;
			}

			&:before,
			figure:before{
				width: 0%;
				height: 15px;
			}
			&:after,
			figure:after{
				width: 15px;
				height: 0%;
			}	

			&:before{
				top: 0;
				left: 0;
				// transition-delay: 0.1s;
			}
			&:after{
				top: 0;
				right: 0;
				// transition-delay: 0.2s;
			}
			figure:before{
				bottom: 0;
				right: 0;
				// transition-delay: 0.3s;
			}
			figure:after{
				left: 0;
				bottom: 0;
				// transition-delay: 0.4s;
			}			
			
		}
		


	}

	&_footer_name{
		margin: 20px 0;
		line-height: 1;
		color: inherit;
		
		.ja{
			display: block;
			font-weight: 200;
			letter-spacing: 0.05em;
			font-size: 2.1em;
			color: #999;	
		}

		.en{
			letter-spacing: 0.15em;
			margin-top: 1em;
			margin-bottom: 1em;
			display: block;
			font-family: $roboto;
			color: $orange;
		}

		.position{
			font-size: 0.95em;
		}

		@include breakpoint( tab ){
			margin: 10px 0;
			.ja{
				font-size: 1.5em
			}
		}
	}
}
}



/***********
child
***********/

$up: 280px;

.career-child{

	.button{
		width: 150px;
		a{
			border: none;
			// border-radius: 5px;
			color: #fff;
			@extend %gradation;
		}


	}

	.wrap{
		max-width: 980px;
		padding-right: 0;
		padding-left: 0;
	}

	.careerPerson_num{
		font-size: 8em;
		margin-bottom: -30px;
		position: relative;
	}

	.mainvisual
	{
		// margin-top: $up;
		position: relative;
		top: $up * -1 / 1.2;
		margin-bottom: $up * -1 / 1.2;
	
		&_name{
			margin-top: -15px;
			padding: 20px 30px;
			color: #fff;
			
			@extend %gradation;
			
			.ja{
				font-weight: 300;
				font-size: 2.5em;
				letter-spacing: 0.1em;
			}
			.en{
				margin-left: 1em;
				font-family: $roboto;
				font-size: 1.2em;
				letter-spacing: 0.17em;
			}
			.position{
				display: block;
			}
		}

		@include breakpoint( tab ){
			// margin-top: 95px;			
			top: -90px;
			margin-bottom: -95px;			
			
			&_name{
				.ja{
					font-size: 1.5em;
				}
				.en{
					margin-left: 0;
					display: block;
				}
			}

		}
	}

	.careerContent{
		margin-top: $up;		
		// overflow-x: hidden;
		@include background-image(linear-gradient( to bottom, #fff9cc, #ffe2d2) );	
		
		@include breakpoint( tab ){
			margin-top: 95px;
		}		
	}



	////////// timeline 

	.timeline
	{
		margin-top: 60px;
		background: url(../img/timelineBg.png) center top no-repeat;
		background-size: auto 100%;
		

		.mobileTimeline{
			display: none;		
		}


		@include breakpoint( tab ){
			min-height: 0;
			margin-top: 0;
			padding-top: 30px;
			position: relative;
			background-image: none;
			
			.mobileTimeline{
				display: block;
				width: 5%;
				height: 100%;
				margin-right: auto;
				margin-left: auto;
				position: absolute;
				z-index: 0;
				top: 0;
				right: 0;
				left: 0;
					
				opacity: 0.2;
				@include background-image(linear-gradient(to bottom, $orange, #ffc61f));
			}
		}  


		&_event{
			display: flex;
			justify-content: space-between;
			position: relative;
			
			@include breakpoint( tab ){
				margin-bottom: 40px;
				text-align: center;
				padding-left: 5%;
				padding-right: 5%;
				z-index: 1;
			}  
			
			///// 文字
			&_num{
				line-height: 1;
				position: relative;
				
				span{
					font-size: 12.5em;
					letter-spacing: -0.05em;
					color: $orange;
					font-family: $roboto_cond;
				}

				span,.yo{
					display: inline-block;
					vertical-align: middle;
					position: relative;
					z-index: 2;
				}
				.yo{
					margin-left: -5px;
				}
				.icon{
					position: absolute;					
				}	

				@include breakpoint( tab ){
					.yo{
						margin-left: 0;
					}

					span{
						font-size: 4em;
					}					
					.icon{
						display: none					
					}
				}  
			}

			///// years old　位置
			&.timeline_event-1 .yo{
				margin-left: -20px;
					

				@include breakpoint( tab ){
					margin-left: 0;
				}					
			}
			&.timeline_event-6 .yo,
			&.timeline_event-18 .yo,
			&.timeline_event-19 .yo,
			&.timeline_event-24 .yo,
			&.timeline_event-28 .yo{
					margin-left: -1px;
			}			

			///// 写真
			
			&_img{
				img{
					line-height: 0;
				}

				&.hasButton{
					position: relative;
				}
				&.hasButton .button{
					position: absolute;
					right:  0%;
					bottom: 0;
				}


				@include breakpoint( tab, min ){
					img{
						box-shadow: 5px 5px 0 $orange;
					}

					&.hasButton .button{
						top:  40%;
						bottom: auto;
						left: 180px;
					}
				}

			}

			///// テキスト
			&_text{

				font-weight: 200;
				font-size: 1.45em;
				// font-size: 1.5em;
				color: #766753;
				
				.eventIndex{
					font-size: 1.4em;
					// font-size: 1.42em;
					margin-bottom: 10px;
				}

				@include breakpoint( tab ){
					font-size: 1.1em;
					.eventIndex{
						margin-bottom: 5px;
					}
					br{
						display: none;
					}
				}

			}

			@include breakpoint( tab,min ){			
				&.vertical{
					
					.timeline_event_num{
						position: absolute;
					}

					.timeline_event_img{
						margin-bottom: 20px;
					}
				}
				&.vertical-textTop{

					.timeline_event_img{
						margin-top: 20px;
					}				
				}
			}

		}

		//////////位置クラス
		&_event{
			&.alignRight{
				margin-left: auto;
			}
			&.alignLeft{
				margin-right: auto;
			}	
			&.alignCenter{
				margin-left: auto;
				margin-right: auto;
			}
		}

		///// flexbox-childの順番
		&_event{
			flex-direction: row;

			@include breakpoint( tab ){
				flex-direction: column;
			}				

			///// 横組み
			
			//数字センター
			&.horizontal-numCenter{

				@include breakpoint( tab, min ){				
					.timeline_event_num{
						order: 2;
					}
					.timeline_event_text{
						order: 1
					}
					.timeline_event_img{
						order: 3;
					}
				}
			}

			//数字右
			&.horizontal-numRight{
				@include breakpoint( tab, min ){	
					.timeline_event_num{
						order: 3;
					}
					.timeline_event_text{
						order: 2
					}
					.timeline_event_img{
						order: 1;
					}
				}
			}

			//数字左
			&.horizontal-numLeft{
				@include breakpoint( tab, min ){	
					.timeline_event_num{
						order: 1;
					}
					.timeline_event_text{
						order: 2
					}
					.timeline_event_img{
						order: 3;
					}
				}
			}

			/////縦組み
			&.vertical{
				@include breakpoint( tab, min ){	
					flex-direction: column;
				}
			}
			&.vertical-textTop{
				@include breakpoint( tab, min ){	
					flex-direction: column-reverse;
					// flex-direction: row-reverse;
				}
			}			

			//数字右
			&.vertical-numRight{
				@include breakpoint( tab, min ){	
					.timeline_event_num{
						order: 2;
					}
				}
			}

			//数字左
			&.vertical-numLeft{
				@include breakpoint( tab, min ){	
					.timeline_event_num{
						order: 1;
					}
				}
			}			
			
		}

		///// イベントリストフェードイン設定
		&_event{
			.eventIndex,
			.eventInfo,
			&_img{
				opacity: 0;
				transition: transition(0.7s);
				transform: translateY( 5px ) scale(0.99);
			}
			.eventIndex{
				transition-delay: 0.5s;
			}
			.eventInfo{
				transition-delay: 0.7s;
			}
			&_img{
				transition-delay: 0.9s;
			}
			&.fade{
				opacity: 1;
				transform: none;
			}

			&.fadeIn{
				.eventIndex,
				.eventInfo,
				.timeline_event_img{
					opacity: 1;
					transform: translateY( 0px ) scale( 1 );
				}				
			}

			@include breakpoint( tab ){
				.eventIndex{
					transition-delay: 0.5s;
				}
				.eventInfo{
					transition-delay: 0.7s;
				}
				&_img{
					transition-delay: 0.3s;
				}
			} 
		}



		&_now{
			margin-top: 0.5em;
			margin-bottom: 1em;
			line-height: 1;
			text-align: center;	
			font-size: 5em;
			color: #fff;
			font-weight: 700;
			letter-spacing: -0.1em;
			font-family: $roboto;
			
			span{
				display: inline-block;
				transition: all 0.4s;
				
				&.fade{
					transform: translateY(10px);
					&.fadeIn{
						transform: translateY(0px);
					}
				}
			}

			$delay: 0.15s;
			@for $i from 1 through 3 {
			  span:nth-child(#{$i}) {
			    transition-delay: $delay * $i;
			  }
			}

			@include breakpoint( tab ){
				font-size: 3.5em;
				position: relative;
				z-index: 1;
			}  			
		}

		&_future{
			overflow: hidden;
			padding-top: 25px;
			position: relative;
			
			&.fade{
				transform: none;
				opacity: 1;
			}
			
			img{
				line-height: 0;
				margin-right: auto;
				margin-left: auto;
				display: block;
				// position: absolute;
				// right: 0;
				// left: 0;
			}

			&_index,
			&_content{
				position: relative;
				z-index: 1;
			}			

			&_index{
				line-height: 1;
				margin-bottom: -0.5em;
				text-align: center;
				font-family: $roboto;
				font-weight: 700;
				letter-spacing: -0.125em;
				font-size: 8em;
				color: darken( $orange, 10% );
				
				span{
					display: inline-block;
					transition: all 0.4s;
					
					&.fade{
						transform: translateY(10px);
						&.fadeIn{
							transform: translateY(0px);
						}
					}
				}

				$delay: 0.15s;
				@for $i from 1 through 6 {
				  span:nth-child(#{$i}) {
				    transition-delay: $delay * $i;
				  }
				}

				@include breakpoint( tab ){
					font-size: 4em;	
					margin-bottom: 0;
				}
			}

			&_content{
				margin: auto;
				display: table;
				
				&_img,
				&_message{
					display: table-cell;
					vertical-align: middle;
				}

				@include breakpoint( tab ){
					&_img,
					&_message{
						display: block;					
					}  		
				}		
			}

			&_content_message{
				// max-width: 50%;
				// height: 100%;
				// margin-right: auto;
				// margin-left: auto;
				position: absolute;
				top: 25%;
				right: -115%;
				// right: -130%;
				text-align: center;
				// display: flex;
				// flex-direction: column;
				p{
					font-size: 2em;
					text-align: left;
					color: $orange;
				}

				@include breakpoint( tab ){
					position: static;
					margin-bottom: 20px; 
					
					p{
						font-size: 1.5em;
						text-align: center;
					}		
				}				
			}

			&_content_img{
				@include breakpoint( tab ){
					max-width: 50%;
				}					
			}

			&_bg{
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				@extend %gradation;
				opacity: 0.2;			
			}
			
		}

		//////// futureエリア フェードイン設定
		&_future
		{
			&_content_message{
				transition: transition();		
				opacity: 0;
				transform: translateX( 20px );
				transition-delay: 1.5s;
			}

			&_bg{
				width: 0;
				transition: transition();					
				transition-delay: 1.35s;				
			}

			&.fadeIn{

				.timeline_future_bg{
					width: 100%;
				}
				.timeline_future_content_message{
					opacity: 1;
					transform: translateX( 0px );								
				}

			}
		}
	}



///////// nav 
.otherStory
{

	padding-top: 100px;
	padding-bottom: 50px;
	background-color: #ebebeb;

	@include breakpoint( tab ){
		padding-top: 30px;
		padding-bottom: 30px;
	}		
	
	&_index{
		line-height: 1;
		position: relative;
		font-family: $roboto_cond;
		font-weight: 100;
		font-size: 3.15em;
		letter-spacing: 0.44em;
		text-align: center;
		
		&:after{
			content: " ";
			width: 50px;
			margin-top: 30px;
			margin-bottom: 30px;
			margin-right: auto;
			margin-left: auto;
			height: 2px;
			display: block;
			background-color: $orange;
		}

		@include breakpoint( tab ){
			font-size: 1.4em;
			
			&:after{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}			
	}

	&_nav{
		ul{
			max-width: 730px;
			margin-right: auto;
			margin-left: auto;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;
			
			li{
				width: 190px;
				list-style: none;
			}
			
			// li{
			// 	display: table-cell;
			// }
			
			.current a{
				pointer-events: none;
				&:before,
				&:after{
					opacity: 1;
				}				
				&:before{
					content: "NOW";
					top: 41%;
				}
				&:after{
					content: "READING";
					bottom: 41%;
					transition-delay: 0.15s;
				}
				img{
					opacity: 0.3;
				}
			}
			li.comingsoon a{
				pointer-events: none;
				background-color: transparent;
				
				&:after{
					content: "COMING SOON";
					bottom: 49%;
					opacity: 1;
					color: #333;
				}	

				img{
					opacity: 0.3;
				}
				
			}

			li a{
				line-height: 0;
				position: relative;
				display: block;
				background: $orange;
				&:before,
				&:after{
					width: 100%;
					position: absolute;
					display: block;
					color: #fff;
					text-align: center;
					font-weight: 500;
					font-family: $roboto;
					font-size: 1.5em;
					opacity: 0;
					transition: all 0.5s;
				}
				&:before{
					content: "READ";
					top: 41%;
				}
				// &:after{
				// 	content: "";
				// 	bottom: 41%;
				// 	transition-delay: 0.15s;
				// }

				&:hover,
				&:focus{

					&:before{
						top: 42.5%;
						opacity: 1;
					}
					// &:after{
					// 	bottom: 42.5%;
					// 	opacity: 1;
					// }		
					img{
						opacity: 0.3;
					}			
				}
			}
			li img{
				width: 100%;
				transition: all 0.3s;
			}

			@include breakpoint( tab ){
				flex-wrap: wrap;
				
				li{
					width: 33.33%;
				}

				li a{

					&:before,
					&:after{
						font-size: 1em;
					}					
					
				}
			}			


		}
	}
}

	
}


////////////////////////

// モーダル

////////////////////////

/***********
modal
***********/

.career_modal{
	text-align: center;
}

.careerModal
{
	text-align: center;
	

	&_content
	// ,&_footerImg
	{
		@include liquid( 600, 980, true );
		
		@include breakpoint( tab ){
			width: auto;
		}				
	}

	&_header{
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
		font-size: 6em;
		color: $orange;
		font-family: $roboto;
		font-weight: 700;
		
		>span{
			margin-right: -16px;
			font-weight: 300;
		}

		&-vm{
			letter-spacing: 0.05em;
			font-weight: 600;
		}
		
		@include breakpoint( tab ){
			font-size: 4em;
			margin-bottom: 0;
		}
	}

	&_content
	{
		text-align: left;
		margin-bottom: 20px;
		&_index{
			margin-bottom: 1em;
			font-size: 2em;
			font-weight: 200;
			
			@include breakpoint( tab ){
				font-size: 1.4em;
			}			
		}
		&_text{
						
		}
	}

	&_footerImg{
		display: inline-block;
		line-height: 1;
		padding: 10px;
		position: relative;
		img{
			position: relative;
			z-index: 1
		}

		&_bg{
			width: 100%;
			height: 100%;
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			@extend %gradation;
			opacity: 0.2;
			
		}
	}
}

