////////////////////////////////////////
//modal
////////////////////////////////////////

%transformOrigin{
	transform-origin:  100% 100%;
}

.modal[data-modalIndex="1"]{
	.modalPrev{
		display: none;
	}
}
// .modal:last-of-type{
// 	.modalNext{
// 		display: none;
// 	}	
// }

.modal
{
	width: 100%;
	display: block;
	overflow: auto;
	// overflow-y: scroll;
	// overflow-x: hidden;
	// z-index: 50;
	top: 51px;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	transform: perspective(200) translate3d(0,0,10px) scale( 0.9 ) ;
	transition: transition( 0.35s );
	background: rgba( $yellow, 0.95 ) url(../img/pc/bg-triangle-l.svg) left -25% center no-repeat;
	background-size: 40%;
	
	
	&.active{
		// height: 100%;
		position: fixed;
		z-index: 50;
		opacity: 1;		
		transform: perspective(200) translate3d(0,0,0px) scale( 1 ) ;
		@include breakpoint( tab ){
			top: 56px
		}		
	}

	// &:first-of-type{
	// 	.modalPrev{
	// 		display: none;
	// 	}
	// }
	// &:last-of-type{
	// 	.modalNext{
	// 		display: none;
	// 	}
	// }

	a{
		color: inherit;
	}	

	@include breakpoint( tab ){
		height: auto;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		transition: transition( 0.5s );
		    
		padding-top: liquidSpace( 170 , 640 );
	}	

	&__wrap{
		width: 90%;
		margin-top: 3%;
		margin-right: auto;
		margin-bottom: 1%;
		margin-left: auto;
		display: table;
		
		// @include breakpoint( 1000 ){
		// 	margin-top: 1%;
		// 	margin-bottom: 1%;
		// }

		@include breakpoint( tab ){
			width: auto;
			margin-top: 0;
			margin-bottom: 0;
			display: block
		}
	}

	&__img,
	&__content{
		display: table-cell;
		vertical-align: top;
		
		
		@include breakpoint( 1000 ){
			vertical-align: middle;
		}		


		@include breakpoint( tab ){
			display: block
		}		
		
		// @include breakpoint( 700, max, height ){
		// 	vertical-align: middle;
		// }		
	}

	&__img{
		width: 45%;
		line-height: 1;
		
		@include breakpoint( 700, max, height ){

		}


		@include breakpoint( tab ){
			width: auto;
			margin-bottom: 5%;
		}		
	}
	&__content
	{
		// padding-top: 4%;
		padding-right: 5%;
		padding-left: 5%;
		
		&__index{
			line-height: 1;
			margin-bottom: 50px;
		}

		.gender{
			line-height: 1;
			display: inline-block;
			vertical-align: bottom;
			margin-left: 1em;
			font-family: 'Montserrat', Century Gothic;
			
			&:before{
				content: "/";
				margin-right: 0.5em;
				display: inline-block;
				vertical-align: bottom;
			}
			
			&--men{
				color: desaturate(lighten(skyblue, 1% ), 5)
			}
			&--lady{
				color: desaturate(lighten(#ff6592, 1% ), 5)
			}			
		}

		@include breakpoint( tab ){

			&__index{
				@include liquid( 210, 640 );	
				max-width: 80%;
				margin-right: auto;
				margin-bottom: liquidSpace( -40, 640 )!important;
				margin-left: auto;
				padding-top: liquidSpace( 60, 640 );
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
			}

		}
		@include breakpoint( 750, max, height ){
			&__index{
				max-width: 150px;
				margin-bottom: 25px;
			}			
		}
	}



	.itemlist
	{
		overflow: hidden;
		
		&__list{
			width: 50%;
			padding-top: 5px;
			padding-bottom: 5px;
			display: table;
			float: left;
			
			&:nth-child( odd ){
				clear: both;
			} 
		}

		a:hover{
			opacity: 0.5;
		}

		&__list__img,	
		&__list__text{
			display: table-cell;
			vertical-align: middle;
		}	
		&__list__img{
			width: 72px;
		}	
		&__list__text{
			padding-left: 1em;
			
			.itemname{
				margin-bottom: 1em;
				font-weight: bold;
			}
			.itemprice{
				margin-top: 0;
			}
		}

		@include breakpoint( tab ){
			&__list__img,	
			&__list__text{
				vertical-align: top;
			}	
			&__list__img{
				width: 45px;
			}	
		}			

		@include breakpoint( 700, max, height ){
			&__list{
				padding-top: 1px;
				padding-bottom: 1px;
			}
			&__list__img{
				width: 40px;
			}	
			&__list__text{
				.itemname{
					margin-bottom: 1px;
				}
				.itemprice{
					margin-bottom: 0
				}
			}
		}				
	}

	.modal__close{
		max-width: 72px;
			width: 50px;
			height: 50px;		
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
		bottom: 2%;
		left: 0;
		cursor: pointer;
		transition: transition();
		
		&:before,
		&:after{
			content: " ";
			width: 90%;
			line-height: 1;
			height: 4px;
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			transform-origin: 50% 50%;
			background-color: #000;
			transition: transition();
		}

		&:before{
			transform: rotate(45deg)
		}
		&:after{
			transform: rotate(-45deg)
		}

		&:hover{
			&:before{
				transform: rotate(-45deg)
			}
			&:after{
				transform: rotate(45deg)
			}				
		}


		&--top{
			margin-right: 0;
			display: block;
			top:liquidSpace( 25, 640 );
			right: 20px;
			bottom: 0;
			
		}
		
		&--footer{
			display: none;
			padding-bottom: 1em;
			clear: both;
			text-align: center
		}
		
		&:hover{
			opacity: 0.5;
		}

		@include breakpoint( tab ){
			&--top{
				width: 30px;
				height: 30px;
				top:liquidSpace( 35, 640 );				
			}
			&--footer{
				display: block;
				position: relative;
				bottom: 0;
			}				
		}

		@include breakpoint( 700, max, height ){
			&--footer{
				position: relative;
				bottom: 0;
			}			
		}		

	}

	.modal__icon{
		width: 25px;
		height: 50px;
		margin-top: auto;
		margin-bottom: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		
		cursor: pointer;
		transition: transition();
		
		@include breakpoint( tab ){
			display: none
		}		
		
		&:hover{
			opacity: 0.5;
			
			&.modal__icon--left:after{
				transform: skewX(40deg) rotate(-180deg);
			}
			&.modal__icon--left:before{
				transform: skewX(-40deg) rotate(180deg);
			}	
			&.modal__icon--right:after{
				transform: skewX(-40deg) rotate(180deg);
			}
			&.modal__icon--right:before{
				transform: skewX(40deg) rotate(-180deg);
			}			
		}


		&:before,
		&:after{
			content: " ";
			background-color: #122121;
			width: 1px;
			height: 50%;
			position: absolute;
			transition: transition();			
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}


		&--left{
			left: 2%;
		}
		&--left:after{
			transform: skewX(40deg);
		}
		&--left:before{
			transform: skewX(-40deg);
		}	

		&--right{
			right: 1%;
		}
		&--right:after{
			transform: skewX(-40deg);
		}
		&--right:before{
			transform: skewX(40deg);
		}
	}

	/////モバイル限定モーダルUI
	.modal__iconSection{
		position: relative;
		z-index: 5;
		overflow: hidden;
		padding-bottom: 20px;
		
		font-family:'Montserrat';
		font-weight: bold; 
		
		i{
			display: block;
			padding-bottom: 4px;
			border-bottom: solid 1px rgba(#000, 0.2)
		}

		&__prev{
			padding-left: 5px;
			float: left;
		}
		&__next{
			padding-right: 5px;
			float: right
		}

		@include breakpoint( tab ){
			padding-top: 10px			
		}			
	}
}